n8n-workflows/workflows/0Btpj3XL2SbiOFK7.json
{
  "updatedAt": "2026-05-16T22:41:47.604Z",
  "createdAt": "2026-05-16T22:30:39.309Z",
  "id": "0Btpj3XL2SbiOFK7",
  "name": "Shift Scheduler System",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -3152,
        448
      ],
      "id": "be24866e-75a7-45d5-8e5e-eafc4300765c",
      "name": "Telegram Trigger",
      "webhookId": "f37f48e2-e3c7-4b1e-8001-449f2f526883",
      "credentials": {
        "telegramApi": {
          "id": "jWtPMfK1IdxoMBYo",
          "name": "Telegram account (aetherdrive98_test_bot)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9d928ce-37ce-4a89-9dae-2b00ed475b90",
              "name": "first_name",
              "value": "={{ $('Telegram Trigger').item.json.message.from.first_name }}",
              "type": "string"
            },
            {
              "id": "d68f1f7b-b969-4cda-8588-098e513c1f80",
              "name": "last_name",
              "value": "={{ $('Telegram Trigger').item.json.message.from.last_name }}",
              "type": "string"
            },
            {
              "id": "8f2446f7-e6ab-4e24-94be-3e18e8fc4f41",
              "name": "userId",
              "value": "={{ $('Telegram Trigger').item.json.message.from.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1648,
        448
      ],
      "id": "0906eae0-ce92-47e0-a2fe-2b78410fa3f8",
      "name": "Telegram User Details"
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        -2064,
        272
      ],
      "id": "41bf63d7-a242-413d-8aed-1dc2adae3885",
      "name": "Transcribe a recording",
      "credentials": {
        "googlePalmApi": {
          "id": "lNYUNbpUefVcNyks",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2480,
        272
      ],
      "id": "9ac94311-337c-4a2d-898e-ff998c56b9c6",
      "name": "Get a file",
      "webhookId": "911e497d-8d78-4c3c-a0f2-58a430739de3",
      "credentials": {
        "telegramApi": {
          "id": "jWtPMfK1IdxoMBYo",
          "name": "Telegram account (aetherdrive98_test_bot)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  item.binary.data.mimeType = \"audio/ogg\"\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2272,
        272
      ],
      "id": "c576b3b3-a57e-4cef-9d0c-88b772125161",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    text: $input.first().json.content.parts.map(part => part.text).join('\\n')\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1856,
        272
      ],
      "id": "12ac7eaf-ea7b-4dd8-a7e6-29ef12400c26",
      "name": "Code1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ca68429e-fe3b-4f26-aac7-387d2ee25d56",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "74202af2-829d-43d4-8c14-18a78f36a570"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2704,
        448
      ],
      "id": "f128045b-956a-4327-884f-3624d3ff2acd",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb525851-8692-46f6-9b58-ddad0f9d1097",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.text || $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1648,
        272
      ],
      "id": "4374d535-ab48-4b58-aa7f-2a08678a2299",
      "name": "Telegram Text"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1440,
        368
      ],
      "id": "dc1f8ee5-f1f9-4e51-9afc-a846d055f90f",
      "name": "Merge"
    },
    {
      "parameters": {
        "command": "=curl -X POST \"https://api.telegram.org/bot<YOUR_BOT_TOKEN>/deleteWebhook\"\n\ncurl -X POST \"https://api.telegram.org/bot<YOUR_BOT_TOKEN>/setWebhook\" \\\n  -d \"url=https://your-domain.com/webhook/telegram-bot\"\n\ncurl \"https://api.telegram.org/bot<YOUR_BOT_TOKEN>/getWebhookInfo\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "e7197d9a-a3a1-4dc1-a418-dde775be5e74",
      "name": "Execute Command",
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Intelligent Routing Agent\n\nYou are an intelligent routing agent that directs user requests to appropriate tools based on their input.\n\n## INPUT VARIABLES:\n- **User Text**: `{{ $json.text }}`\n- **User First Name**: `{{ $json.first_name }}`\n- **User Last Name**: `{{ $json.last_name }}`\n- **User ID/Chat ID**: `{{ $json.userId }}`\n\n## ROUTING LOGIC:\n\n{{ (() => {\n  if ($json.text?.startsWith('/start')) {\n    return `\n      ### **Welcome Flow**\n      **Trigger**: User input is \"/start\"\n      **Actions**: \n      1. Call **Telegram Message Sender** (once only), action=\"welcome\", weekday = \"Monday\"\n      2. Then call **User Database Handler** (once only), action=\"welcome\"\n      3. Call **Telegram Message Sender** (once only), action=\"schedule_welcome\", and weekday = a single weekday from **User Database Handler** tool, if all weekdays are scheduled, then send empty string\n    `;\n  } else if ($json.text?.startsWith('/help')) {\n     return `\n      ### **Help Request**\n      **Trigger**: User input is \"/help\" \n      **Actions**: \n      1. Call **Telegram Message Sender** (once only), action=\"help\"\n    `;\n  } else if ($json.text?.startsWith('/schedule')) {\n     return `\n      ### **Scheduling Requests**\n      **Trigger**: User input starts with \"/schedule\"\n      **Actions**: \n      1. Call **User Database Handler** (once only), action=\"schedule\"\n      2. Then call **Telegram Message Sender** (once only), action=\"schedule_welcome\", and weekday = a single weekday from **User Database Handler** tool, if all weekdays are scheduled, then send empty string\n    `;\n  } else if ($json.text?.startsWith('/view-schedule')) {\n     return `\n      ### **Scheduling Requests**\n      **Trigger**: User input starts with \"/view-schedule\"\n      **Actions**: \n      1. Call **User Database Handler** (once only), action=\"view_schedule\", to get the current schedule\n      2. Don't call **Telegram Message Sender**\n    `;\n  } else {\n    return `\n      ### **Conversational Requests**\n      **Actions**: \n      1. Call **Retrieve User Information** tool to get latest_question_summary\n      2. Analyze the input '${$json.text}' and latest_question_summary to determine intent:\n         - IF input and question summary relates to scheduling, then set action = 'schedule_entry', else if it relates to timesheet, then set action = 'timesheet', else if it relates to start of the day report or end of the day report, then set action = 'report'\n         - ELSE -> set action = 'other'\n      3. If latest_question_summary is not empty, set question_asked=\"true\", else set question_asked=\"false\", and send it to **Conversational Message Handler** tool\n    `;\n  }\n})().replace(/^\\s+/gm, '').trim() }}\n\n## CRITICAL RULES:\n- **Call each tool only ONCE per user input**\n- **DO NOT call multiple tools simultaneously**  \n- **Use exact tool names as specified above**\n- **Pass all user variables to called tools**\n- **Route based on intent, not just exact commands**\n\n## OUTPUT FORMAT:\nProvide execution log in this exact format:\n\n```\n[{{ $now }}] [ID:{{ $json.userId }}]: TOOL_NAME - Action: ACTION_DESCRIPTION - Input: {INPUT_SUMMARY} - Output: {OUTPUT_SUMMARY}\nFormat Rules:\n- Use exact timestamp: {{ $now }}\n- Use exact user ID: {{ $json.userId }}\n- Keep descriptions concise\n- Include square brackets exactly as shown\n- Single line per tool execution\n\nExample Output:\n\n[2025-08-08T15:30:45.123Z] [ID:7519660825]: Welcome_Message_Sender - Action: Sent welcome message to new user - Input: {User command: \"/start\"} - Output: {Welcome message delivered to chat 7519660825}\n```",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -1232,
        368
      ],
      "id": "596c4467-24f0-4ede-93eb-d08b7a9e79b6",
      "name": "Intelligent Routing System"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Send a help text message to the user",
        "chatId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Chat_ID', ``, 'string') }}",
        "text": "=<b>🤖 Hi there! Here’s how you can chat with me directly:</b>\n\nClick on one of the triggers to start communication in one of the task below:\n\n• <b>/help</b> — Show this help message again\n• <b>/schedule</b> — Setting up intern's schedule\n• <b>/update_schedule</b> — To update the current schedule\n• <b>/view_schedule</b> — View the current schedule for the week\n\nTry sending me a message or voice note to get started!",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        -1680,
        1184
      ],
      "id": "04a278d0-fb77-4a66-9540-63de51ce2823",
      "name": "Send help message",
      "webhookId": "4368bb7a-577c-44a2-98e4-1eef8df46d40",
      "credentials": {
        "telegramApi": {
          "id": "jWtPMfK1IdxoMBYo",
          "name": "Telegram account (aetherdrive98_test_bot)"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "You are a agent who manages sending various kinds of predefined or dynamic messages to the telegram user.",
        "text": "=# Telegram Message Sender\n\nYou are an agent that sends messages to the telegram user.\n\n## INPUT VARIABLES:\n- **User Text**: `{{ $json.text }}`\n- **User First Name**: `{{ $json.first_name }}`\n- **User Last Name**: `{{ $json.last_name }}`\n- **User ID/Chat ID**: `{{ $json.userId }}`\n- **Action**: `{{ $fromAI('action', `Action variable to help determine executing specific tool for same user input`, 'string') }}`\n\n## ROUTING LOGIC:\n\n{{ (() => {\n  const action = $fromAI('action', `Action variable to help determine executing specific tool for same user input`, 'string');\n  if (action === \"welcome\") {\n    return `\n      ### **Welcome Message**\n      **Trigger**: User input is \"/start\"\n      **Actions**: \n      1. Call **Send welcome text message** (once only)\n      2. Call **Send Bot Typing** (once only)\n      3. Don't call **Send help message**, **Send Text Message**\n    `;\n  } else if (action === \"help\") {\n    return `\n      ### **Help Message**\n      **Trigger**: User input is \"/help\"\n      **Actions**: \n      1. Call **Send help message** (once only)\n      2. Don't call **Send welcome text message**, **Send Text Message**, **Send Bot Typing**\n    `;\n  } else if (action === \"schedule_welcome\") {\n    const name = $json.first_name;\n    const shift = $fromAI('shift', `Variable for the timesheet entry which is set to 'start' or 'end' for notifying the start of shift or end of sheet respectively`, 'string');\n    const weekday = $fromAI('next_weekday', `Next weekday for which the timings are to be obtained from user`, 'string');\n\n    return `\n      ### **Schedule Intro Message**\n      **Trigger**: Action is \"schedule_welcome\"\n      **Actions**: \n      1. Send text message to **Send Text Message**\n      2. Don't call **Send welcome text message**, **Send help message**, **Send Bot Typing**\n\n      **Welcome Message Format**:\n      \"\"\"\n      Welcome to the Scheduling System! 👋\n      \\u200B\n      ${weekday !== '' ? `\n        Hi ${name}, I'll help you set up your weekly shift schedule. I'll ask you about each day of the week to get your work timings.\n        \\u200B\n        Let's get started!\n        \\u200B\n        What are your shift timings for ${weekday}? (Please provide start time and end time, e.g., 9:00 AM - 5:00 PM, or type 'off' if you don't work that day)?\n      ` : `Hi ${name}, All your shifts are now set up! 🎉`}\n      \"\"\"\n    `;\n  } else if (action === \"schedule\") {\n    const name = $json.first_name;\n    const weekday = $fromAI('next_weekday', `Next weekday for which the timings are to be obtained from user`, 'string');\n\n    return `\n      ### **Schedule Message**\n      **Trigger**: Action is \"schedule\"\n      **Actions**: \n      1. Make a decision and send the text message to **Send Text Message**\n      2. Don't call **Send welcome text message**, **Send help message**, **Send Bot Typing**\n\n      **Message Format**:\n      \"\"\"\n      ${weekday !== '' ? `\n        ✅ Great! I've saved your [WEEKDAY] shift: [START_TIME] - [END_TIME]\n        OR\n        ✅ Got it! [WEEKDAY] is marked as your day off.\n        \\u200B\n        What are your shift timings for ${weekday}? (Please provide start time and end time, e.g., 9:00 AM - 5:00 PM, or type 'off' if you don't work that day)?` : 'All your shifts are now set up! 🎉'}\n        \n      \"\"\"\n    `;\n  } else if (action === \"timesheet\") {\n    const name = $json.first_name;\n    const weekday = $fromAI('next_weekday', `Next weekday for which the timings are to be obtained from user`, 'string');\n\n    return `\n      ### **Timesheet Message**\n      **Trigger**: Action is \"timesheet\"\n      **Actions**: \n      1. Send the text message to **Send Text Message**\n      2. Don't call **Send welcome text message**, **Send help message**, **Send Bot Typing**\n\n      **Message Format**:\n      \"\"\"\n      Hello ${name},\n      \\u200B\n      Thanks for the confirmation!\n      Your timesheet entry has been noted. 🎉\n      ${weekday !== '' ? `\n        \\u200B\n        What are the tasks for today? (Explain briefly)\n      ` : `\n        \\u200B\n        What tasks did you complete today? (Explain briefly)\n      `}\n      \"\"\"\n    `;\n  } else if (action === \"start_report\" || action === \"end_report\") {\n    const name = $json.first_name;\n    const weekday = $fromAI('next_weekday', `Next weekday for which the timings are to be obtained from user`, 'string');\n\n    return `\n      ### **Report Received Message**\n      **Trigger**: Action is \"start_report\" or \"end_report\"\n      **Actions**: \n      1. Send the text message to **Send Text Message**\n      2. Don't call **Send welcome text message**, **Send help message**, **Send Bot Typing**\n\n      **Message Format**:\n      \"\"\"\n      Your report has been saved!\n      \"\"\"\n    `;\n  } else {\n    return '';\n  }\n})().replace(/^\\s+/gm, '') }}\n\n## EXECUTION SAFETY RULES:\n- **NEVER skip** the execution tracking protocol\n- **ONE execution cycle per user input** - no loops or repetitions\n\n## OUTPUT FORMAT:\nRespond with which tool called",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -1872,
        944
      ],
      "id": "93ba380d-aea5-4833-8005-1dc51d79dec8",
      "name": "Telegram Message Sender"
    },
    {
      "parameters": {
        "toolDescription": "AI Agent that handles user database like user details, and their shift information",
        "text": "=# User Database Handler\n\nYou are an agent that handles user database like user details, and their shift information.\n\n## INPUT VARIABLES:\n- **User Text**: `{{ $json.text }}`\n- **User First Name**: `{{ $json.first_name }}`\n- **User Last Name**: `{{ $json.last_name }}`\n- **User ID/Chat ID**: `{{ $json.userId }}`\n- **Timezone**: `Asia/Kolkata`\n\n## ROUTING LOGIC:\n\n{{ (() => {\n  const action = $fromAI('action', `Action variable to help determine executing specific tool for same user input`, 'string');\n  if (action === \"welcome\" || action === \"schedule\") {\n    return `\n      ### **Welcome Message**\n      **Trigger**: User input is \"/start\"\n      **Actions**: \n      1. Call **Add New User** tool (run once)\n      2. Don't call **Add Shift Entry**, **Retrieve User Information**, **View Schedule**, and **Add / Update Timesheet Entry** tool\n    `;\n  } else if (action === \"view_schedule\") {\n    return `\n      ### **View Schedule**\n      **Trigger**: View the current schedule of the user.\n      **Actions**: \n      1. **First**: Call **View Schedule** to view the current intern schedule\n      2. Don't call **Retrieve User Information**, **Add New User**, and **Add Shift Entry** tools.\n    `;\n  } else if (action === \"schedule_entry\") {\n    return `\n      ### **Set Scheduled Shift**\n      **Trigger**: Action is scheduling-related content like timings, or day-off\n      **Parameters**: \n      \\u200B  - \"user_id\" (string) = ${$json.userId}\n      \\u200B  - \"weekday\" (string) = day name (e.g., \"Monday\")  \n      \\u200B  - \"start_time\" (string) = formatted time (e.g., \"9:00 AM\")\n      \\u200B  - \"end_time\" (string) = formatted time (e.g., \"5:00 PM\")\n      \\u200B  - \"day_off\" (boolean) = false\n      \\u200B  - \"time_zone\" (string) = \"Asia/Kolkata\"\n      **Parameter Extraction Rules**:\n        - **IF user says \"off\", \"day off\", \"no work\", \"holiday\", \"rest day\"**: \n        \\u200B  - \"day_off\" = true, \"start_time\" = \"\", \"end_time\" = \"\"\n        - **IF user provides times**: \n        \\u200B  - Parse and format times, \"day_off\" = false\n      **Steps**: \n      1. **First**: Extract data as per extraction rules from the input, and call \"Retrieve User Information\" tool to get weekday from **latest_question_summary** field,\n      2. After extracting the data, call \"Add Shift Entry\" tool (run once)\n      2. Don't call **Add / Update Daily Report**, **Add New User**, **View Schedule**, and **Add / Update Timesheet Entry** tool\n    `;\n  } else if (action === \"timesheet\") {\n    return `\n      ### **Intern Timesheet Handler**\n      **Trigger**: Action is timesheet-related responses like confirmation (yes or no), daily tasks\n      **Parameter Extraction Rules**:\n        - **IF user confirms with \"yes\", \"started working\", \"holiday\", \"rest day\" and latest_question_summary mentions \"started working\"**: \n        \\u200B  - \"date\" = \"${$now.format('yyyy-MM-dd')}\"\", \"start_time\" = \"${$now.format('hh:mm')}\", \"end_time\" = \"\"\n        - **Else iF user confirms with \"yes\", \"no\", \"finished working\", \"end\", \"done\" and latest_question_summary mentions \"ended working\"**:\n        \\u200B  - \"date\" = \"${$now.format('yyyy-MM-dd')}\", \"start_time\" = \"\", \"end_time\" = \"${$now.format('hh:mm')}\"\n      **Actions**: \n      1. **First**: Call **Retrieve User Information**, and get latest_question_summary, and then extract data as per extraction rules from the input and latest_question_summary\n      2. **Second**: Then call **Add / Update Timesheet Entry** to save the extracted data\n      3. Don't call **Add / Update Daily Report**, **Add New User**, **View Schedule**, and **Add Shift Entry** tools.\n    `;\n  } else if (action === \"start_report\" || action === \"end_report\") {\n    return `\n      ### **Intern Timesheet Handler**\n      **Trigger**: Action is to save daily start and end of the day reports\n      **Actions**: \n      1. **First**: Call **Add / Update Daily Report** to save the intern daily report, to send the intern report and type of report => \"${action}\"\n      2. Don't call **Retrieve User Information**, **Add New User**, **View Schedule**, and **Add Shift Entry** tools.\n    `;\n  } else {\n    return '';\n  }\n})().replace(/^\\s+/gm, '') }}\n## EXECUTION SAFETY RULES:\n- **SEQUENTIAL ONLY**: Complete Step 1 -> Complete Step 2 -> Complete Step 3, and so on.\n- **NEVER skip** the execution tracking protocol\n- **ONE execution cycle per user input** - no loops or repetitions\n- **ONE TOOL PER STEP**: Each step calls exactly one tool (strictly)\n- **WAIT BETWEEN STEPS**: Do not proceed to next step until current step is fully complete\n- **NO ADDITIONAL TOOLS**: Only call the tools explicitly specified in each step, don't call any other tool when not required.\n\n## OUTPUT FORMAT:\nRespond with which tools were called and weekday obtained from **Retrieve Next Weekday** tool if required",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -1312,
        944
      ],
      "id": "70a3fff6-7ef8-488b-915e-f7f12fbbcf86",
      "name": "User Database Handler",
      "executeOnce": true
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Sends a welcome text message when new user joins the group",
        "chatId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Chat_ID', ``, 'string') }}",
        "text": "=Welcome Intern!\n<b>{{ $json.first_name }} {{ $json.last_name }}</b>\n\nWe’re excited to have you join the team at <b>SmartCookie</b> 🚀\n\nHere’s what your workflow will look like:\n🗓️ Every day:\n- At the <b>start of your shift</b>, you’ll receive a prompt to submit your <b>daily task plan</b>.\n- At the <b>end of your shift</b>, you’ll be asked to submit an <b>End-of-Day (EOD) status report</b>.\n\n🧭 This bot will help you:\n✅ Stay on track with daily tasks  \n📬 Receive automated reminders  \n📊 Submit reports that your mentor and team leads can review\n\n🧑‍💻 Assigned Team: {{ $json.team_name || 'Unassigned' }}  \n👤 Assigned Team Lead: {{ $json.team_leader_name || 'Unassigned' }}  \n📅 Start Date: {{ $today.format('yyyy-MM-dd') }}\n\nIf you have any questions, feel free to message here or reach out to your mentor. We're here to support you at every step of your internship 💪\n\nIf you need help or further instructions, just type <b>/help</b> at any time.\n\nLet’s make this a great learning experience together!\n\n<i>— The SmartCookie Team</i>",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        -1504,
        1184
      ],
      "id": "ffebf68e-f8bf-4648-bfcc-a790acc342ce",
      "name": "Send welcome text message",
      "webhookId": "4c33f0eb-88d2-4478-af3f-2708b307a1bd",
      "credentials": {
        "telegramApi": {
          "id": "jWtPMfK1IdxoMBYo",
          "name": "Telegram account (aetherdrive98_test_bot)"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1aSbdKBykS2tU1gDdx-KRz9D7SdH8AAK3dmvdb7Ta_DM",
          "mode": "list",
          "cachedResultName": "Intern List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aSbdKBykS2tU1gDdx-KRz9D7SdH8AAK3dmvdb7Ta_DM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Intern List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aSbdKBykS2tU1gDdx-KRz9D7SdH8AAK3dmvdb7Ta_DM/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "user_id",
              "lookupValue": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.6,
      "position": [
        -896,
        880
      ],
      "id": "bc00469a-afcd-42f5-a0d7-3a8504c91fe0",
      "name": "Retrieve User Information",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AEguwTTY1RKTQyzO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.userId }}",
        "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Text', ``, 'string') }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        -1680,
        1392
      ],
      "id": "11ab42a5-b7f3-4cc4-9e14-e4c7a69a8e3c",
      "name": "Send Text Message",
      "webhookId": "b2503730-b475-42a0-bb7e-6795d8a484ad",
      "credentials": {
        "telegramApi": {
          "id": "jWtPMfK1IdxoMBYo",
          "name": "Telegram account (aetherdrive98_test_bot)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -2064,
        624
      ],
      "id": "050d0453-b2cd-4b64-8e69-bd26e9a29cc5",
      "name": "When chat message received",
      "webhookId": "6b629abb-a6ba-46e0-a39f-5fcc47b3490e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2bd85e0-c6d1-4723-861b-2db52dd1ed44",
              "name": "text",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "bf1e2aa1-59e9-479d-b513-8d25e2fc352c",
              "name": "userId",
              "value": "7519660825",
              "type": "string"
            },
            {
              "id": "e1ac886d-82fa-4df7-9ef6-71c3ebc95121",
              "name": "first_name",
              "value": "Atharva",
              "type": "string"
            },
            {
              "id": "58100700-5cab-49cc-8817-195c39eddc9a",
              "name": "last_name",
              "value": "Devasthali",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1856,
        624
      ],
      "id": "39e9c39f-c916-4cc3-b27e-7332d1c5c742",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3.1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -720,
        880
      ],
      "id": "fa6c2e18-b776-4665-90db-a6393401bebe",
      "name": "OpenRouter Chat Model7",
      "credentials": {
        "openRouterApi": {
          "id": "dDI8yv8WTuoF2LZH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "AI Agent that handles Conversational type of input from telegram",
        "text": "=# Conversational Message Handler\n\nYou are a Conversational message handler that manages what response to give the user based on the input and maybe the last question asked by the bot.\n\n## INPUT VARIABLES:\n- **User Text**: `{{ $json.text }}`\n- **User First Name**: `{{ $json.first_name }}`\n- **User Last Name**: `{{ $json.last_name }}`\n- **User ID/Chat ID**: `{{ $json.userId }}`\n\n## ROUTING LOGIC:\n\n{{ (() => {\n  const action = $fromAI('action', `Action variable to help determine executing specific tool for same user input`, 'string');\n  const question_asked = $fromAI('question_asked', `Check if the question was asked to the user`, 'string');\n\n  if ((action === 'schedule_entry' || action === 'timesheet') && question_asked === \"true\") {\n    return `\n      ### **Conversational Requests**\n      **Actions**: \n      1. Call **User Database Handler** (once only), with action = \"${action}\"${action === 'timesheet' ? ', get if the timesheet entry is from start of shift or end of sheet' : ''}.\n      2. Then, call **Telegram Message Sender** (once only), action=\"${action}\", and next_weekday = a single weekday from (from step 2 only), if all weekdays are scheduled, then send empty string\n    `;\n  } else if ((action === 'report') && question_asked === \"true\") {\n    const report_type = $fromAI('report_type', `Get the type of the report, check if the type is start_report for start of the day, else end_report for end of the day`, 'string');\n    return `\n      ### **Conversational Requests**\n      **Actions**: \n      1. Call **User Database Handler** (once only), with action = \"${report_type}\".\n      2. Then, call **Telegram Message Sender** (once only), action=\"${report_type}\", and next_weekday = a single weekday from (from step 2 only), if all weekdays are scheduled, then send empty string\n    `;\n  } else {\n    return `\n      ### **Conversational Requests**\n      **Actions**: \n      1. Call **Telegram Message Sender** (once only), send a message saying welcoming intern and asking if he needs any help.\n      2. Don't call **User Database Handler** tool.\n    `;\n  }\n})().replace(/^\\s+/gm, '').trim() }}\n\n## EXECUTION SAFETY RULES:\n- **SEQUENTIAL ONLY**: Complete Step 1 → Wait → Complete Step 2 → Wait → Complete Step 3, and so on.\n- **NEVER skip** the execution tracking protocol\n- **ONE execution cycle per user input** - no loops or repetitions\n- **ONE TOOL PER STEP**: Each step calls exactly one tool (or performs analysis)\n- **WAIT BETWEEN STEPS**: Do not proceed to next step until current step is fully complete\n- **NO ADDITIONAL TOOLS**: Only call the tools explicitly specified in each step, don't call any other tool when not required.\n\n## OUTPUT FORMAT:\nRespond with which tools were called and weekday obtained from **Retrieve Next Weekday** tool",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 2.2,
      "position": [
        -720,
        656
      ],
      "id": "174cf402-89d7-4a5c-961a-cd2d77f490db",
      "name": "Conversational Message Handler"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Pij1AzsZXbQUbOuD",
          "mode": "list",
          "cachedResultName": "Add New User"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user_id', ``, 'string') }}",
            "first_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('first_name', ``, 'string') }}",
            "last_name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('last_name', ``, 'string') }}",
            "timezone": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('timezone', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "last_name",
              "displayName": "last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "timezone",
              "displayName": "timezone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1024,
        1184
      ],
      "id": "2070dacb-a87d-41f7-89d1-b19f6b02f42f",
      "name": "Add New User"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NhVwEm87HdNR8f73",
          "mode": "list",
          "cachedResultName": "Add New Shift (Sub-Workflow)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "day_off": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('day_off', ``, 'boolean') }}",
            "weekday": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('weekday', ``, 'string') }}",
            "start_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start_time', ``, 'string') }}",
            "end_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end_time', ``, 'string') }}",
            "user_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user_id', ``, 'string') }}"
          },
          "matchingColumns": [
            "userId"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "weekday",
              "displayName": "weekday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "end_time",
              "displayName": "end_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "day_off",
              "displayName": "day_off",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -880,
        1184
      ],
      "id": "e9452af9-eb59-4458-83bd-72f40bff22ee",
      "name": "Add Shift Entry"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "nUO8zdxVPeos3jIl",
          "mode": "list",
          "cachedResultName": "Add / Update Timesheet Entry (Sub-Workflow)"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user_id', ``, 'string') }}",
            "date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('date', ``, 'string') }}",
            "start_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('start_time', ``, 'string') }}",
            "end_time": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('end_time', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "end_time",
              "displayName": "end_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -736,
        1184
      ],
      "id": "882ef384-dbcf-41e4-bf6b-77a3d6a4c0ed",
      "name": "Add / Update Timesheet Entry"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "CJVvi14DsvnNYoyH",
          "mode": "list",
          "cachedResultName": "Add / Update Daily Report"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user_id', ``, 'string') }}",
            "daily_report": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('daily_report', ``, 'string') }}",
            "report_type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('report_type', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "daily_report",
              "displayName": "daily_report",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "report_type",
              "displayName": "report_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -1024,
        1360
      ],
      "id": "06814baa-40d6-401f-8b81-f53371689e17",
      "name": "Add / Update Daily Report"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7rbdOh5bvWehSHvC",
          "mode": "list",
          "cachedResultName": "View Schedule"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "user_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('user_id', ``, 'string') }}"
          },
          "matchingColumns": [
            "user_id"
          ],
          "schema": [
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -880,
        1360
      ],
      "id": "fbe645c4-4303-4b0c-92cd-813c48e107d9",
      "name": "View Schedule"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    output: $input.first().json.output.replaceAll('```', '').replaceAll('\\n', '')\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        368
      ],
      "id": "add0ccf4-036d-412e-afdf-0b00a9938d59",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1aSbdKBykS2tU1gDdx-KRz9D7SdH8AAK3dmvdb7Ta_DM",
          "mode": "list",
          "cachedResultName": "Intern List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aSbdKBykS2tU1gDdx-KRz9D7SdH8AAK3dmvdb7Ta_DM/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1855410028,
          "mode": "list",
          "cachedResultName": "LogFile",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1aSbdKBykS2tU1gDdx-KRz9D7SdH8AAK3dmvdb7Ta_DM/edit#gid=1855410028"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "log_entry": "={{ $json.output }}"
          },
          "matchingColumns": [
            "log_entry"
          ],
          "schema": [
            {
              "id": "log_entry",
              "displayName": "log_entry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -688,
        368
      ],
      "id": "4b4be964-c836-4740-b1c2-0e2b66ae9f18",
      "name": "Log Actions Performed",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "AEguwTTY1RKTQyzO",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3.1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1312,
        608
      ],
      "id": "08df0037-66c4-41cb-8928-d5a27ca8b460",
      "name": "Deepseek Model (Free)",
      "credentials": {
        "openRouterApi": {
          "id": "dDI8yv8WTuoF2LZH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1152,
        608
      ],
      "id": "88e98a40-185a-4877-b76f-6b66f112989b",
      "name": "OpenAI Model (Paid)",
      "credentials": {
        "openRouterApi": {
          "id": "dDI8yv8WTuoF2LZH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3.1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -2016,
        1184
      ],
      "id": "a3eff13e-bbd6-4e1a-a1f3-bea280e3534f",
      "name": "Deepseek Model (Free)1",
      "credentials": {
        "openRouterApi": {
          "id": "dDI8yv8WTuoF2LZH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1856,
        1184
      ],
      "id": "dd7ab106-ff38-4d47-bfd1-d08fb7b7d21b",
      "name": "OpenAI Model (Paid)1",
      "credentials": {
        "openRouterApi": {
          "id": "dDI8yv8WTuoF2LZH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "deepseek/deepseek-chat-v3.1:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1328,
        1184
      ],
      "id": "2d67d505-a0f7-4bd9-89f2-70a061e8ff63",
      "name": "Deepseek Model (Free)2",
      "credentials": {
        "openRouterApi": {
          "id": "dDI8yv8WTuoF2LZH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1168,
        1184
      ],
      "id": "a07f248a-ed9a-425a-9732-4e9c31181841",
      "name": "OpenAI Model (Paid)2",
      "credentials": {
        "openRouterApi": {
          "id": "dDI8yv8WTuoF2LZH",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -2928,
        448
      ],
      "id": "a4ceabe2-63f7-42e3-8ae2-0f3ded30a4a5",
      "name": "Send a chat action",
      "webhookId": "f7f31fe9-2ba9-4635-b435-97a0131e3d48",
      "credentials": {
        "telegramApi": {
          "id": "jWtPMfK1IdxoMBYo",
          "name": "Telegram account (aetherdrive98_test_bot)"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Chat_ID', ``, 'string') }}",
        "action": "=typing"
      },
      "type": "n8n-nodes-base.telegramTool",
      "typeVersion": 1.2,
      "position": [
        -1504,
        1392
      ],
      "id": "e041263e-e0c2-406b-a859-e14fd5c14274",
      "name": "Send Bot Typing",
      "webhookId": "c91ba8de-8f89-410c-b91b-b6ee6f2bec2f",
      "credentials": {
        "telegramApi": {
          "id": "jWtPMfK1IdxoMBYo",
          "name": "Telegram account (aetherdrive98_test_bot)"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Send a chat action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram User Details": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Telegram Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Text": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Intelligent Routing System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send help message": {
      "ai_tool": [
        [
          {
            "node": "Telegram Message Sender",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Message Sender": {
      "ai_tool": [
        [
          {
            "node": "Intelligent Routing System",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Conversational Message Handler",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "User Database Handler": {
      "ai_tool": [
        [
          {
            "node": "Intelligent Routing System",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Conversational Message Handler",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send welcome text message": {
      "ai_tool": [
        [
          {
            "node": "Telegram Message Sender",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve User Information": {
      "ai_tool": [
        [
          {
            "node": "Intelligent Routing System",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "User Database Handler",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Send Text Message": {
      "ai_tool": [
        [
          {
            "node": "Telegram Message Sender",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Intelligent Routing System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "Conversational Message Handler",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Conversational Message Handler": {
      "ai_tool": [
        [
          {
            "node": "Intelligent Routing System",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add New User": {
      "ai_tool": [
        [
          {
            "node": "User Database Handler",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add Shift Entry": {
      "ai_tool": [
        [
          {
            "node": "User Database Handler",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add / Update Timesheet Entry": {
      "ai_tool": [
        [
          {
            "node": "User Database Handler",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Add / Update Daily Report": {
      "ai_tool": [
        [
          {
            "node": "User Database Handler",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "View Schedule": {
      "ai_tool": [
        [
          {
            "node": "User Database Handler",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Intelligent Routing System": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Log Actions Performed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deepseek Model (Free)": {
      "ai_languageModel": [
        [
          {
            "node": "Intelligent Routing System",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model (Paid)": {
      "ai_languageModel": [
        [
          {
            "node": "Intelligent Routing System",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Deepseek Model (Free)1": {
      "ai_languageModel": [
        [
          {
            "node": "Telegram Message Sender",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model (Paid)1": {
      "ai_languageModel": [
        [
          {
            "node": "Telegram Message Sender",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Deepseek Model (Free)2": {
      "ai_languageModel": [
        [
          {
            "node": "User Database Handler",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model (Paid)2": {
      "ai_languageModel": [
        [
          {
            "node": "User Database Handler",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Send a chat action": {
      "main": [
        [
          {
            "node": "Telegram User Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Bot Typing": {
      "ai_tool": [
        [
          {
            "node": "Telegram Message Sender",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3fcc524a2177e7ddb4a539aaa7c79d9f30b9b0ada55dc8bc7dd873b11ec37e51"
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "9aa027e9-4b5c-4cd4-a513-775a5f092e49",
  "activeVersionId": null,
  "versionCounter": 2,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2026-05-16T22:30:39.309Z",
      "createdAt": "2026-05-16T22:30:39.309Z",
      "role": "workflow:owner",
      "workflowId": "0Btpj3XL2SbiOFK7",
      "projectId": "i6SPWKiaev6Io6So",
      "project": {
        "updatedAt": "2026-05-16T22:27:54.117Z",
        "createdAt": "2026-05-16T22:26:58.253Z",
        "id": "i6SPWKiaev6Io6So",
        "name": "Atharva Devasthali <atharvadevasthali22@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "bbfd9b91-c218-420f-985d-bbb81f401ca4"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  },
  "parentFolder": "Schedule Management System",
  "parentFolderId": "72Xd3lko9CSEbz5e"
}
