n8n-workflows/workflows/2Kbv7D61qx6QiovN.json
{
  "updatedAt": "2026-06-12T18:09:58.521Z",
  "createdAt": "2026-05-16T22:31:04.307Z",
  "id": "2Kbv7D61qx6QiovN",
  "name": "Job Scrapper",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1392,
        688
      ],
      "id": "eec928a2-2179-4bbb-865c-733676e61208",
      "name": "Split Out",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const maxPages = $input.first().json.maxPages;\nconst pages_scrapped = $('Save Variables').first().json.pages_scrapped;\n\nreturn [...Array(maxPages).keys()].map(x => {\n  return {\n    json: {\n      start: (pages_scrapped + x) * 10,\n      query: $input.first().json.query,\n      before: $input.first().json.before,\n      after: $input.first().json.after\n    }\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        688
      ],
      "id": "57cb66f3-2e48-47dc-b204-a795ef166165",
      "name": "Code1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1824,
        688
      ],
      "id": "350dab67-521b-458e-8255-9004ee261517",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/customsearch/v1",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyBzQG264uhSL7E3lBdJwh4NW-1Z3KqZzes"
            },
            {
              "name": "cx",
              "value": "32e703348c7a54cc1"
            },
            {
              "name": "q",
              "value": "={{ $json.query }}"
            },
            {
              "name": "start",
              "value": "={{ $json.start }}"
            },
            {
              "name": "dateRestrict",
              "value": "=d{{ $json.before }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1600,
        688
      ],
      "id": "3c2c88eb-3b89-4cd1-8348-c36ac3cf81e0",
      "name": "Google Search"
    },
    {
      "parameters": {
        "jsCode": "const substrings = [\"hiring\", \"in\", \"|\"];\n\nreturn $input.all()\n  .filter(item => {\n    const title = item.json.pagemap?.metatags?.[0]?.['twitter:title'] || '';\n    return substrings.every(sub => title.includes(sub));\n  })\n  .map(item => {\n    const title = item.json.pagemap.metatags[0]['twitter:title'];\n    const titleParts = title.split(' hiring ');\n    const company_name = titleParts[0] || '';\n\n    let position = '';\n    let location = '';\n    if (titleParts[1]) {\n      const titleSubParts = titleParts[1].split(' |')[0].split(' in ');\n      position = titleSubParts[0] || '';\n      location = titleSubParts[1] || '';\n    }\n\n    return {\n      json: {\n        title: title,\n        company_name: company_name,\n        position: position,\n        location: location,\n        link: item.json.link\n      }\n    };\n  });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        688
      ],
      "id": "3eb55112-6c6c-40be-b2bc-6b9525873ade",
      "name": "Extract Data"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const title = item.json.pagemap?.metatags?.[0]?.['twitter:title']\n      || item.json.pagemap?.metatags?.[0]?.['og:title']\n      || item.json.title;\n  return {\n    json: {\n      title: title,\n      link: item.json.link\n    }\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        336
      ],
      "id": "6d970c24-1d39-42df-ac30-fd8f9ec239b9",
      "name": "Extract Data1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        192,
        176
      ],
      "id": "650e8484-16ba-42a0-b8e6-ba3c65622943",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "let jobPortal;\n\nif ($input.first().json.scrape_by_weekday) {\n  const dayOfWeek = $input.first().json.weekday;\n  \n  switch (dayOfWeek) {\n    case \"Monday\":\n      jobPortal = \"Foundit\";\n      break;\n    case \"Tuesday\":\n      jobPortal = \"Naukri\";\n      break;\n    case \"Wednesday\":\n      jobPortal = \"Internshala\";\n      break;\n    case \"Thursday\":\n      jobPortal = \"FresherWorld\";\n      break;\n    case \"Friday\":\n      jobPortal = \"Foundit\";\n      break;\n    case \"Saturday\":\n      jobPortal = \"LinkedIn\";\n      break;\n    case \"Sunday\":\n      jobPortal = \"LinkedIn\";\n      break;\n    default:\n      jobPortal = \"\";\n      break;\n  }\n} else {\n  jobPortal = $input.first().json.job_portal;\n}\n\nreturn {\n  json: {\n    job_portal: jobPortal,\n    maxPages: Math.ceil($input.first().json.num_of_jobs / 10)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2032,
        448
      ],
      "id": "2dc243c8-bf0e-4f08-8cfb-befbdb34ef67",
      "name": "Job Portal Schedule"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f9598302-b9b1-43ad-9f54-3e77922921da",
                    "leftValue": "={{ $json.isEmpty() }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No Output"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0827389d-416b-4e04-99e6-b3cca81b0ad4",
                    "leftValue": "={{ $('Save Variables').item.json.portal }}",
                    "rightValue": "LinkedIn",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "LinkedIn"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "97cf8469-2fcf-4bc5-a007-b9ec1889d45b",
                    "leftValue": "={{ $('Save Variables').item.json.portal }}",
                    "rightValue": "LinkedIn",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1184,
        672
      ],
      "id": "8060b9e5-6615-4a8b-bf05-baac6a7f29ed",
      "name": "Switch1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        192,
        576
      ],
      "id": "ee16a973-bde9-4abb-8f73-134f09ff703d",
      "name": "Merge1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"JobPosting\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"company_name\": {\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"description\": \"Name of the company offering the job\"\n    },\n    \"position\": {\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"description\": \"Job position or title\"\n    },\n    \"location\": {\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"description\": \"Location where the job is based\"\n    },\n    \"experience_required\": {\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"description\": \"Experience required for the job\"\n    },\n    \"skills_required\": {\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"description\": \"Skills required to perform the job\"\n    },\n    \"job_type\": {\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"description\": \"Type of job (e.g., Full-time, Part-time, Internship)\"\n    }\n  },\n  \"required\": [],\n  \"additionalProperties\": false\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        32,
        400
      ],
      "id": "1c38716b-5205-44b9-964b-25caac81bd9b",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"JobPosting\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"experience_required\": {\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"description\": \"Experience required for the job\"\n    },\n    \"skills_required\": {\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"description\": \"Skills required to perform the job\"\n    },\n    \"job_type\": {\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"description\": \"Type of job (e.g., Full-time, Part-time, Internship)\"\n    }\n  },\n  \"required\": [],\n  \"additionalProperties\": false\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        32,
        800
      ],
      "id": "7984f821-b95b-4beb-96b8-f1c322b3d678",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "mp4_id",
              "type": "number"
            },
            {
              "name": "scrape_by_weekday",
              "type": "boolean"
            },
            {
              "name": "job_portal"
            },
            {
              "name": "weekday"
            },
            {
              "name": "pages_scrapped",
              "type": "number"
            },
            {
              "name": "num_of_jobs",
              "type": "number"
            },
            {
              "name": "video_type"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -2240,
        448
      ],
      "id": "c4b38e85-a4a6-4b3c-a88d-9db012a29888",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "30ecdb3c-8557-42ee-b8c6-0e34dfa850c5",
              "leftValue": "={{ $('Total Job Scrapped').item.json.all_jobs_scrapped }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -736,
        992
      ],
      "id": "3ed76451-0afe-4e6d-a2dc-c3b052929bcf",
      "name": "If"
    },
    {
      "parameters": {
        "maxItems": "={{ $('When Executed by Another Workflow').first().json.num_of_jobs }}"
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -1600,
        992
      ],
      "id": "180dbce0-502b-4842-9d2b-49a84efd0613",
      "name": "Limit"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1f6b3272-394b-4262-941b-2453e98f5933",
              "name": "num_job_scrapped",
              "value": "={{ $('Total Job Scrapped').first().json.total_jobs_scrapped }}",
              "type": "number"
            },
            {
              "id": "6a918710-feac-4835-83cc-1a8da5e00d10",
              "name": "pages_scrapped",
              "value": "={{ $json.pages_scrapped }}",
              "type": "number"
            },
            {
              "id": "393afc07-d5f3-4e62-bd07-1694c181c65a",
              "name": "first_job_id",
              "value": "={{ $('Save Job Listings').first().json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        992
      ],
      "id": "50711867-30e9-4e21-a86f-4c0a3c8b03b4",
      "name": "Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f6d3c506-5783-4575-a3ac-784d52fb745b",
              "name": "portal",
              "value": "={{ $json.job_portal }}",
              "type": "string"
            },
            {
              "id": "a63a9632-1e69-45bc-ae60-874e88bc5fe5",
              "name": "jobs_completed",
              "value": 0,
              "type": "number"
            },
            {
              "id": "7d31ea95-bc7d-470e-9eb5-9938a669db24",
              "name": "pages_scrapped",
              "value": "={{ $('When Executed by Another Workflow').item.json.pages_scrapped }}",
              "type": "number"
            },
            {
              "id": "fe5546db-9358-494b-ab85-d8dc5467d6b1",
              "name": "maxPages",
              "value": "={{ $json.maxPages }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1824,
        448
      ],
      "id": "967df18a-f8ca-46c5-bfe7-692d59543c85",
      "name": "Save Variables"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2Kbv7D61qx6QiovN",
          "mode": "list",
          "cachedResultUrl": "/workflow/2Kbv7D61qx6QiovN",
          "cachedResultName": "Job Scrapper"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "pages_scrapped": "={{ $('Total Job Scrapped').first().json.pages_scrapped }}",
            "num_of_jobs": "={{ $('Total Job Scrapped').first().json.remaining_job_count }}",
            "weekday": "={{ $('When Executed by Another Workflow').first().json.weekday }}",
            "scrape_by_weekday": "={{ $('When Executed by Another Workflow').first().json.scrape_by_weekday }}",
            "job_portal": "={{ $('When Executed by Another Workflow').first().json.job_portal }}",
            "mp4_id": "={{ $('When Executed by Another Workflow').first().json.mp4_id }}",
            "video_type": "={{ $('When Executed by Another Workflow').first().json.video_type }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mp4_id",
              "displayName": "mp4_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "scrape_by_weekday",
              "displayName": "scrape_by_weekday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "job_portal",
              "displayName": "job_portal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "weekday",
              "displayName": "weekday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "pages_scrapped",
              "displayName": "pages_scrapped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "num_of_jobs",
              "displayName": "num_of_jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "video_type",
              "displayName": "video_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -512,
        1216
      ],
      "id": "207b173b-d9d7-44a1-8f9b-68179fd4185a",
      "name": "Call 'Job Scrapper'"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7aef1f07-e908-4f7e-bb91-d4d930cff4a3",
              "name": "num_job_scrapped",
              "value": "={{ $json.num_job_scrapped + $('Total Job Scrapped').item.json.total_jobs_scrapped }}",
              "type": "number"
            },
            {
              "id": "90367922-9909-406b-a2b1-5635fb82944e",
              "name": "pages_scrapped",
              "value": "={{ $json.pages_scrapped }}",
              "type": "number"
            },
            {
              "id": "4b34ce2d-00d2-47df-bf90-9f1f6d856c4a",
              "name": "first_job_id",
              "value": "={{ $('Save Job Listings').first().json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        1216
      ],
      "id": "47a65e63-5743-4d72-bafc-c6c179aab3b0",
      "name": "Output1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the following fields from the text below:\n\n- company_name\n- position\n- location\n- experience_required (in short)\n- skills_required (in short)\n- job_type\n\nText: \"{{ $json.title }}\"\n\nIf the text does not contain enough information, consult this link as reference: **{{ $json.link }}**\n\nReturn the result ONLY as a valid JSON object with double quotes, no extra text or explanations. The JSON should follow this format:\n\n{\n  \"output\":{\n    \"company_name\": \"...\",\n    \"position\": \"...\",\n    \"location\": \"...\",\n    \"experience_required: \"...\",\n    \"skills_required\": \"...\",\n    \"job_type\": \"...\"\n  }\n}\n\nRules:\n1. If a field is missing, return \"Not specified\" for consistency.\n2. Keep all keys exactly as shown.\n3. Do not include any extra text outside the JSON object.\n\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -144,
        176
      ],
      "id": "bdb701aa-1a23-4b9c-bf2c-8ca079753b1b",
      "name": "Extract details for Intershala, Foundit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the following fields from the text below:\n\n- experience_required (in years, short format)\n- skills_required (list of specific keywords/technologies separated by commas)\n- job_type (Full-time, Part-time, Contract, etc.)\n\nText: \"{{ $json.title }}\"\nJob Description: `{{ $json.job_description }}`\n\nReturn the result ONLY as a valid JSON object with double quotes, no extra text or explanations. The JSON should follow this format:\n\n{\n  \"output\": {\n    \"experience_required\": \"\",\n    \"skills_required\": \"\",\n    \"job_type\": \"\"\n  }\n}\n\nRules:\n1. For skills_required: Extract specific technical keywords separated by commas (e.g., \"Python, React, AWS, Machine Learning, Docker\"). Return as a single string.\n2. For experience_required: Return as \"X+ years\" or \"Not specified\"\n3. For job_type: Return standard format (Full-time, Part-time, Contract, Temporary, etc.)\n4. If a field is missing, return \"Not specified\"\n5. Keep all keys exactly as shown.\n6. Do not include any extra text outside the JSON object.",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -144,
        576
      ],
      "id": "66101c6a-47c0-4fcc-9514-82cdc75162a6",
      "name": "Extract details for LinkedIn",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "3Waxi1c8vq2oiZWC",
          "mode": "list",
          "cachedResultName": "Job Portals",
          "cachedResultUrl": "/projects/i6SPWKiaev6Io6So/datatables/3Waxi1c8vq2oiZWC"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "={{ $json.portal }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -1600,
        448
      ],
      "id": "c2c2d57c-afcd-47c8-b3ab-011470fa2557",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const site = item.json.site;\n  const inurl = item.json.inurl;\n  const keywords = item.json.keywords;\n  \n  item.json.query = `\n    ${site ? `site:${item.json.site}` : ''}\n    ${inurl ? ` inurl:${inurl}` : ''}\n    ${keywords ? ` ${keywords}` : ''}\n  `.replace(/\\n/g, '').replace(/\\s{2,}/g, ' ');\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1392,
        448
      ],
      "id": "e54bf761-6c53-41b5-8a61-05d305bdb368",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "errorMessage": "=No Output, try changing keywords in data table \"Job Portals\" in row for \"{{ $('Get row(s)').item.json.name }}\" job portal"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        192,
        384
      ],
      "id": "e36cea8c-eb4b-48dc-90f8-d325ba814cab",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -144,
        800
      ],
      "id": "be4beee7-184f-4697-aa86-d511d080fc94",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "b7nDnWwy7OrWzTgu",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -144,
        400
      ],
      "id": "ab1ccb7f-4575-48f1-95c4-0b9fc6544ecb",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "b7nDnWwy7OrWzTgu",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "job_listing",
          "mode": "list",
          "cachedResultName": "job_listing"
        },
        "table": {
          "__rl": true,
          "value": "job_links",
          "mode": "list",
          "cachedResultName": "job_links"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "audio_added": false,
            "script_added": false,
            "video_created": false,
            "company_name": "={{ $json.company_name }}",
            "position": "={{ $json.position }}",
            "location": "={{ $json.location }}",
            "experience_required": "={{ $json.experience_required }}",
            "skills_required": "={{ $json.skills_required }}",
            "job_type": "={{ $json.job_type }}",
            "link": "={{ $json.link }}",
            "date": "={{ $now.format('yyyy-MM-dd') }}",
            "job_description": "={{ $json.job_description || '' }}",
            "video_type": "={{ $('When Executed by Another Workflow').first().json.video_type }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "experience_required",
              "displayName": "experience_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "skills_required",
              "displayName": "skills_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_type",
              "displayName": "job_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "audio_added",
              "displayName": "audio_added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "audio_file_name",
              "displayName": "audio_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "script_added",
              "displayName": "script_added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "script",
              "displayName": "script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_created",
              "displayName": "video_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "job_description",
              "displayName": "job_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "video_type",
              "displayName": "video_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -1392,
        992
      ],
      "id": "1af85f14-212b-4760-8aa4-5958d8e4ba71",
      "name": "Save Job Listings",
      "credentials": {
        "postgres": {
          "id": "yc7NiS95ggUrE59j",
          "name": "Postgres account (Server)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const total_jobs_scrapped = $input.all().length;\nconst total_jobs = $('When Executed by Another Workflow').first().json.num_of_jobs;\nconst remaining_job_count = total_jobs - total_jobs_scrapped;\nconst pages_scrapped = $('Job Portal Schedule').first().json.maxPages + $('Save Variables').first().json.pages_scrapped;\n\nreturn {\n  json: {\n    total_jobs_scrapped: total_jobs_scrapped,\n    pages_scrapped: pages_scrapped,\n    remaining_job_count: remaining_job_count,\n    all_jobs_scrapped: total_jobs_scrapped === total_jobs\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        992
      ],
      "id": "396fbae3-c122-4279-b0a0-30c582755167",
      "name": "Total Job Scrapped"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "job_listing",
          "mode": "list",
          "cachedResultName": "job_listing"
        },
        "table": {
          "__rl": true,
          "value": "mp4_list",
          "mode": "list",
          "cachedResultName": "mp4_list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('When Executed by Another Workflow').first().json.mp4_id }}",
            "pages_scrapped": "={{ $('Total Job Scrapped').item.json.pages_scrapped }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pages_scrapped",
              "displayName": "pages_scrapped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_time",
              "displayName": "end_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mp4_name",
              "displayName": "mp4_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mp4_path",
              "displayName": "mp4_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "num_of_jobs",
              "displayName": "num_of_jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_type",
              "displayName": "video_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -960,
        992
      ],
      "id": "5a987072-531c-4d70-a9fd-c61f43372a18",
      "name": "Update Pages Scrapped Count",
      "credentials": {
        "postgres": {
          "id": "yc7NiS95ggUrE59j",
          "name": "Postgres account (Server)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const html = $json.data || \"\";\n\nlet jd = html.match(/<div[^>]*class=\"[^\"]*description__text[^\"]*\"[^>]*>(.*?)<\\/div>/is)?.[1] || '';\n\njd = jd.replace(/<[^>]+>/g, ' ').replace(/&nbsp;/g, ' ').replace(/\\s+/g, ' ').trim();\n\nreturn {\n  job_description: jd,\n  jd_success: jd.length > 200\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        768
      ],
      "id": "19cc3b8e-ee45-4174-8e38-f15176fda4b9",
      "name": "Extract JD"
    },
    {
      "parameters": {
        "url": "={{ $json.link.split('?')[0] }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "Accept",
              "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"
            },
            {
              "name": "Referer",
              "value": "https://www.google.com/"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -768,
        768
      ],
      "id": "8797c14f-33dc-4b09-a590-af6b4036c38e",
      "name": "Get Job Details",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -352,
        672
      ],
      "id": "5bfc1405-e908-4b10-b5c8-c5ada3dc6ccd",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "return $input.all()\n  .map(item => {\n    const { output, ...rest } = item.json;\n    return {\n      json: {\n        ...rest,\n        ...output\n      }\n    };\n  })\n  .filter(item =>\n    item.json.company_name !== \"Not specified\"\n      && item.json.position !== \"Not specified\"\n  );"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        768
      ],
      "id": "582bb56a-6e3f-498c-a995-2472a0bb2a9f",
      "name": "Flatten JSON Output"
    }
  ],
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Search": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data": {
      "main": [
        [
          {
            "node": "Get Job Details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Data1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Extract details for Intershala, Foundit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Flatten JSON Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Portal Schedule": {
      "main": [
        [
          {
            "node": "Save Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Data1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Flatten JSON Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Extract details for Intershala, Foundit",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Extract details for LinkedIn",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Job Portal Schedule",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Call 'Job Scrapper'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Save Job Listings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Variables": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Job Scrapper'": {
      "main": [
        [
          {
            "node": "Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract details for Intershala, Foundit": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract details for LinkedIn": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Extract details for LinkedIn",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Extract details for Intershala, Foundit",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Save Job Listings": {
      "main": [
        [
          {
            "node": "Total Job Scrapped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Total Job Scrapped": {
      "main": [
        [
          {
            "node": "Update Pages Scrapped Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Pages Scrapped Count": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Job Details": {
      "main": [
        [
          {
            "node": "Extract JD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract JD": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Extract details for LinkedIn",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Flatten JSON Output": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false,
    "saveDataSuccessExecution": "all",
    "timeSavedMode": "fixed"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3fcc524a2177e7ddb4a539aaa7c79d9f30b9b0ada55dc8bc7dd873b11ec37e51"
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "12166ce2-e2f3-4b25-951d-1d786a498175",
  "activeVersionId": "12166ce2-e2f3-4b25-951d-1d786a498175",
  "versionCounter": 286,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [
    {
      "updatedAt": "2025-09-26T07:16:33.839Z",
      "createdAt": "2025-09-26T07:16:33.839Z",
      "id": "ens6dG0mnb19cVTi",
      "name": "Sub-Workflow"
    },
    {
      "updatedAt": "2026-05-16T22:08:55.159Z",
      "createdAt": "2026-05-16T22:08:55.159Z",
      "id": "uRLukwQ6lXVe1ia9",
      "name": "F-JNN"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-05-16T22:31:04.307Z",
      "createdAt": "2026-05-16T22:31:04.307Z",
      "role": "workflow:owner",
      "workflowId": "2Kbv7D61qx6QiovN",
      "projectId": "i6SPWKiaev6Io6So",
      "project": {
        "updatedAt": "2026-05-16T22:27:54.117Z",
        "createdAt": "2026-05-16T22:26:58.253Z",
        "id": "i6SPWKiaev6Io6So",
        "name": "Atharva Devasthali <atharvadevasthali22@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "bbfd9b91-c218-420f-985d-bbb81f401ca4"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 12166ce2",
    "description": ""
  },
  "parentFolder": "Youtube Stream (JNN)",
  "parentFolderId": "yX1BtvrIqWbmETdj"
}
