n8n-workflows/workflows/2wn9nE3iRNXxc1Kh.json
{"updatedAt":"2026-05-16T22:31:17.841Z","createdAt":"2026-05-16T22:31:17.841Z","id":"2wn9nE3iRNXxc1Kh","name":"RAG (Supabase) v2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-3120,832],"id":"092ea543-0372-4010-92ee-e1bf5200d5bc","name":"Loop Over Items3"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"fileName":""}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-2000,544],"id":"8044862d-39cb-49d6-80b3-5d39112f1c13","name":"Download file"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3808,2080],"id":"d21cb034-b548-47f0-aa49-9310c3ebaf05","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"get","documentURL":"={{ $json.id }}"},"type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[-1520,352],"id":"3e61af79-fd4b-486e-8e93-be599c76d9af","name":"Get a document"},{"parameters":{"jsCode":"const content = $input.first().json.content.split('\\n')\n  .map(line => line.trim())\n  .filter(line => line.length > 0);\n\nreturn {\n  json: {\n    content: content\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1296,352],"id":"dfd389c9-30ff-4add-9e48-986a6e2f1ef7","name":"Code6"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-608,544],"id":"77f6e254-3754-4b05-9a3d-07cd91d345cf","name":"Merge4"},{"parameters":{"fieldToSplitOut":"content","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-816,352],"id":"32020508-9416-4f76-a791-1e18df060798","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"364e851b-a9d4-49b4-95b3-f11c32755dce","name":"file_name","value":"={{ $json.name }}","type":"string"},{"id":"a89de6b8-3034-4f2c-aaae-c20a52eb7b02","name":"file_extension","value":"={{ $binary.data.fileExtension }}","type":"string"},{"id":"0f6e8895-a9e0-4dbc-9976-d2a98f797e8a","name":"createdTime","value":"={{ $json.createdTime }}","type":"string"},{"id":"bfee94c5-0a29-4725-a149-d87577c00dcd","name":"modifiedTime","value":"={{ $json.modifiedTime }}","type":"string"},{"id":"456e0b24-2155-49cd-9c00-d651027eca9c","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1296,544],"id":"d6b81b4e-fc49-4c9b-af4a-1d71c8d9beb4","name":"Edit Fields2"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-656,1184],"id":"fc459398-303b-466b-a60d-9ecac018c8ae","name":"Embeddings Google Gemini","credentials":{"googlePalmApi":{"id":"lNYUNbpUefVcNyks","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.content }}","options":{"metadata":{"metadataValues":[{"name":"file_name","value":"={{ $json.file_name }}"},{"name":"file_extension","value":"={{ $json.file_extension }}"},{"name":"created_time","value":"={{ $json.createdTime }}"},{"name":"modified_time","value":"={{ $json.modifiedTime }}"},{"name":"document_id","value":"={{ $json.id }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-896,1104],"id":"efcd5dda-3c18-4fba-948c-15675b9c0156","name":"Default Data Loader"},{"parameters":{"operation":"getAll","tableId":"documents","returnAll":true,"filterType":"none"},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-3776,640],"id":"1291af83-167b-4dab-a934-ffda61e1016d","name":"Get many rows","credentials":{"supabaseApi":{"id":"4JbkK9jUCHl9siM2","name":"Supabase account"}}},{"parameters":{"jsCode":"let file_name_list = [];\n\nconst data = $input.all().reduce((acc, item) => {\n  const metadata = item.json.metadata;\n  const filename = metadata.file_name;\n\n  if (!file_name_list.includes(filename)) {\n    acc.push({\n      json: {\n        file_name: filename,\n        file_extension: metadata.file_extension,\n        file_modified_time: metadata.modified_time,\n        document_id: metadata.document_id\n      }\n    });\n    file_name_list.push(filename);\n  }\n\n  return acc;\n}, []);\n\nreturn data;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3584,640],"id":"4551b9ba-359a-41c8-b517-8af57545404a","name":"Code7"},{"parameters":{"resource":"fileFolder","filter":{"folderId":{"__rl":true,"value":"1rShrrtVIXHzKAtwXAk0xW_q7QohvmfGF","mode":"id"}},"options":{"fields":["mimeType","version","name","id","*"]}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-3776,832],"id":"2a1e90ee-79ba-4c36-b70b-a5df8d99904c","name":"Search files and folders"},{"parameters":{"assignments":{"assignments":[{"id":"ede5cd53-0d45-40e2-9f2d-1caf86424619","name":"id","value":"={{ $json.id }}","type":"string"},{"id":"4fb1a4ae-dd6a-4dcc-8d38-5e32ba0b89ac","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"3a76249e-07f4-4908-b51d-cfc7158d1326","name":"createdTime","value":"={{ $json.createdTime }}","type":"string"},{"id":"036391cb-c0c5-4578-ae23-acf84d8e987e","name":"modifiedTime","value":"={{ $json.modifiedTime }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3584,832],"id":"a3d86c54-798a-427c-bcf0-157ba4bb28d3","name":"Edit Fields3"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"document_id","field2":"id"}]},"joinMode":"enrichInput2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-3344,832],"id":"4006bb27-a95c-471a-934a-0dab1ed23b72","name":"Merge5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d1c5d23-1350-43c5-b22b-532ee02d5d3d","leftValue":"={{ $json.file_modified_time }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2880,832],"id":"cc8fce27-ab31-40c4-92d0-08ee4e9bc7d8","name":"If4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b711c073-2743-4614-9e82-e5b4bc86dee9","leftValue":"={{ $json.modifiedTime }}","rightValue":"={{ $json.file_modified_time }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2656,832],"id":"54732055-597e-4fdf-907a-66200a591c7e","name":"If5"},{"parameters":{"method":"DELETE","url":"=https://{{ $json.project_id }}.supabase.co/rest/v1/rag_document_storage\n","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"metadata->>document_id","value":"=eq.{{$json.id}}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2224,832],"id":"2a55d125-b1b4-4ae8-8b15-165384ae5a7d","name":"HTTP Request","credentials":{"supabaseApi":{"id":"4JbkK9jUCHl9siM2","name":"Supabase account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c1b21395-ad34-47c7-8346-12150823bb50","name":"project_id","value":"hmiueuppzbfgwbbsqtrv","type":"string"},{"id":"740e1088-a857-490c-9048-11aecfaf7389","name":"id","value":"={{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2416,832],"id":"49d2097b-9ed0-45b7-ad3e-30e54d342b58","name":"Edit Fields4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9a9c9d84-dbc5-4098-b979-20112d336758","leftValue":"={{ $json.content }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1088,352],"id":"ca7bdb97-caf5-4df1-8bb8-b276216f6e3f","name":"If6"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3264,2576],"id":"96ebdfb8-08ca-4869-8e5c-0a5519972848","name":"Google Gemini Chat Model1","credentials":{"googlePalmApi":{"id":"lNYUNbpUefVcNyks","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-3488,2512],"id":"bb10eec6-d76b-4a0d-9b81-3a66e31ae557","name":"Postgres Chat Memory1","credentials":{"postgres":{"id":"2oBF9bmgQVlhKhFz","name":"Postgres account (atharvadev)"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-2976,2816],"id":"18c5d580-e138-40d7-b6f1-e687c203f696","name":"Embeddings Google Gemini2","credentials":{"googlePalmApi":{"id":"lNYUNbpUefVcNyks","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"html":"<!DOCTYPE html>\n<html>\n  <head>\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        color: #333333;\n        background-color: #f8f8f8;\n        padding: 20px;\n      }\n\n      .container {\n        background-color: #ffffff;\n        border-radius: 10px;\n        padding: 30px;\n        max-width: 600px;\n        margin: auto;\n        box-shadow: 0 2px 8px rgba(0,0,0,0.05);\n      }\n\n      h2 {\n        color: #2c3e50;\n        font-size: 22px;\n        margin-bottom: 10px;\n      }\n\n      h3 {\n        color: #34495e;\n        font-size: 20px;\n        margin-top: 20px;\n        margin-bottom: 10px;\n      }\n\n      h4 {\n        color: #555;\n        font-size: 18px;\n        margin-top: 15px;\n        margin-bottom: 5px;\n      }\n\n      p {\n        font-size: 16px;\n        line-height: 1.6;\n        margin-bottom: 15px;\n      }\n\n      ul {\n        padding-left: 20px;\n        margin-top: 0;\n        margin-bottom: 15px;\n      }\n\n      li {\n        font-size: 16px;\n        margin-bottom: 8px;\n      }\n\n      .button {\n        display: inline-block;\n        padding: 10px 20px;\n        margin: 10px 0;\n        background-color: #007BFF;\n        color: #ffffff !important;\n        text-decoration: none;\n        border-radius: 6px;\n        font-weight: bold;\n        font-size: 16px;\n      }\n\n      .footer {\n        margin-top: 30px;\n        font-size: 13px;\n        color: #888;\n        text-align: center;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      {{ $json.email_body }}\n\n      <div class=\"footer\">\n        This email was sent to you as part of an outreach campaign. If you believe this was a mistake, please ignore or reply to unsubscribe.\n      </div>\n    </div>\n  </body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1728,2016],"id":"0092c727-d05e-4d37-a6ae-75d32888e5ab","name":"HTML2"},{"parameters":{"jsCode":"let inputText = $input.first().json.output;\nconst splitList = inputText.split('```json');\ninputText = splitList[splitList.length - 1];\nconst updatedText = inputText.replaceAll(/\\n\\s*/g, '')\n  .replace(/```/g, '');\n\nlet parsedOutput;\ntry {\n  parsedOutput = JSON.parse(updatedText);\n} catch (error) {\n  parsedOutput = {\n    text: updatedText\n  };\n}\n\nreturn {\n  json: parsedOutput\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3024,2256],"id":"115640eb-d653-47d2-8cf1-7ac548c4096f","name":"Code9"},{"parameters":{"jsCode":"const inputText = $input.first().json.text;\nconst inputMD = $input.first().json.markdown;\n\nconst output = inputMD && inputMD.trim() !== ''\n  ? inputText + '\\n```html\\n' + inputMD + '\\n```'\n  : inputText;\n\nreturn {\n  json: {\n    output: output\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2768,2384],"id":"c1cc2b3e-56d1-4148-9a40-37095568d83f","name":"Code10"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-2768,2176],"id":"a2923674-c8e8-46ca-b618-a2c18471c3ee","name":"Merge6"},{"parameters":{"jsCode":"const inputText = $input.first().json.output;\nconst updatedText = inputText.replaceAll(/\\n\\s*/g, '')\n  .replace(/```html|```/g, '');\n\nreturn {\n  json: {\n    email_body: updatedText\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1952,2016],"id":"0a3a876c-b2f5-467a-a074-ac95e2067d77","name":"Code8"},{"parameters":{"assignments":{"assignments":[{"id":"9b8b6df2-5fd3-4385-94dd-56fbf963435c","name":"email_subject","value":"={{ $json.subject }}","type":"string"},{"id":"3355b7f4-009b-4fa3-b5c4-9849914b9fdc","name":"email_content_markdown","value":"={{ $json.markdown }}","type":"string"},{"id":"06be66fa-c501-4755-8f63-28c9b1adf6ec","name":"email_approved","value":"={{ $json.approved }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2272,1824],"id":"8625b491-8502-487e-9d3b-51bbc47ce061","name":"Edit Fields"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1728,1840],"id":"e2946744-80e9-48b1-86d6-c9c2b1eafcb6","name":"Merge7"},{"parameters":{"operation":"get","tableId":"email_details","filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $('AI Chatter Input').item.json.sessionId }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[-3120,2672],"id":"2b39a435-df09-49da-94bb-aea6325ca540","name":"Retrieve stored Emails","credentials":{"supabaseApi":{"id":"4JbkK9jUCHl9siM2","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"email_details","filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $('AI Chatter Input').item.json.sessionId }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1520,1840],"id":"7b9cd512-d823-4a41-919f-24a64304ab15","name":"Get a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"4JbkK9jUCHl9siM2","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e9f305bd-397b-4dcd-a965-e84980656729","leftValue":"={{ $json.session_id }}","rightValue":"kl","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1312,1840],"id":"ca699ba3-13aa-4e2f-9203-6e9c085831bd","name":"If3"},{"parameters":{"tableId":"email_details","fieldsUi":{"fieldValues":[{"fieldId":"session_id","fieldValue":"={{ $('AI Chatter Input').item.json.sessionId }}"},{"fieldId":"subject_line","fieldValue":"={{ $('Merge7').item.json.email_subject }}"},{"fieldId":"email_body","fieldValue":"={{ $('Merge7').item.json.html }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1120,1744],"id":"1a9e9a30-c2e9-4b7c-9d98-cd449f788e37","name":"Create a row","credentials":{"supabaseApi":{"id":"4JbkK9jUCHl9siM2","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"email_details","filters":{"conditions":[{"keyName":"session_id","condition":"eq","keyValue":"={{ $json.session_id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"subject_line","fieldValue":"={{ $json.subject_line }}"},{"fieldId":"email_body","fieldValue":"={{ $json.email_body }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1120,1936],"id":"d6ced5b0-2cc4-48ed-91de-7b7c5caeb81f","name":"Update a row","credentials":{"supabaseApi":{"id":"4JbkK9jUCHl9siM2","name":"Supabase account"}}},{"parameters":{"promptType":"define","text":"=You are a helpful AI assistant that creates email content in structured Markdown format, ready to be converted to HTML later.\n\n🧠 Your responsibilities:\n- Understand the user’s intent from their input: {{ $json.chatInput }}\n- Extract helpful context from:\n  - The conversation\n  - The recipient name: {{ $json.name }} (do **not** replace it — just reference it as {{ $json.name }})\n- Use **RAG Vector Store** for retrieving information while replying to the user.\n- Compose a professional, friendly email draft in **Markdown format**.\n- Use headings, lists, and clear structure to make it easily convertible to HTML.\n\n📌 Requirements:\n- Always start with a greeting like:\n  ## Hi {{ $json.name }},\n- Structure the email using:\n  - ## for main sections\n  - ### for subheadings\n  - - for bullet points\n  - Paragraphs for message body\n- End with a friendly closing (e.g., *Warm regards*, etc.)\n- Do **not** include any HTML or CSS in this step.\n- Keep the tone warm, helpful, and aligned with the purpose.\n- ⚠️ If you're suggesting a **subject line**, do not include it in markdown, it can be included in the subject field of output.\n- ✅ Always ask the user to approve the email content before proceeding. Include the field `approved: false` by default until the user confirms.\n- ❗ Never include the content of the email in the `text` field; the subject line is okay there, but the email body must strictly go in the `markdown` field.\n\n📥 Database Check:\n- Before creating a new email, always check if an email has already been created and approved for the session.\n- Use the **Retrieve stored emails** tool to check for existing approved emails.\n- If one exists, do **not** recreate it unless the user explicitly asks to regenerate the email after approval.\n\n📨 Post-Approval Follow-up:\n- Once the user gives approval, ask the following questions **one at a time**, in this order:\n  1. To whom should the email be sent?\n     - Once you get the email address(es), **at least retrieve the name and any other associated metadata (address, group name, etc.) of the recipient(s)** from the **Email List for Groups** tool and store it in `metadata` field of output as json.\n     - Use the **Email List Vector Store** tool to find additional metadata after getting the email address.\n  2. From which email address should it be sent?\n     - 📧 Email Restrictions: Only use addresses from this list: [{{ $json.allowed_email_sender }}]\n     - If the user suggests any other address, inform them it's not allowed and provide the list above.\n  3. Are there any attachments to include?\n     - Ask for either file names or links.\n     - Check availability using the **RAG Vector Store**.\n\n- If the email metadata (recipients, sender, attachments) is already found in the **Retrieve stored emails** tool, confirm with the user if you'd like to proceed with those details before asking further questions.\n\n- Then ask: **“Should I send the email?”**\n  - If yes, set `send_email: true` in the output.\n- The `markdown` field in the output should be **empty** during this follow-up if no new email content is created or updated.\n\n- 📝 Keep all follow-up questions **in a separate questionnaire flow** distinct from the main email content generation to avoid confusion.\n\n\n🧠 Mailing List & Recipient Data Lookup:\n- If the user asks to send to a group (e.g., “send this to all managers”), query the **RAG Vector Store** to retrieve relevant mailing lists.\n- Use the **Email List Vector Store** to find metadata after identifying each email address.\n- Also use RAG to enrich emails with context-specific information like:\n  - Full name\n  - Job title or designation\n  - Location\n  - Any other relevant identifier\n\n📝 Important:\n- Whatever information you want to provide to the user apart from the fields (excluding `text` in output), add it strictly in the `text` field.\n- Always follow the output format strictly.\n- Never include the content of the email in the `text` field. Only the subject can appear there. The email body must go **only** in the `markdown` field.\n\n🔁 Behavior Summary:\n- Start as a conversational planner.\n- Switch to email generation **only when the user confirms**.\n- HTML will be sent downstream for email delivery.\n- Always return a **summary text** in chat to explain what was done.\n- Always stick to the output format.\n\n🚫 Never assume the user wants to create an email. Wait for clear intent signals from the user.\n\n📤 Output Format:\nReturn this JSON:\n{\n  \"text\": \"\",\n  \"subject\": \"\",\n  \"markdown\": \"\",\n  \"approved\": false,\n  \"send_to_email\": [],\n  \"send_from_email\": \"\",\n  \"attachments\": [],\n  \"metadata\": {},\n  \"send_email\": false\n}","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-3376,2256],"id":"2b46451c-40be-47c6-ade4-90e63814e563","name":"Chatter"},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Use Supabase vectore store to extract the data which is helpful in creating emails","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"topK":20,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-2976,2640],"id":"6f46206d-ed0a-4248-a15f-ce82701b66a0","name":"RAG Vector Store","credentials":{"supabaseApi":{"id":"4JbkK9jUCHl9siM2","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"email_details","filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $json.session_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1600,2240],"id":"aad60d8d-8f62-4ac9-94c4-3c8456a6b33a","name":"Get a row1","credentials":{"supabaseApi":{"id":"4JbkK9jUCHl9siM2","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"email_details","filters":{"conditions":[{"keyName":"session_id","condition":"eq","keyValue":"={{ $json.sessionId }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"email_to","fieldValue":"={{ $json.send_to_email }}"},{"fieldId":"email_from","fieldValue":"={{ $json.send_from_email }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1824,2240],"id":"c4105420-3cb1-4116-b2c6-348d068ee3a7","name":"Update a email ids","credentials":{"supabaseApi":{"id":"4JbkK9jUCHl9siM2","name":"Supabase account"}}},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const emailArray = item.json.send_to_email;\n  item.json.send_to_email = `{${emailArray.join(',')}}`;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2048,2240],"id":"e4d8fb3b-92cf-4116-b750-2d785583c6fa","name":"Code5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ddedc41c-53e5-47c4-8fc1-13b0fbfbae56","leftValue":"={{ $json.email_to }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}},{"id":"220e4433-e59f-4935-9a17-4f2b964984c5","leftValue":"={{ $json.email_from }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"25e0d57c-a1e0-49d3-a665-95bb2430bb03","leftValue":"={{ $('Code5').item.json.send_email }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1392,2240],"id":"46e07e3b-c597-4132-bfc6-2461c4cd6b83","name":"If7"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $binary.data.mimeType }}","rightValue":"spreadsheet","operator":{"type":"string","operation":"contains"},"id":"f722eb4e-1a3c-4a5d-889d-8004b4069ef0"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9dbe3198-e19f-4ea4-85bc-e8162376ec2a","leftValue":"true","rightValue":"true","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-1760,240],"id":"d6a21ac1-96cd-4829-8e19-4aa0267001a3","name":"Switch1"},{"parameters":{"documentId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"sheetName":{"__rl":true,"value":"={{ $json.sheet_name }}","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-208,336],"id":"e79d4466-9284-4f12-ade3-fb5b73e66055","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"AEguwTTY1RKTQyzO","name":"Google Sheets account"}}},{"parameters":{"url":"=https://sheets.googleapis.com/v4/spreadsheets/{{ $json.id }}?fields=sheets.properties.title","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1536,80],"id":"3e0ff3ca-553a-4667-914d-0c38e33e04e8","name":"HTTP Request2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-528,224],"id":"7a335e86-86ae-4ac3-a6a7-cddcf155f8f7","name":"Loop Over Items4"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nconst sheets = $input.first().json.sheets.map(sheet => {\n  return sheet.properties.title;\n});\n\nreturn {\n  json: {\n    sheet_name: sheets\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1344,80],"id":"c262bf7a-210e-4e38-82e9-2125c0561f3d","name":"Code1"},{"parameters":{"fieldToSplitOut":"sheet_name","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1120,80],"id":"017472c5-fd7a-42db-ab66-55c1cfbcd478","name":"Split Out3"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-928,224],"id":"fb4a5fb2-00b6-4389-9ef9-d5b69db9a85a","name":"Merge8"},{"parameters":{"jsCode":"const rows = $input.all().map(row => {\n  return Object.entries(row.json)\n    .map(([key, value]) => `'${key}': '${value}'`)\n    .join(', ');\n});\n\nreturn {\n  json: {\n    content: `{${rows}}`\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1104,160],"id":"c46f1b98-9477-4594-be73-d5235dc2fb58","name":"Code11"},{"parameters":{"jsCode":"return {\n  json: {\n    content: $input.all().map(item => item.json).flat()\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"b02671dc-79e3-48ff-8d74-12b3708cef6e","name":"Code12"},{"parameters":{"fieldToSplitOut":"content","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[240,0],"id":"ac3880ac-a656-453a-a034-4310c10dd81e","name":"Split Out4"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[560,96],"id":"5887f5de-f4e0-448f-a17e-1b00035dac68","name":"Merge10"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[480,336],"id":"1cb9749b-779b-4056-920d-c77f151b6070","name":"Merge9"},{"parameters":{"assignments":{"assignments":[{"id":"acc3186c-0bbd-420d-93a8-be17442034a7","name":"group_name","value":"={{ $json.sheet_name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,176],"id":"ce1e69b4-3232-45e1-85be-17fec8b26061","name":"Edit Fields1"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-864,832],"id":"e8582276-fd20-4d59-8c35-5fb9a113de5c","name":"Supabase Vector Store (Docs)","credentials":{"supabaseApi":{"id":"4JbkK9jUCHl9siM2","name":"Supabase account"}}},{"parameters":{"jsonMode":"expressionData","jsonData":"={{ $json.content }}","options":{"metadata":{"metadataValues":[{"name":"file_name","value":"={{ $json.name }}"},{"name":"created_time","value":"={{ $json.createdTime }}"},{"name":"modified_time","value":"={{ $json.modifiedTime }}"},{"name":"document_id","value":"={{ $json.id }}"},{"name":"group_name","value":"={{ $json.group_name }}"},{"name":"meta_data","value":"={{ $json.meta_data }}"}]}}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[-176,1104],"id":"27d4984d-f1f0-43a0-8cd4-1bb171f1322d","name":"Default Data Loader1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"18e5014e-bb57-414e-8f27-a0a7c0041f43","leftValue":"={{ $json.name }}","rightValue":"Mailing List","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[912,464],"id":"1f269549-a1c2-4ecb-8938-739cebcc3212","name":"If8"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  const content = Object.entries(item.json)\n    .reduce((acc, [key, value], index) => {\n      if (index !== 1) return acc;\n      acc[key] = value;\n      return acc;\n    }, {});\n  const meta_data = Object.entries(item.json)\n    .reduce((acc, [key, value], index) => {\n      if (index === 1) return acc;\n      acc[key] = value;\n      return acc;\n    }, {});\n  item.json.content = JSON.stringify(content)\n    .replaceAll('\"', '')\n    .replaceAll('{', '')\n    .replaceAll('}', '')\n  item.json.meta_data = meta_data\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,336],"id":"07e702f6-fd8d-4a3c-adbf-102783525dc3","name":"Code13"},{"parameters":{"assignments":{"assignments":[{"id":"099e5cbf-51b2-4289-95f3-e46a7c330e40","name":"content","value":"={{ $json.content }}","type":"string"},{"id":"36481c46-6134-47de-ac27-48e76c5a717f","name":"meta_data","value":"={{ $json.meta_data }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,336],"id":"7c47c143-15ca-4545-bcdb-923b53b4cd24","name":"Edit Fields6"},{"parameters":{"mode":"insert","tableName":{"__rl":true,"value":"email_list","mode":"list","cachedResultName":"email_list"},"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-256,832],"id":"41c10fec-c4c9-4a14-a85f-b4364e7098ca","name":"Supabase Vector Store for Email List (Sheet)","credentials":{"supabaseApi":{"id":"4JbkK9jUCHl9siM2","name":"Supabase account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2272,2416],"id":"ccae4b16-2b8f-4841-a6d0-5d8ab3f4235d","name":"Send a text message","webhookId":"3f30fb3c-4829-4826-b5d2-aab1ac96e5f6","credentials":{"telegramApi":{"id":"u3X4AxVh3x7k4a1z","name":"Telegram account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-4960,4000],"id":"f4084eed-b47b-44ad-9191-fcd82ace9c6a","name":"When chat message received","webhookId":"c53c5db6-a66f-4077-9d4a-a68f30ea9730"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c19e4c6c-263d-443d-8d0e-ddc2768bf4a3","leftValue":"={{ $json.markdown }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"fb139d6c-a815-45f9-a946-9f1399b76e6d","leftValue":"={{ $json.approved }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2544,2176],"id":"1c19b2f4-9fd0-42c9-b8c0-142a0ee9f21e","name":"If9"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cd05dadd-ce58-42e8-be8e-f114a9b01ef4","leftValue":"={{ $json.approved }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2272,2240],"id":"dacf757d-0519-4905-9da7-b657f831f8a7","name":"If10"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"30183a7b-eb7f-4720-85cc-223e717da61e","leftValue":"={{ $('AI Chatter Input').item.json.is_telegram_bot }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2544,2384],"id":"2a9ec7b0-aaf5-4e16-bfde-236670026358","name":"If11"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.email_from }}","rightValue":"testbpsi1@gmail.com","operator":{"type":"string","operation":"equals"},"id":"898fef19-194f-43d2-b89b-9051ce8e8480"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79d8a64d-8505-4bbb-857a-facf909ab691","leftValue":"={{ $json.email_from }}","rightValue":"atharvadevasthali22@gmail.com","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-704,2560],"id":"dd9c86bc-51d8-4242-96ed-e4167db07e66","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"c482b170-ee32-48ed-be6c-01361300c345","name":"name","value":"{{name}}","type":"string"},{"id":"2fbb0549-7b3f-4faf-8980-962ee0a57ec4","name":"sessionId","value":"={{ $json.message?.chat.id ?? $json.sessionId }}","type":"string"},{"id":"03f078df-1609-43ef-8e6c-064df865e34b","name":"chatInput","value":"={{ $json.message?.text ?? $json.chatInput }}","type":"string"},{"id":"9339a7b1-6414-44d8-9429-4ca9931d5959","name":"is_telegram_bot","value":"={{ !!$json.message?.chat?.id }}","type":"boolean"},{"id":"d0e752ab-a403-43c6-9bc7-ec3f20e9a156","name":"allowed_email_sender","value":"['testbpsi1@gmail.com', 'atharvadevasthali22@gmail.com']","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3600,2080],"id":"3d628e47-b723-4dcc-b389-d34f82204a97","name":"AI Chatter Input"},{"parameters":{"sendTo":"={{ $json.email_to }}","subject":"={{ $json.subject_line }}","message":"={{ $json.email_body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-464,2560],"id":"0c80ef99-5e90-474c-a250-19c9a1652b5b","name":"Send a message (testbpsi1@gmail.com)","webhookId":"86c76a27-426a-4a67-a03f-6e7e7abc4cd9","credentials":{"gmailOAuth2":{"id":"U4FqrpjjcVBSGhHW","name":"Gmail account"}}},{"parameters":{"assignments":{"assignments":[{"id":"13fd15b3-80c5-4752-ab3b-a36c03533d4b","name":"subject_line","value":"={{ $json.subject_line }}","type":"string"},{"id":"49e3c54a-7e39-4396-917d-27d8c3aa99ab","name":"email_body","value":"={{ $json.email_body }}","type":"string"},{"id":"6c623dcf-7923-42f7-8f4b-ea97769ee30f","name":"email_from","value":"={{ $json.email_from }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1152,2336],"id":"bca31820-9bb0-4e5b-96f0-a5e31fd96580","name":"Edit Fields5"},{"parameters":{"sendTo":"={{ $json.email_to }}","subject":"={{ $json.subject_line }}","message":"={{ $json.email_body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[-464,2784],"id":"9a4816a9-3cbe-4a8e-8973-d65038942d58","name":"Send a message (atharvadevasthali22@gmail.com)","webhookId":"86c76a27-426a-4a67-a03f-6e7e7abc4cd9","credentials":{"gmailOAuth2":{"id":"U4FqrpjjcVBSGhHW","name":"Gmail account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get row(s) in sheet in Google Sheets","documentId":{"__rl":true,"value":"1KLEynURj2Oa5lH0dRc7ptagzUm78OHLrpP4IWeV48mY","mode":"list","cachedResultName":"Mailing List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KLEynURj2Oa5lH0dRc7ptagzUm78OHLrpP4IWeV48mY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', `The sheet name or group name will be provided by the user`, 'string') }}","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-2656,2704],"id":"b1eff337-40ae-4cfd-9cbf-c3d2bc80d691","name":"Email list for Groups","credentials":{"googleSheetsOAuth2Api":{"id":"AEguwTTY1RKTQyzO","name":"Google Sheets account"}}},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"email_to","field2":"email"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-912,2144],"id":"5d4e1299-f14e-4df1-be86-7e387e43d01a","name":"Merge"},{"parameters":{"fieldToSplitOut":"metadata.recipients","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1600,2432],"id":"7b8ffc73-7853-4565-b751-5c467c3e0126","name":"Split Out1"},{"parameters":{"fieldToSplitOut":"email_to","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1152,2144],"id":"1778846c-c731-45e1-954f-dbdb7613fc89","name":"Split Out2"},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  const name = item.json.name;\n  item.json.email_body = item.json.email_body.replaceAll('{{name}}', name);\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-912,2560],"id":"d4c964e4-6b8b-4116-8102-f8ded75a5d3d","name":"Code2"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1KLEynURj2Oa5lH0dRc7ptagzUm78OHLrpP4IWeV48mY","mode":"list","cachedResultName":"Mailing List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KLEynURj2Oa5lH0dRc7ptagzUm78OHLrpP4IWeV48mY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $('Switch').item.json.group_name }}","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $('Switch').item.json.email }}","timestamp":"={{ $now }}","workspace_name":"={{ $workflow.name }}"},"matchingColumns":["email"],"schema":[{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"workspace_name","displayName":"workspace_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-176,2560],"id":"e30d9a19-f5e0-49e4-b1f4-bfc9b2ac0ebb","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"AEguwTTY1RKTQyzO","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1152,2560],"id":"9184058c-1236-4ee4-b83c-976546d9f291","name":"Loop Over Items5"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1408,2544],"id":"b3b461a6-ac8d-4c91-9b44-552e0fcb8540","name":"Merge1"},{"parameters":{"assignments":{"assignments":[{"id":"25dcd8ad-4874-45ae-9f1f-158c59df149d","name":"group_name","value":"={{ $json.metadata.group_name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1600,2624],"id":"d9511624-3d0b-4674-92aa-8a66a280a63f","name":"Group Name (Sheet Name)"},{"parameters":{"html":"{{ $json.email_body }}"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-704,2784],"id":"b4416c91-7442-4741-837a-3061a525fa56","name":"HTML"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-704,2320],"id":"87e287cb-0745-4dbf-83e5-b1df4f6bc058","name":"Merge2"},{"parameters":{"assignments":{"assignments":[{"id":"9d79ecb5-ac0d-4739-af59-0912d1d72a7e","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2272,2592],"id":"4935c6bc-458b-4b05-9da9-a47e3eb4b504","name":"Output Chat"},{"parameters":{"promptType":"define","text":"={{ $json.chatter_prompt }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-3552,3712],"id":"0e7ae7f4-fcf4-4e09-b34b-f54e8bdd6716","name":"Chatter1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3552,3984],"id":"e3ebd257-abf5-4ad2-804b-4fde24a577f4","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"lNYUNbpUefVcNyks","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-3424,4032],"id":"0ee40aea-c27a-4afa-bb83-fee4bc7ef10b","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"2oBF9bmgQVlhKhFz","name":"Postgres account (atharvadev)"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.embeddingsGoogleGemini","typeVersion":1,"position":[-3952,4480],"id":"02ae8cb4-f97e-4d7d-a80a-3fb91c206193","name":"Embeddings Google Gemini3","credentials":{"googlePalmApi":{"id":"lNYUNbpUefVcNyks","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"operation":"get","tableId":"email_details","filters":{"conditions":[{"keyName":"session_id","keyValue":"={{ $('Inbuilt Chat Input').item.json.sessionId }}"}]}},"type":"n8n-nodes-base.supabaseTool","typeVersion":1,"position":[-4096,4336],"id":"d491c0b5-925a-456e-9d3c-59169d3dac4b","name":"Retrieve stored Emails1","credentials":{"supabaseApi":{"id":"4JbkK9jUCHl9siM2","name":"Supabase account"}}},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"Use Supabase vectore store to extract the data which is helpful in creating emails","tableName":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"topK":20,"options":{}},"type":"@n8n/n8n-nodes-langchain.vectorStoreSupabase","typeVersion":1.3,"position":[-3952,4304],"id":"aa3bcd81-a8de-4bb9-a3c5-0fa13cbb95eb","name":"RAG Vector Store1","credentials":{"supabaseApi":{"id":"4JbkK9jUCHl9siM2","name":"Supabase account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get row(s) in sheet in Google Sheets","documentId":{"__rl":true,"value":"1KLEynURj2Oa5lH0dRc7ptagzUm78OHLrpP4IWeV48mY","mode":"list","cachedResultName":"Mailing List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1KLEynURj2Oa5lH0dRc7ptagzUm78OHLrpP4IWeV48mY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', `The sheet name or group name will be provided by the user`, 'string') }}","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-3408,4608],"id":"4bf114c8-cd38-4e33-a43e-55d0fdc921f5","name":"Email list for Groups1","credentials":{"googleSheetsOAuth2Api":{"id":"AEguwTTY1RKTQyzO","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=You are a helpful AI assistant that converts structured email content written in Markdown into clean, semantic HTML.\n\n🧠 Your responsibilities:\n- Take the full Markdown email content as input.\n- Convert it into semantic HTML using appropriate tags.\n\n🔧 Input:\nYou will receive:\n- A full email draft in Markdown from the field:\n\n```\n{{ $json.markdown }}\n```\n\n📌 Requirements:\n- Use:\n  - `<h2>` for headings that start with `##`\n  - `<h3>` for headings that start with `###`\n  - `<ul><li>` for bullet points\n  - `<p>` for paragraphs\n- Wrap the entire output in a single `<div>...</div>` block.\n- Ensure that the greeting includes: `<h2>Hi {{ $json.name }},</h2>` (do **not** replace the placeholder).\n- The closing **signature** (e.g., *Warm regards*, name, title, etc.) should be fully enclosed in a single `<p>` tag, using `<br>` to separate lines.\n- Avoid any inline styles, CSS, or unnecessary wrappers.\n- Do **not** include markdown, only clean HTML.","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-2272,2016],"id":"852a7466-ef2c-4a47-8e5d-83b7d0e440a1","name":"HTML Parser 1"},{"parameters":{"toolDescription":"Converts the md format email text to HTML format","text":"={{ $json.html_parser_prompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[-3024,4032],"id":"fb1b8ee7-9a1d-434b-bb15-d28f443d5d3a","name":"HTML Parser"},{"parameters":{"resource":"draft","emailType":"html","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-2752,4240],"id":"666d5443-8f66-4ced-825a-f40ccde0fb91","name":"Create a draft in Gmail","webhookId":"27892f36-52db-4d9c-a794-e217d336fc81","credentials":{"gmailOAuth2":{"id":"U4FqrpjjcVBSGhHW","name":"Gmail account"}}},{"parameters":{"toolDescription":"Generate Email based on user requirement","text":"={{ $json.email_content_generator_prompt }}","options":{}},"type":"@n8n/n8n-nodes-langchain.agentTool","typeVersion":2.2,"position":[-4080,4064],"id":"6167dbff-377e-4c38-b3b5-4f485a1db144","name":"Email Content Generator"},{"parameters":{"assignments":{"assignments":[{"id":"e467ffcc-5df6-4664-b8e9-8616f9bd6162","name":"chatter_prompt","value":"=You are a helpful AI assistant that calls a specific AI agent tools based on what task user wants to completed.\n\n🧠 Your responsibilities:\n- Understand the user’s intent from their input: {{ $json.chatInput }}\n- If user is asking to generate an email, update an email, or certain changes in the email, you need to call \"Email Content Generator\" tool for further processes.","type":"string"},{"id":"c77dba0b-070e-4cb9-b78d-1df960842818","name":"email_content_generator_prompt","value":"=You are a helpful AI assistant that creates email content in structured Markdown format, ready to be converted to HTML later.\n\n🧠 Your responsibilities:\n- Understand the user’s intent from their input: {{ $json.chatInput }}\n- Extract helpful context from:\n  - The conversation\n  - The recipient name: {{ $json.name }} (do **not** replace it — just reference it as {{ $json.name }})\n- Use **RAG Vector Store** for retrieving information while replying to the user.\n- Compose a professional, friendly email draft in **Markdown format**.\n- Use headings, lists, and clear structure to make it easily convertible to HTML.\n\n📌 Requirements:\n- Always start with a greeting like:\n  ## Hi {{ $json.name }},\n- Structure the email using:\n  - ## for main sections\n  - ### for subheadings\n  - - for bullet points\n  - Paragraphs for message body\n- End with a friendly closing (e.g., *Warm regards*, etc.)\n- Do **not** include any HTML or CSS in this step.\n- Keep the tone warm, helpful, and aligned with the purpose.\n- ⚠️ If you're suggesting a **subject line**, do not include it in markdown, it can be included in the subject field of output.\n- ✅ Always ask the user to approve the email content before proceeding. Include the field `approved: false` by default until the user confirms.\n- ❗ Never include the content of the email in the `text` field; the subject line is okay there, but the email body must strictly go in the `markdown` field.\n\n📥 Database Check:\n- Before creating a new email, always check if an email has already been created and approved for the session.\n- Use the **Retrieve stored emails** tool to check for existing approved emails.\n- If one exists, do **not** recreate it unless the user explicitly asks to regenerate the email after approval.\n\n📨 Post-Approval Follow-up:\n- Once the user gives approval, ask the following questions **one at a time**, in this order:\n  1. To whom should the email be sent?\n     - Once you get the email address(es), **at least retrieve the name and any other associated metadata (address, group name, etc.) of the recipient(s)** from the **Email List for Groups** tool and store it in `metadata` field of output as json.\n     - Use the **Email List Vector Store** tool to find additional metadata after getting the email address.\n  2. From which email address should it be sent?\n     - 📧 Email Restrictions: Only use addresses from this list: [{{ $json.allowed_email_sender }}]\n     - If the user suggests any other address, inform them it's not allowed and provide the list above.\n  3. Are there any attachments to include?\n     - Ask for either file names or links.\n     - Check availability using the **RAG Vector Store**.\n\n- If the email metadata (recipients, sender, attachments) is already found in the **Retrieve stored emails** tool, confirm with the user if you'd like to proceed with those details before asking further questions.\n\n- Then ask: **“Should I send the email?”**\n  - If yes, set `send_email: true` in the output.\n- The `markdown` field in the output should be **empty** during this follow-up if no new email content is created or updated.\n\n- 📝 Keep all follow-up questions **in a separate questionnaire flow** distinct from the main email content generation to avoid confusion.\n\n\n🧠 Mailing List & Recipient Data Lookup:\n- If the user asks to send to a group (e.g., “send this to all managers”), query the **RAG Vector Store** to retrieve relevant mailing lists.\n- Use the **Email List Vector Store** to find metadata after identifying each email address.\n- Also use RAG to enrich emails with context-specific information like:\n  - Full name\n  - Job title or designation\n  - Location\n  - Any other relevant identifier\n\n📝 Important:\n- Whatever information you want to provide to the user apart from the fields (excluding `text` in output), add it strictly in the `text` field.\n- Always follow the output format strictly.\n- Never include the content of the email in the `text` field. Only the subject can appear there. The email body must go **only** in the `markdown` field.\n\n🔁 Behavior Summary:\n- Start as a conversational planner.\n- Switch to email generation **only when the user confirms**.\n- HTML will be sent downstream for email delivery.\n- Always return a **summary text** in chat to explain what was done.\n- Always stick to the output format.\n\n🚫 Never assume the user wants to create an email. Wait for clear intent signals from the user.\n\n📤 Output Format:\nReturn this JSON:\n{\n  \"text\": \"\",\n  \"subject\": \"\",\n  \"markdown\": \"\",\n  \"approved\": false,\n  \"send_to_email\": [],\n  \"send_from_email\": \"\",\n  \"attachments\": [],\n  \"metadata\": {},\n  \"send_email\": false\n}","type":"string"},{"id":"9259c94f-4367-46b5-9814-e7ca7ed7e887","name":"html_parser_prompt","value":"=You are a helpful AI assistant that converts structured email content written in Markdown into clean, semantic HTML.\n\n🧠 Your responsibilities:\n- Take the full Markdown email content as input.\n- Convert it into semantic HTML using appropriate tags.\n\n🔧 Input:\nYou will receive:\n- A full email draft in Markdown from the field:\n\n```\n{{ $json.markdown }}\n```\n\n📌 Requirements:\n- Use:\n  - `<h2>` for headings that start with `##`\n  - `<h3>` for headings that start with `###`\n  - `<ul><li>` for bullet points\n  - `<p>` for paragraphs\n- Wrap the entire output in a single `<div>...</div>` block.\n- Ensure that the greeting includes: `<h2>Hi {{ $json.name }},</h2>` (do **not** replace the placeholder).\n- The closing **signature** (e.g., *Warm regards*, name, title, etc.) should be fully enclosed in a single `<p>` tag, using `<br>` to separate lines.\n- Avoid any inline styles, CSS, or unnecessary wrappers.\n- Do **not** include markdown, only clean HTML.","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3968,3600],"id":"0427ada7-cb39-4304-b6b2-4255aabd1ac2","name":"AI Prompts"},{"parameters":{"updates":["message","edited_message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-6096,3808],"id":"4d9ea953-f261-4f89-abbd-e8184f5c8c43","name":"Telegram Trigger","webhookId":"f7575a63-ffe6-49ef-b58f-2ac74e77da1f","credentials":{"telegramApi":{"id":"u3X4AxVh3x7k4a1z","name":"Telegram account"}}},{"parameters":{"resource":"audio","modelId":{"__rl":true,"value":"models/gemini-2.5-flash","mode":"list","cachedResultName":"models/gemini-2.5-flash"},"inputType":"binary","options":{}},"type":"@n8n/n8n-nodes-langchain.googleGemini","typeVersion":1,"position":[-5184,3664],"id":"d9c5d23d-a7cf-4a63-bf77-a0b438d03ef7","name":"Transcribe a recording","credentials":{"googlePalmApi":{"id":"lNYUNbpUefVcNyks","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true},"id":"66731da4-810e-48b7-94cb-f659fd674f3a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b1f5e4da-5d2c-4f8b-ae29-5279f26730bd","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-5872,3808],"id":"aa26280f-bc8c-4f31-82dc-028cf6514123","name":"Switch2"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-5600,3664],"id":"1c8b1c2b-7f81-4d46-8aba-a4ac64d6bc56","name":"Get a file","webhookId":"911e497d-8d78-4c3c-a0f2-58a430739de3","credentials":{"telegramApi":{"id":"u3X4AxVh3x7k4a1z","name":"Telegram account"}}},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  item.binary.data.mimeType = \"audio/ogg\"\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-5392,3664],"id":"de255dec-6738-412e-bf4a-0752079778b6","name":"Code"},{"parameters":{"jsCode":"return {\n  json: {\n    chatInput: $input.first().json.content.parts.map(part => part.text).join('\\n')\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4976,3664],"id":"9114958d-cbd7-40f3-a598-3c9e230c91a7","name":"Code3"},{"parameters":{"assignments":{"assignments":[{"id":"136092fd-b0f2-41ef-8782-302ce2082fe5","name":"sessionId","value":"={{ $json.message.chat.id }}","type":"number"},{"id":"cf87d08a-3e41-41ef-b3ef-0f0618a17ddf","name":"chatInput","value":"={{ $json.message.text }}","type":"string"},{"id":"f648f640-0851-4734-915c-6f39540a774a","name":"isTelegramInput","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5600,3952],"id":"6a7372d8-deeb-4341-b8f7-890f31d104f4","name":"Telegram Text Input"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-4768,3744],"id":"da9dd424-6d95-499f-9d6d-d4b900918aac","name":"Merge3"},{"parameters":{"assignments":{"assignments":[{"id":"792f98d5-909e-4595-85c4-6626ff67b7ad","name":"sessionId","value":"={{ $json.message.chat.id }}","type":"number"},{"id":"089e7c78-6a2e-46e9-8a0c-3c555c936e48","name":"isTelegramInput","value":true,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5392,3808],"id":"4222d044-32bb-4063-8587-83f7167230a8","name":"Telegram Voice Input"},{"parameters":{"assignments":{"assignments":[{"id":"bb525851-8692-46f6-9b58-ddad0f9d1097","name":"name","value":"{{name}}","type":"string"},{"id":"3098750a-1d92-4b49-9e9e-56a4eaf0628a","name":"allowedEmailSenders","value":"['testbpsi1@gmail.com', 'atharvadevasthali22@gmail.com']","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4352,3600],"id":"d6d9a234-27dc-4271-90bb-babb91395f1d","name":"Constant Variables"},{"parameters":{"assignments":{"assignments":[{"id":"2fbb0549-7b3f-4faf-8980-962ee0a57ec4","name":"sessionId","value":"={{ $json.sessionId }}","type":"string"},{"id":"03f078df-1609-43ef-8e6c-064df865e34b","name":"chatInput","value":"={{ $json.chatInput }}","type":"string"},{"id":"9339a7b1-6414-44d8-9429-4ca9931d5959","name":"isTelegramInput","value":false,"type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4768,4000],"id":"86f58d2f-8c61-424c-a63a-a0c0908afe9e","name":"Inbuilt Chat Input"},{"parameters":{"assignments":{"assignments":[{"id":"c59a12d9-aedb-40a1-9e72-80feedfd9532","name":"sessionId","value":"={{ $json.sessionId }}","type":"string"},{"id":"afd3099c-6140-4f6f-a8d9-4c4e64ce45c3","name":"chatInput","value":"={{ $json.chatInput }}","type":"string"},{"id":"283ce366-b167-41b2-a41a-cb787eb34c3a","name":"isTelegramInput","value":"={{ $json.isTelegramInput }}","type":"boolean"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4560,3744],"id":"f66e328e-7041-4498-a29f-f7a0700a2d8f","name":"Single Point Merger"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-4176,3728],"id":"f97a29a3-189e-46d0-aacd-2f3adebcdece","name":"Merge11"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-4224,4272],"id":"35e5dd56-0757-40e9-81de-e8045c89f609","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"lNYUNbpUefVcNyks","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-3024,4256],"id":"08825e6a-475d-46b5-913e-8a3c9e582c91","name":"Google Gemini Chat Model3","credentials":{"googlePalmApi":{"id":"lNYUNbpUefVcNyks","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"chatId":"={{ $('Chatter Input').item.json.sessionId }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2896,3568],"id":"e6c1c13c-db3a-4a3a-9331-28d815503a85","name":"Send a text message1","webhookId":"3f30fb3c-4829-4826-b5d2-aab1ac96e5f6","credentials":{"telegramApi":{"id":"u3X4AxVh3x7k4a1z","name":"Telegram account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"30183a7b-eb7f-4720-85cc-223e717da61e","leftValue":"={{ $('Chatter Input').item.json.isTelegramInput }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-3152,3712],"id":"d8a4e56b-2ee1-4605-bc54-b4e666930718","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"9d79ecb5-ac0d-4739-af59-0912d1d72a7e","name":"output","value":"={{ $json.output }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2896,3728],"id":"94ab0e22-b61c-42ab-80af-df4000e4e924","name":"Output Chat1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-3760,3712],"id":"da9b03ad-f555-40c0-9399-c97756b195e8","name":"Chatter Input"}],"connections":{"Loop Over Items3":{"main":[[],[{"node":"If4","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Edit Fields2","type":"main","index":0},{"node":"Switch1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"AI Chatter Input","type":"main","index":0}]]},"Get a document":{"main":[[{"node":"Code6","type":"main","index":0}]]},"Code6":{"main":[[{"node":"If6","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Supabase Vector Store (Docs)","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Embeddings Google Gemini":{"ai_embedding":[[{"node":"Supabase Vector Store (Docs)","type":"ai_embedding","index":0},{"node":"Supabase Vector Store for Email List (Sheet)","type":"ai_embedding","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Supabase Vector Store (Docs)","type":"ai_document","index":0}]]},"Get many rows":{"main":[[{"node":"Code7","type":"main","index":0}]]},"Code7":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"Merge5":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"If4":{"main":[[{"node":"Download file","type":"main","index":0}],[{"node":"If5","type":"main","index":0}]]},"If5":{"main":[[{"node":"Edit Fields4","type":"main","index":0}],[{"node":"Loop Over Items3","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"If6":{"main":[[{"node":"Split Out","type":"main","index":0}],[{"node":"Loop Over Items3","type":"main","index":0}]]},"Google Gemini Chat Model1":{"ai_languageModel":[[{"node":"Chatter","type":"ai_languageModel","index":0},{"node":"HTML Parser 1","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory1":{"ai_memory":[[{"node":"Chatter","type":"ai_memory","index":0}]]},"Embeddings Google Gemini2":{"ai_embedding":[[{"node":"RAG Vector Store","type":"ai_embedding","index":0}]]},"HTML2":{"main":[[{"node":"Merge7","type":"main","index":1}]]},"Code9":{"main":[[{"node":"Code10","type":"main","index":0},{"node":"Merge6","type":"main","index":1}]]},"Code10":{"main":[[{"node":"If11","type":"main","index":0}]]},"Merge6":{"main":[[{"node":"If9","type":"main","index":0}]]},"Code8":{"main":[[{"node":"HTML2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge7","type":"main","index":0}]]},"Merge7":{"main":[[{"node":"Get a row","type":"main","index":0}]]},"Retrieve stored Emails":{"ai_tool":[[{"node":"Chatter","type":"ai_tool","index":0}]]},"Get a row":{"main":[[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Create a row","type":"main","index":0}],[{"node":"Update a row","type":"main","index":0}]]},"Chatter":{"main":[[{"node":"Code9","type":"main","index":0}]]},"RAG Vector Store":{"ai_tool":[[{"node":"Chatter","type":"ai_tool","index":0}]]},"Get a row1":{"main":[[{"node":"If7","type":"main","index":0}]]},"Update a email ids":{"main":[[{"node":"Get a row1","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Update a email ids","type":"main","index":0},{"node":"Split Out1","type":"main","index":0},{"node":"Group Name (Sheet Name)","type":"main","index":0}]]},"If7":{"main":[[{"node":"Edit Fields5","type":"main","index":0},{"node":"Split Out2","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"HTTP Request2","type":"main","index":0},{"node":"Merge8","type":"main","index":1},{"node":"Merge10","type":"main","index":1}],[{"node":"Get a document","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"Code13","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Loop Over Items4":{"main":[[{"node":"Code12","type":"main","index":0}],[{"node":"Get row(s) in sheet2","type":"main","index":0},{"node":"Edit Fields1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Split Out3","type":"main","index":0}]]},"Split Out3":{"main":[[{"node":"Merge8","type":"main","index":0}]]},"Merge8":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Code12":{"main":[[{"node":"Split Out4","type":"main","index":0}]]},"Split Out4":{"main":[[{"node":"Merge10","type":"main","index":0}]]},"Merge10":{"main":[[{"node":"If8","type":"main","index":0}]]},"Merge9":{"main":[[{"node":"Loop Over Items4","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge9","type":"main","index":0}]]},"Supabase Vector Store (Docs)":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Default Data Loader1":{"ai_document":[[]]},"If8":{"main":[[{"node":"Supabase Vector Store for Email List (Sheet)","type":"main","index":0}]]},"Code13":{"main":[[{"node":"Edit Fields6","type":"main","index":0}]]},"Edit Fields6":{"main":[[{"node":"Merge9","type":"main","index":1}]]},"Supabase Vector Store for Email List (Sheet)":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"Inbuilt Chat Input","type":"main","index":0}]]},"If9":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"HTML Parser 1","type":"main","index":0}],[{"node":"If10","type":"main","index":0}]]},"If10":{"main":[[{"node":"Code5","type":"main","index":0}]]},"If11":{"main":[[{"node":"Send a text message","type":"main","index":0}],[{"node":"Output Chat","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Send a message (testbpsi1@gmail.com)","type":"main","index":0}],[{"node":"Send a message (atharvadevasthali22@gmail.com)","type":"main","index":0}]]},"AI Chatter Input":{"main":[[{"node":"Chatter","type":"main","index":0},{"node":"Merge6","type":"main","index":0}]]},"Send a message (testbpsi1@gmail.com)":{"main":[[{"node":"Update row in sheet","type":"main","index":0},{"node":"Loop Over Items5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Send a message (atharvadevasthali22@gmail.com)":{"main":[[{"node":"Loop Over Items5","type":"main","index":0},{"node":"Update row in sheet","type":"main","index":0}]]},"Email list for Groups":{"ai_tool":[[{"node":"Chatter","type":"ai_tool","index":0}]]},"Merge":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Split Out2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Code2":{"main":[[{"node":"HTML","type":"main","index":0},{"node":"Switch","type":"main","index":0}]]},"Loop Over Items5":{"main":[[],[{"node":"Code2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Group Name (Sheet Name)":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Loop Over Items5","type":"main","index":0}]]},"Embeddings Google Gemini3":{"ai_embedding":[[{"node":"RAG Vector Store1","type":"ai_embedding","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"Chatter1","type":"ai_memory","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Chatter1","type":"ai_languageModel","index":0}]]},"Retrieve stored Emails1":{"ai_tool":[[{"node":"Email Content Generator","type":"ai_tool","index":0}]]},"RAG Vector Store1":{"ai_tool":[[{"node":"Email Content Generator","type":"ai_tool","index":0}]]},"HTML Parser 1":{"main":[[{"node":"Code8","type":"main","index":0}]]},"HTML Parser":{"ai_tool":[[{"node":"Chatter1","type":"ai_tool","index":0}]]},"Create a draft in Gmail":{"ai_tool":[[{"node":"HTML Parser","type":"ai_tool","index":0}]]},"Email Content Generator":{"ai_tool":[[{"node":"Chatter1","type":"ai_tool","index":0}]]},"AI Prompts":{"main":[[{"node":"Chatter Input","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Transcribe a recording":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Get a file","type":"main","index":0},{"node":"Telegram Voice Input","type":"main","index":0}],[{"node":"Telegram Text Input","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Transcribe a recording","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Telegram Text Input":{"main":[[{"node":"Single Point Merger","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Single Point Merger","type":"main","index":0}]]},"Telegram Voice Input":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Inbuilt Chat Input":{"main":[[{"node":"Single Point Merger","type":"main","index":0}]]},"Constant Variables":{"main":[[{"node":"Merge11","type":"main","index":0}]]},"Single Point Merger":{"main":[[{"node":"Merge11","type":"main","index":1},{"node":"Constant Variables","type":"main","index":0}]]},"Merge11":{"main":[[{"node":"AI Prompts","type":"main","index":0},{"node":"Chatter Input","type":"main","index":1}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Email Content Generator","type":"ai_languageModel","index":0}]]},"Google Gemini Chat Model3":{"ai_languageModel":[[{"node":"HTML Parser","type":"ai_languageModel","index":0}]]},"If":{"main":[[{"node":"Send a text message1","type":"main","index":0}],[{"node":"Output Chat1","type":"main","index":0}]]},"Chatter1":{"main":[[{"node":"If","type":"main","index":0}]]},"Chatter Input":{"main":[[{"node":"Chatter1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"instanceId":"3fcc524a2177e7ddb4a539aaa7c79d9f30b9b0ada55dc8bc7dd873b11ec37e51"},"nodeGroups":[],"pinData":{},"versionId":"3ad160a6-06d0-41f7-856f-98351b63f2ef","activeVersionId":null,"versionCounter":1,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-05-16T22:31:17.841Z","createdAt":"2026-05-16T22:31:17.841Z","role":"workflow:owner","workflowId":"2wn9nE3iRNXxc1Kh","projectId":"i6SPWKiaev6Io6So","project":{"updatedAt":"2026-05-16T22:27:54.117Z","createdAt":"2026-05-16T22:26:58.253Z","id":"i6SPWKiaev6Io6So","name":"Atharva Devasthali <atharvadevasthali22@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"bbfd9b91-c218-420f-985d-bbb81f401ca4"}}],"versionMetadata":{"name":null,"description":null}}