n8n-workflows/workflows/3CV8vOr3daIHXK6X.json
{
  "updatedAt": "2026-06-12T20:12:19.979Z",
  "createdAt": "2026-05-16T22:31:33.458Z",
  "id": "3CV8vOr3daIHXK6X",
  "name": "Script Generator",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2176,
        560
      ],
      "id": "8db1a75c-da47-46d1-ad6a-62d32c542d5a",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Job Posting News Segment\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"segment_title\": {\n      \"type\": \"string\",\n      \"description\": \"Concise title for this job segment, e.g., 'Careers Update' or 'Job Spotlight'.\",\n      \"minLength\": 1,\n      \"maxLength\": 100\n    },\n    \"job_overview\": {\n      \"type\": \"string\",\n      \"description\": \"Precise description of the role, company, location, and responsibilities.\",\n      \"minLength\": 1\n    },\n    \"qualifications_requirements\": {\n      \"type\": \"string\",\n      \"description\": \"Summary of necessary skills, experience, and education for the role.\",\n      \"minLength\": 1\n    },\n    \"skills_required\": {\n      \"type\": \"string\",\n      \"description\": \"List or short paragraph of specific technical or soft skills needed.\",\n      \"minLength\": 1\n    },\n    \"benefits_perks\": {\n      \"type\": \"string\",\n      \"description\": \"Outline any notable advantages or benefits of the position.\",\n      \"minLength\": 1\n    },\n    \"application_details\": {\n      \"type\": \"string\",\n      \"description\": \"Instructions on how to apply, with reference to 'link below' instead of including actual URLs.\",\n      \"minLength\": 1\n    }\n  },\n  \"required\": [\n    \"segment_title\",\n    \"job_overview\",\n    \"qualifications_requirements\",\n    \"skills_required\",\n    \"benefits_perks\",\n    \"application_details\"\n  ],\n  \"additionalProperties\": false\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2736,
        752
      ],
      "id": "d1c22976-396b-4689-b5a3-f1d790cb7074",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "date"
            },
            {
              "name": "start_id",
              "type": "number"
            },
            {
              "name": "num_of_jobs",
              "type": "number"
            },
            {
              "name": "maxCount",
              "type": "number"
            },
            {
              "name": "video_type"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1536,
        560
      ],
      "id": "f96310d8-fe9a-4c70-a8d6-e2b573994c62",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output;\n\nreturn {\n  json: {\n    script: `${output.job_overview} ${output.qualifications_requirements} ${output.skills_required} ${output.benefits_perks} ${output.application_details}`\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        560
      ],
      "id": "0caa7b8d-6dab-4d69-8725-3401d14f99d8",
      "name": "Restructure Script"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7Nx6lwYZ4Vb8vD8v",
          "mode": "list",
          "cachedResultUrl": "/workflow/7Nx6lwYZ4Vb8vD8v",
          "cachedResultName": "Text to Voice Converter"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ $json.script }}"
          },
          "matchingColumns": [
            "text"
          ],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2672,
        928
      ],
      "id": "07463d0b-6863-4e1c-a7a6-95a55c87c060",
      "name": "Text to Voice"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "7d4d5b85-c4a7-4515-a83a-3f9da33e58e6",
              "leftValue": "={{ $json.script_added }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "97c04698-78b9-4ec1-a9f0-a75105ebd590",
              "leftValue": "={{ $json.index }}",
              "rightValue": -1,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        560
      ],
      "id": "0e9dd8e7-ff0b-40ee-b911-3fbd0f9dbcb0",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2176,
        928
      ],
      "id": "67d112b1-b45d-4b47-ba0a-b1ffb6b41760",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f041a24b-629b-4c07-b8a3-723fc3cb0727",
              "leftValue": "={{ $json.audio_added }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "f6491ac8-e91b-4abf-8dba-e318d1a028c0",
              "leftValue": "={{ $json.index }}",
              "rightValue": -1,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        944
      ],
      "id": "7034655d-354d-4be7-b069-aeafd9863ab8",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  item.json = {\n    \"jobs\": {\n      \"company_name\": item.json.company_name,\n      \"position\": item.json.position,\n      \"location\": item.json.location,\n      \"experience\": item.json.experience_required,\n      \"skills\": item.json.skills_required,\n      \"job_type\": item.json.job_type,\n      \"link\": item.json.link,\n      \"audio_file\": item.json.audio_file_name\n    }\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2176,
        1232
      ],
      "id": "9664906b-dbc2-4a90-8e2c-87508c3b82ee",
      "name": "Code"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "jobs"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2384,
        1232
      ],
      "id": "1981318e-1a8d-4d9d-a98d-005b87ce2a1a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2592,
        1232
      ],
      "id": "b70b082e-d802-4fa8-aeee-35919f14ed75",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n  \"template_slide\": 0,\n  \"old_text\": {\n    \"company_name\": \"{{COMPANY_NAME}}\",\n    \"position\": \"{{POSITION}}\",\n    \"location\": \"{{LOCATION}}\",\n    \"experience\": \"{{EXPERIENCE}}\",\n    \"skills\": \"{{SKILLS}}\",\n    \"job_type\": \"{{JOB_TYPE}}\",\n    \"link\": \"{{LINK}}\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2176,
        1424
      ],
      "id": "7e3c32f1-d75b-46ba-9385-ee21e84742f3",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3552,
        560
      ],
      "id": "e2d87172-2fc0-49dc-bc09-400e9584d231",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3088,
        928
      ],
      "id": "43ce971e-c02b-4305-abf2-bbbcaeb98ea6",
      "name": "Merge2"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM job_listing.job_links\nWHERE date = $1\n  AND id >= $2::int\n  AND video_type = $4\nORDER BY id ASC\nLIMIT $3::int;",
        "options": {
          "queryReplacement": "={{ $json.date }},{{ $json.start_id }},{{ $json.num_of_jobs }},{{ $json.video_type }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1744,
        560
      ],
      "id": "3177825e-1177-4d37-a7fe-764b8e8169bd",
      "name": "Extract Job Openings",
      "credentials": {
        "postgres": {
          "id": "yc7NiS95ggUrE59j",
          "name": "Postgres account (Server)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "job_listing",
          "mode": "list",
          "cachedResultName": "job_listing"
        },
        "table": {
          "__rl": true,
          "value": "job_links",
          "mode": "list",
          "cachedResultName": "job_links"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "script_added": true,
            "id": "={{ $('Extract Job Openings').item.json.id }}",
            "script": "={{ $('Restructure Script').item.json.script }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "experience_required",
              "displayName": "experience_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "skills_required",
              "displayName": "skills_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job_type",
              "displayName": "job_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "audio_added",
              "displayName": "audio_added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "audio_file_name",
              "displayName": "audio_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "script_added",
              "displayName": "script_added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "script",
              "displayName": "script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "video_created",
              "displayName": "video_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job_description",
              "displayName": "job_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_type",
              "displayName": "video_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3360,
        560
      ],
      "id": "be08a963-017b-4343-8737-c41373e77a40",
      "name": "Add Script",
      "credentials": {
        "postgres": {
          "id": "yc7NiS95ggUrE59j",
          "name": "Postgres account (Server)"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "job_listing",
          "mode": "list",
          "cachedResultName": "job_listing"
        },
        "table": {
          "__rl": true,
          "value": "job_links",
          "mode": "list",
          "cachedResultName": "job_links"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "audio_added": true,
            "id": "={{ $('Extract Job Openings').item.json.id }}",
            "audio_file_name": "={{ $binary.data.fileName }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "experience_required",
              "displayName": "experience_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "skills_required",
              "displayName": "skills_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job_type",
              "displayName": "job_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "audio_added",
              "displayName": "audio_added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "audio_file_name",
              "displayName": "audio_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "script_added",
              "displayName": "script_added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "script",
              "displayName": "script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_created",
              "displayName": "video_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job_description",
              "displayName": "job_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_type",
              "displayName": "video_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2880,
        928
      ],
      "id": "830ecea5-109b-491e-8f41-4024acc95e7b",
      "name": "Add Audio File",
      "credentials": {
        "postgres": {
          "id": "yc7NiS95ggUrE59j",
          "name": "Postgres account (Server)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a professional TV news channel script sub-narrative for a scheduled segment that highlights job postings.\n\n**JOB POSTING DETAILS:**\nCompany Name: {{ $json.company_name }}\nPosition: {{ $json.position }}\nLocation: {{ $json.location }}\nJob Description: {{ $json.job_description }}\nApply Link: {{ $json.link }}\n\n**TASK:**\nWrite a formal and concise broadcast script sub-narrative where:\n- The content focuses on the core job information without introduction or closing segments\n- The tone is professional, clear, and neutral\n- The segment follows a logical flow: job overview → qualifications → skills required → benefits/perks → application details\n- The script should be delivered as a single-voice narration suitable for AI audio generation\n- Avoid any conversational back-and-forth or multiple speakers\n- Keep sentences clear and well-paced for spoken delivery\n\n**OUTPUT REQUIREMENTS:**\nReturn a JSON object with these exact fields:\n- segment_title: A concise, engaging title for this job segment (e.g., \"Tech Careers Update\" or \"Engineering Opportunity Spotlight\")\n- job_overview: Precise description of the role, company, location, and responsibilities based on the job description\n- qualifications_requirements: Summary of necessary skills, experience, and education\n- skills_required: List or short paragraph of specific technical or soft skills needed\n- benefits_perks: Outline any notable advantages or benefits of the position\n- application_details: Instructions on how to apply with reference to \"link below\"\n\n**GUIDELINES:**\n- Maintain a formal and respectful tone throughout\n- Avoid slang or casual language\n- Extract information directly from the provided job description\n- If job description is not available or empty, visit the link provided and extract relevant information from the job posting\n- If certain details are missing from the job posting, note them as \"Not specified in posting\"\n- Ensure the script flows naturally when read aloud by AI text-to-speech\n- Do not include actual URLs or links in the script text",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2608,
        560
      ],
      "id": "ea11c0ba-90e8-406a-bdc9-34ff154c8524",
      "name": "Script Generator"
    },
    {
      "parameters": {
        "jsCode": "let count = 0;\nlet maxCount;\n\ntry {\n  maxCount = $('When Executed by Another Workflow').first().json.maxCount;\n} catch (error) {\n  maxCount = 99999;\n}\n\nfor (const item of $input.all()) {\n  if ((!item.json.script_added || !item.json.audio_added) && count < maxCount) {\n    item.json.index = count;\n    count += 1;\n  } else {\n    item.json.index = -1;\n  }\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1952,
        560
      ],
      "id": "78a5ad23-3877-4eb7-8e1f-fa674ab29d8f",
      "name": "Code1"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "eVllB3VNGtqbLuF4",
          "mode": "list",
          "cachedResultName": "Job Details (Testing)",
          "cachedResultUrl": "/projects/i6SPWKiaev6Io6So/datatables/eVllB3VNGtqbLuF4"
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.7,
      "position": [
        1952,
        736
      ],
      "id": "47004dad-2253-4718-8638-f996ad0860bc",
      "name": "When fetching a dataset row"
    },
    {
      "parameters": {
        "operation": "checkIfEvaluating"
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        3168,
        560
      ],
      "id": "5d31a79f-2cbf-4c80-817d-1079a2558094",
      "name": "Check if Evaluation triggered"
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "helpfulness",
        "userQuery": "=**JOB POSTING DETAILS:**\nCompany Name: {{ $('If').item.json.company_name }}\nPosition: {{ $('If').item.json.position }}\nLocation: {{ $('If').item.json.location }}\nJob Description: {{ $('If').item.json.job_description }}",
        "actualAnswer": "={{ $json.script }}",
        "prompt": "=You are an expert evaluator assessing whether generated job posting scripts effectively utilize all provided input information.\n\nEvaluate how well a generated script uses and incorporates the input data (company_name, position, location, job_description) on a scale from 1 to 5. Consider whether the script extracts and integrates relevant details, avoids generic placeholders, and creates content specific to the actual job posting.\n\n# Scoring Criteria\n\n- 5: Extremely effective - The script incorporates all input fields naturally, extracts specific details from job_description, personalizes content to the actual role/company, and all required JSON fields are present and substantive.\n- 4: Very effective - The script uses most input fields, incorporates job_description details well, has some company/role-specific content, and includes all required JSON fields.\n- 3: Moderately effective - The script uses some input fields, includes some job_description details, but may contain generic language or missing specific information.\n- 2: Slightly effective - The script uses minimal input data, relies on generic content, extracts few specific details from job_description, or is missing some required JSON fields.\n- 1: Not effective - The script ignores most input data, uses only placeholder text, provides no job_description details, or is missing required JSON fields.\n\n# Evaluation Steps\n\n1. Verify all required JSON fields are present: segment_title, job_overview, qualifications_requirements, skills_required, benefits_perks, application_details\n2. Check if company_name is mentioned and integrated naturally (not just once, but in context)\n3. Check if position/role is accurately reflected throughout the script\n4. Check if location is incorporated\n5. Check if specific details are extracted from job_description (responsibilities, requirements, technical skills, etc.) rather than generic statements\n6. Check if benefits/perks mentioned are actual job posting details, not generic corporate benefits\n7. Check if application_details references the link appropriately without exposing the URL\n8. Verify tone is professional, neutral, and suitable for AI text-to-speech (no slang, no emotional language)\n9. Check script length is appropriate (concise but comprehensive, not too short or overly verbose)\n10. Check relevance - every sentence should relate to the job posting, no filler or tangential content\n11. Verify content flows logically: overview → qualifications → skills → benefits → application\n12. Check for any placeholder text or unfilled sections\n\n# Output Format\n\nProvide:\n- A detailed analysis evaluating how effectively the script uses input information\n- A one-sentence summary highlighting the strengths or weaknesses in information utilization\n- An assessment of which input fields were well-utilized and which were underutilized\n- The final effectiveness score as an integer (1, 2, 3, 4, or 5)\n\nAlways follow the JSON format below and return nothing else:\n{\n  \"extended_reasoning\": \"<detailed step-by-step analysis of information utilization>\",\n  \"fields_assessment\": {\n    \"company_name\": \"<well-used / mentioned / ignored / etc>\",\n    \"position\": \"<well-used / mentioned / ignored / etc>\",\n    \"location\": \"<well-used / mentioned / ignored / etc>\",\n    \"job_description\": \"<specific details extracted / some details / mostly generic / ignored>\",\n    \"link_reference\": \"<properly referenced / mentioned / missing>\"\n  },\n  \"reasoning_summary\": \"<one sentence summary of information utilization effectiveness>\",\n  \"score\": <number: integer from 1 to 5>\n}\n\n# Notes\n\n- Focus on whether the LLM extracted actual details from job_description vs. using boilerplate\n- Company-specific and role-specific content should be evident (not generic)\n- Check that all 5 input fields are meaningfully utilized\n- \"Not specified in posting\" should only appear when the input truly lacked that information\n- Consider whether the script would sound different if generated for a different job (if not, information wasn't well-used)\n- Verify the script is substantive, not just a template with minimal personalization",
        "options": {}
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [
        3360,
        384
      ],
      "id": "d6b4ffac-2b27-4bf6-91ce-af2679138d63",
      "name": "Evaluation"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2560,
        784
      ],
      "id": "c627e6af-9bdf-4e63-985b-2d5d929481dc",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "b7nDnWwy7OrWzTgu",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2960,
        384
      ],
      "id": "987bd879-54c6-456e-bfdc-c37f388108b3",
      "name": "Stub"
    }
  ],
  "connections": {
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Script Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Job Openings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restructure Script": {
      "main": [
        [
          {
            "node": "Check if Evaluation triggered",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text to Voice": {
      "main": [
        [
          {
            "node": "Add Audio File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Script Generator",
            "type": "main",
            "index": 0
          },
          {
            "node": "Stub",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Text to Voice",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Openings": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Script": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Add Audio File": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Script Generator": {
      "main": [
        [
          {
            "node": "Restructure Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Evaluation triggered": {
      "main": [
        [
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Script Generator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Evaluation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Stub": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3fcc524a2177e7ddb4a539aaa7c79d9f30b9b0ada55dc8bc7dd873b11ec37e51"
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "8bcada37-0465-4744-af56-58caf5831234",
  "activeVersionId": "8bcada37-0465-4744-af56-58caf5831234",
  "versionCounter": 304,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [
    {
      "updatedAt": "2025-09-26T07:16:33.839Z",
      "createdAt": "2025-09-26T07:16:33.839Z",
      "id": "ens6dG0mnb19cVTi",
      "name": "Sub-Workflow"
    },
    {
      "updatedAt": "2026-05-16T22:08:55.159Z",
      "createdAt": "2026-05-16T22:08:55.159Z",
      "id": "uRLukwQ6lXVe1ia9",
      "name": "F-JNN"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-05-16T22:31:33.458Z",
      "createdAt": "2026-05-16T22:31:33.458Z",
      "role": "workflow:owner",
      "workflowId": "3CV8vOr3daIHXK6X",
      "projectId": "i6SPWKiaev6Io6So",
      "project": {
        "updatedAt": "2026-05-16T22:27:54.117Z",
        "createdAt": "2026-05-16T22:26:58.253Z",
        "id": "i6SPWKiaev6Io6So",
        "name": "Atharva Devasthali <atharvadevasthali22@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "bbfd9b91-c218-420f-985d-bbb81f401ca4"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 8bcada37",
    "description": ""
  },
  "parentFolder": "Youtube Stream (JNN)",
  "parentFolderId": "yX1BtvrIqWbmETdj"
}
