n8n-workflows/workflows/3CV8vOr3daIHXK6X.json
{"updatedAt":"2026-04-23T03:08:23.297Z","createdAt":"2026-04-23T02:49:58.300Z","id":"3CV8vOr3daIHXK6X","name":"Script Generator","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[560,-32],"id":"8b98c752-28b9-4eec-afba-79ef19ae4e82","name":"Loop Over Items1"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Job Posting News Segment\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"segment_title\": {\n      \"type\": \"string\",\n      \"description\": \"Concise title for this job segment, e.g., 'Careers Update' or 'Job Spotlight'.\",\n      \"minLength\": 1,\n      \"maxLength\": 100\n    },\n    \"job_overview\": {\n      \"type\": \"string\",\n      \"description\": \"Precise description of the role, company, location, and responsibilities.\",\n      \"minLength\": 1\n    },\n    \"qualifications_requirements\": {\n      \"type\": \"string\",\n      \"description\": \"Summary of necessary skills, experience, and education for the role.\",\n      \"minLength\": 1\n    },\n    \"skills_required\": {\n      \"type\": \"string\",\n      \"description\": \"List or short paragraph of specific technical or soft skills needed.\",\n      \"minLength\": 1\n    },\n    \"benefits_perks\": {\n      \"type\": \"string\",\n      \"description\": \"Outline any notable advantages or benefits of the position.\",\n      \"minLength\": 1\n    },\n    \"application_details\": {\n      \"type\": \"string\",\n      \"description\": \"Instructions on how to apply, with reference to 'link below' instead of including actual URLs.\",\n      \"minLength\": 1\n    }\n  },\n  \"required\": [\n    \"segment_title\",\n    \"job_overview\",\n    \"qualifications_requirements\",\n    \"skills_required\",\n    \"benefits_perks\",\n    \"application_details\"\n  ],\n  \"additionalProperties\": false\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1120,160],"id":"c622eca4-9832-4df8-80a1-7292bd961a4b","name":"Structured Output Parser"},{"parameters":{"workflowInputs":{"values":[{"name":"date"},{"name":"test_mode","type":"boolean"},{"name":"maxCount","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-80,-32],"id":"d52f20ae-8911-4607-be38-160895c2332b","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"const output = $input.first().json.output;\n\nreturn {\n  json: {\n    script: `${output.job_overview} ${output.qualifications_requirements} ${output.skills_required} ${output.benefits_perks} ${output.application_details}`\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1344,-32],"id":"7ff41ab9-83a3-483b-826b-87488bbe04fc","name":"Restructure Script"},{"parameters":{"workflowId":{"__rl":true,"value":"7Nx6lwYZ4Vb8vD8v","mode":"list","cachedResultUrl":"/workflow/7Nx6lwYZ4Vb8vD8v","cachedResultName":"Text to Voice Converter"},"workflowInputs":{"mappingMode":"defineBelow","value":{"text":"={{ $json.script }}"},"matchingColumns":["text"],"schema":[{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1056,336],"id":"ad0360c2-d99b-4508-9552-34227e992606","name":"Text to Voice"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d4d5b85-c4a7-4515-a83a-3f9da33e58e6","leftValue":"={{ $json.script_added }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"97c04698-78b9-4ec1-a9f0-a75105ebd590","leftValue":"={{ $json.index }}","rightValue":-1,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[784,-16],"id":"340a99b8-955b-410d-bf8d-1aa0b831129c","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[560,336],"id":"1c6b14b7-40e6-4fe4-80f9-317ab78f489b","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"f041a24b-629b-4c07-b8a3-723fc3cb0727","leftValue":"={{ $json.audio_added }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"f6491ac8-e91b-4abf-8dba-e318d1a028c0","leftValue":"={{ $json.index }}","rightValue":-1,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[784,352],"id":"76c7195f-1cc6-44cf-a69c-c22846fc4b6c","name":"If1"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  item.json = {\n    \"jobs\": {\n      \"company_name\": item.json.company_name,\n      \"position\": item.json.position,\n      \"location\": item.json.location,\n      \"experience\": item.json.experience_required,\n      \"skills\": item.json.skills_required,\n      \"job_type\": item.json.job_type,\n      \"link\": item.json.link,\n      \"audio_file\": item.json.audio_file_name\n    }\n  }\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,640],"id":"4a7bf1d1-4d69-45d4-9835-57c203826dd6","name":"Code"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"jobs"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[768,640],"id":"0d08ee23-d2e4-4e02-a303-a0a556cdb2e1","name":"Aggregate"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[976,640],"id":"514c47d2-03a2-431d-8ec3-224921311f3f","name":"Merge"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"template_slide\": 0,\n  \"old_text\": {\n    \"company_name\": \"{{COMPANY_NAME}}\",\n    \"position\": \"{{POSITION}}\",\n    \"location\": \"{{LOCATION}}\",\n    \"experience\": \"{{EXPERIENCE}}\",\n    \"skills\": \"{{SKILLS}}\",\n    \"job_type\": \"{{JOB_TYPE}}\",\n    \"link\": \"{{LINK}}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,832],"id":"dcb8d774-6188-4f17-9244-8846487c4daa","name":"Edit Fields"},{"parameters":{"workflowId":{"__rl":true,"value":"HmMxxv4eZOZGzrOl","mode":"list","cachedResultUrl":"/workflow/HmMxxv4eZOZGzrOl","cachedResultName":"Video Creation"},"workflowInputs":{"mappingMode":"defineBelow","value":{"old_text":"={{ $json.old_text }}","jobs":"={{ $json.jobs }}","template_slide":"={{ $json.template_slide }}","date":"={{ $('When Executed by Another Workflow').item.json.date }}","batch_size":5,"initial_point":0},"matchingColumns":[],"schema":[{"id":"template_slide","displayName":"template_slide","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"old_text","displayName":"old_text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"jobs","displayName":"jobs","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"batch_size","displayName":"batch_size","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"initial_point","displayName":"initial_point","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1392,560],"id":"872987f6-ee56-4712-a395-ebcb957b3a04","name":"Create Video","retryOnFail":false},{"parameters":{"fileSelector":"={{ $json.file_path }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1584,560],"id":"f485cfa8-adfc-4aff-8198-ed192d377a70","name":"Get Video file"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b6b8e99c-dd86-437e-944b-3f4364566032","leftValue":"={{ $('When Executed by Another Workflow').item.json.test_mode }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1184,640],"id":"181f5075-0566-44f0-ad66-c6b4571e8a57","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1392,752],"id":"a9b9dc7b-54c3-42f8-a9a7-ae3e3d4f6b21","name":"Output"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1744,-32],"id":"9f0dbd22-8b94-4063-bfa3-73fb8e0d3c38","name":"Merge1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1472,336],"id":"4f08bb4c-df0f-4032-917a-3f91ab6c2093","name":"Merge2"},{"parameters":{"jsCode":"let count = 0;\nconst maxCount = $('When Executed by Another Workflow').first().json.maxCount;\n\nfor (const item of $input.all()) {\n  if ((!item.json.script_added || !item.json.audio_added) && count < maxCount) {\n    item.json.index = count;\n    count += 1;\n  } else {\n    item.json.index = -1;\n  }\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[336,-32],"id":"bd282c2a-98d3-4c56-a14b-7e8d481185e3","name":"Code1"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"job_listing","mode":"list","cachedResultName":"job_listing"},"table":{"__rl":true,"value":"job_links","mode":"list","cachedResultName":"job_links"},"where":{"values":[{"column":"date","value":"={{ $json.date }}"},{"column":"video_created","value":"false"}]},"sort":{"values":[{"column":"id"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[128,-32],"id":"26bf9977-c691-4f36-b580-8b813d177631","name":"Extract Job Openings","credentials":{"postgres":{"id":"shW2iHfLRrHL9cFY","name":"Postgres account"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"job_listing","mode":"list","cachedResultName":"job_listing"},"table":{"__rl":true,"value":"job_links","mode":"list","cachedResultName":"job_links"},"columns":{"mappingMode":"defineBelow","value":{"script_added":true,"id":"={{ $('Extract Job Openings').item.json.id }}","script":"={{ $('Restructure Script').item.json.script }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"company_name","displayName":"company_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"position","displayName":"position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"experience_required","displayName":"experience_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"skills_required","displayName":"skills_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"job_type","displayName":"job_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"audio_added","displayName":"audio_added","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"audio_file_name","displayName":"audio_file_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"script_added","displayName":"script_added","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"script","displayName":"script","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_created","displayName":"video_created","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1536,-32],"id":"2c934675-fe64-4753-b430-8220f6e24a52","name":"Add Script","credentials":{"postgres":{"id":"shW2iHfLRrHL9cFY","name":"Postgres account"}}},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"job_listing","mode":"list","cachedResultName":"job_listing"},"table":{"__rl":true,"value":"job_links","mode":"list","cachedResultName":"job_links"},"columns":{"mappingMode":"defineBelow","value":{"audio_added":true,"id":"={{ $('Extract Job Openings').item.json.id }}","audio_file_name":"={{ $binary.data.fileName }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"company_name","displayName":"company_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"position","displayName":"position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"experience_required","displayName":"experience_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"skills_required","displayName":"skills_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"job_type","displayName":"job_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"audio_added","displayName":"audio_added","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"audio_file_name","displayName":"audio_file_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"script_added","displayName":"script_added","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"script","displayName":"script","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"video_created","displayName":"video_created","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1264,336],"id":"35bf6144-b792-49fa-95c6-a834c23b59f9","name":"Add Audio File","credentials":{"postgres":{"id":"shW2iHfLRrHL9cFY","name":"Postgres account"}}},{"parameters":{"promptType":"define","text":"=Create a professional TV news channel script sub-narrative for a scheduled segment that highlights job postings.\n\n**JOB POSTING DETAILS:**\nCompany Name: {{ $json.company_name }}\nPosition: {{ $json.position }}\nLocation: {{ $json.location }}\nApply Link: {{ $json.link }}\n\n**TASK:**\nExtract the job description from the provided link and relevant sites for the specific job opening, then write a formal and concise broadcast script sub-narrative where:\n- The content focuses on the core job information without introduction or closing segments\n- The tone is professional, clear, and neutral\n- The segment follows a logical flow: job overview → qualifications → skills required → benefits/perks → application details\n- The script should be delivered as a single-voice narration suitable for AI audio generation\n- Avoid any conversational back-and-forth or multiple speakers\n- Keep sentences clear and well-paced for spoken delivery\n\n**OUTPUT REQUIREMENTS:**\nReturn a JSON object with these exact fields:\n- segment_title: A concise, engaging title for this job segment (e.g., \"Tech Careers Update\" or \"Engineering Opportunity Spotlight\")\n- job_overview: Precise description of the role, company, location, and responsibilities\n- qualifications_requirements: Summary of necessary skills, experience, and education\n- skills_required: List or short paragraph of specific technical or soft skills needed\n- benefits_perks: Outline any notable advantages or benefits of the position\n- application_details: Instructions on how to apply, referencing \"link below\" instead of actual URLs\n\n**GUIDELINES:**\n- Maintain a formal and respectful tone throughout\n- Avoid slang or casual language\n- If the job posting is missing details, fill in with realistic and relevant information\n- Ensure the script flows naturally when read aloud by AI text-to-speech\n- Do not include actual URLs or links in the script text as text-to-speech cannot deliver them properly","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[992,-32],"id":"9d462f5b-ccb3-4272-be51-472bb545ae69","name":"Script Generator"},{"parameters":{"model":"openai/gpt-4.1-nano","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[960,192],"id":"e9d3ef72-7484-4bbe-9972-0e1ca5ab7022","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"ZOsMSA2673vhlLZX","name":"OpenRouter account"}}}],"connections":{"Loop Over Items1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Script Generator","type":"ai_outputParser","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Extract Job Openings","type":"main","index":0}]]},"Restructure Script":{"main":[[{"node":"Add Script","type":"main","index":0}]]},"Text to Voice":{"main":[[{"node":"Add Audio File","type":"main","index":0}]]},"If":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"Script Generator","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Text to Voice","type":"main","index":0},{"node":"Merge2","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"If2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Create Video":{"main":[[{"node":"Get Video file","type":"main","index":0}]]},"If2":{"main":[[{"node":"Create Video","type":"main","index":0}],[{"node":"Output","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Extract Job Openings":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Add Script":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Add Audio File":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Script Generator":{"main":[[{"node":"Restructure Script","type":"main","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Script Generator","type":"ai_languageModel","index":0},{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","saveDataSuccessExecution":"all","callerPolicy":"workflowsFromSameOwner","executionTimeout":-1},"staticData":null,"meta":{"templateCredsSetupCompleted":true,"instanceId":"de331dec9aaf376116316c7d9bea9774d15e0352e57dad758565adefb9561776"},"pinData":{"When Executed by Another Workflow":[{"json":{"date":"2025-08-22","test_mode":true,"maxCount":99999}}]},"versionId":"321fb008-d02e-4126-81f3-55ee456b9482","activeVersionId":null,"versionCounter":8,"triggerCount":0,"tags":[{"updatedAt":"2025-09-26T07:16:33.839Z","createdAt":"2025-09-26T07:16:33.839Z","id":"ens6dG0mnb19cVTi","name":"Sub-Workflow"}],"shared":[{"updatedAt":"2026-04-23T02:49:58.300Z","createdAt":"2026-04-23T02:49:58.300Z","role":"workflow:owner","workflowId":"3CV8vOr3daIHXK6X","projectId":"r4FxHAXU5mmnE4p2","project":{"updatedAt":"2026-04-23T00:46:33.004Z","createdAt":"2026-04-23T00:44:53.719Z","id":"r4FxHAXU5mmnE4p2","name":"Atharva Devasthali <atharvadevasthali22@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"d151c88d-c353-4d5e-91ee-dd52a5a7fbdc"}}],"versionMetadata":{"name":null,"description":null}}