n8n-workflows/workflows/7Nx6lwYZ4Vb8vD8v.json
{
  "updatedAt": "2026-05-31T17:39:46.695Z",
  "createdAt": "2026-05-16T22:32:31.332Z",
  "id": "7Nx6lwYZ4Vb8vD8v",
  "name": "Text to Voice Converter",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api_url }}/vtt-generate-audio-bytes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "fastApiServerApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('When Executed by Another Workflow').item.json.text }}"
            },
            {
              "name": "voice",
              "value": "am_michael"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        -32
      ],
      "id": "29dd8e24-4f09-4eb2-b991-38d778c9b11a",
      "name": "Request Test to Audio Conversion",
      "retryOnFail": false,
      "executeOnce": false,
      "credentials": {
        "fastApiServerApi": {
          "id": "md7HjwFndkcEuAZi",
          "name": "FastAPI Server account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        832,
        -32
      ],
      "id": "78fb20c9-3e58-45ab-a19c-5951a6a57d57",
      "name": "Wait 10 sec",
      "webhookId": "2b2a5600-6796-4fa8-8f50-997ead338851"
    },
    {
      "parameters": {
        "url": "={{ $('Input Parameters').first().json.api_url }}/vtt-status/{{ $json.job_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "fastApiServerApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        -32
      ],
      "id": "c417df61-b5ae-4503-afc3-506fd6c3fe97",
      "name": "Status Check",
      "credentials": {
        "fastApiServerApi": {
          "id": "md7HjwFndkcEuAZi",
          "name": "FastAPI Server account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "74ffeffe-65a4-495c-b92f-13fdf8313dd8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e2732860-56fe-4d0a-aab1-532b9283869f",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e9fb6737-e335-439c-9ab5-c334fd9e4cdf",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "failed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1248,
        -48
      ],
      "id": "9060cd85-c540-4c3a-8c4c-33506d0e8dd3",
      "name": "Check request status"
    },
    {
      "parameters": {
        "url": "={{ $('Input Parameters').item.json.api_url }}/vtt-result/{{ $json.job_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "fastApiServerApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        -32
      ],
      "id": "5006196a-3524-4a49-927d-93ff96b23145",
      "name": "Get audio file",
      "credentials": {
        "fastApiServerApi": {
          "id": "md7HjwFndkcEuAZi",
          "name": "FastAPI Server account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "text"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        -32
      ],
      "id": "7b5a66e4-fd33-4366-b49e-ace9c50406b0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1440,
        144
      ],
      "id": "1a3ed8c7-51ef-4336-880a-9a000da97cc1",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7x2kP8hsfNCvf5dY",
          "mode": "list",
          "cachedResultUrl": "/workflow/7x2kP8hsfNCvf5dY",
          "cachedResultName": "Get Global Data in JSON Format From Data Tables"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "required_fields": "[\n  \"api_url\"\n]"
          },
          "matchingColumns": [
            "required_fields"
          ],
          "schema": [
            {
              "id": "required_fields",
              "displayName": "required_fields",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        416,
        -32
      ],
      "id": "abd56c6d-46c7-4840-b886-4d9c90579949",
      "name": "Input Parameters"
    }
  ],
  "connections": {
    "Request Test to Audio Conversion": {
      "main": [
        [
          {
            "node": "Wait 10 sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 sec": {
      "main": [
        [
          {
            "node": "Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Check": {
      "main": [
        [
          {
            "node": "Check request status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check request status": {
      "main": [
        [
          {
            "node": "Get audio file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10 sec",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Input Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Parameters": {
      "main": [
        [
          {
            "node": "Request Test to Audio Conversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3fcc524a2177e7ddb4a539aaa7c79d9f30b9b0ada55dc8bc7dd873b11ec37e51"
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "a516547f-7d8d-4c01-8f54-7f712747875f",
  "activeVersionId": "a516547f-7d8d-4c01-8f54-7f712747875f",
  "versionCounter": 78,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [
    {
      "updatedAt": "2026-05-16T22:08:55.159Z",
      "createdAt": "2026-05-16T22:08:55.159Z",
      "id": "uRLukwQ6lXVe1ia9",
      "name": "F-JNN"
    },
    {
      "updatedAt": "2025-09-26T07:16:33.839Z",
      "createdAt": "2025-09-26T07:16:33.839Z",
      "id": "ens6dG0mnb19cVTi",
      "name": "Sub-Workflow"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-05-16T22:32:31.332Z",
      "createdAt": "2026-05-16T22:32:31.332Z",
      "role": "workflow:owner",
      "workflowId": "7Nx6lwYZ4Vb8vD8v",
      "projectId": "i6SPWKiaev6Io6So",
      "project": {
        "updatedAt": "2026-05-16T22:27:54.117Z",
        "createdAt": "2026-05-16T22:26:58.253Z",
        "id": "i6SPWKiaev6Io6So",
        "name": "Atharva Devasthali <atharvadevasthali22@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "bbfd9b91-c218-420f-985d-bbb81f401ca4"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version a516547f",
    "description": ""
  },
  "parentFolder": "Youtube Stream (JNN)",
  "parentFolderId": "yX1BtvrIqWbmETdj"
}
