n8n-workflows/workflows/7Nx6lwYZ4Vb8vD8v.json
{
  "name": "Text to Voice Converter",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.api_url }}/vtt-generate-audio-bytes",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $('When Executed by Another Workflow').item.json.text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        624,
        -32
      ],
      "id": "29dd8e24-4f09-4eb2-b991-38d778c9b11a",
      "name": "Request Test to Audio Conversion",
      "retryOnFail": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        832,
        -32
      ],
      "id": "78fb20c9-3e58-45ab-a19c-5951a6a57d57",
      "name": "Wait 10 sec",
      "webhookId": "2b2a5600-6796-4fa8-8f50-997ead338851"
    },
    {
      "parameters": {
        "url": "={{ $('Workflow Variables').first().json.api_url }}/vtt-status/{{ $json.job_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        -32
      ],
      "id": "c417df61-b5ae-4503-afc3-506fd6c3fe97",
      "name": "Status Check"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "74ffeffe-65a4-495c-b92f-13fdf8313dd8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e2732860-56fe-4d0a-aab1-532b9283869f",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e9fb6737-e335-439c-9ab5-c334fd9e4cdf",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "failed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1248,
        -48
      ],
      "id": "9060cd85-c540-4c3a-8c4c-33506d0e8dd3",
      "name": "Check request status"
    },
    {
      "parameters": {
        "url": "={{ $('Workflow Variables').item.json.api_url }}/vtt-result/{{ $json.job_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        -32
      ],
      "id": "5006196a-3524-4a49-927d-93ff96b23145",
      "name": "Get audio file"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "text"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        192,
        -32
      ],
      "id": "7b5a66e4-fd33-4366-b49e-ace9c50406b0",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "executionIdMode": "custom",
        "customExecutionId": "job_posting"
      },
      "type": "CUSTOM.Workflow Variables",
      "typeVersion": 1,
      "position": [
        400,
        -32
      ],
      "id": "a7b24b53-449e-440b-8261-e801ded6c5f3",
      "name": "Workflow Variables"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1440,
        144
      ],
      "id": "1a3ed8c7-51ef-4336-880a-9a000da97cc1",
      "name": "Stop and Error"
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "text": "It was 7 minutes after midnight. The dog was lying on the grass in the middle of the lawn in front of Mrs Shears’ house. Its eyes were closed. It looked as if it was running on its side, the way dogs run when they think they are chasing a cat in a dream."
        }
      }
    ]
  },
  "connections": {
    "Request Test to Audio Conversion": {
      "main": [
        [
          {
            "node": "Wait 10 sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 sec": {
      "main": [
        [
          {
            "node": "Status Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Check": {
      "main": [
        [
          {
            "node": "Check request status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check request status": {
      "main": [
        [
          {
            "node": "Get audio file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10 sec",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Workflow Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Variables": {
      "main": [
        [
          {
            "node": "Request Test to Audio Conversion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1
  },
  "versionId": "bdab2878-4482-4ae3-907f-34bf6c85c6a4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3fcc524a2177e7ddb4a539aaa7c79d9f30b9b0ada55dc8bc7dd873b11ec37e51"
  },
  "id": "7Nx6lwYZ4Vb8vD8v",
  "tags": [
    {
      "updatedAt": "2025-09-26T07:16:33.839Z",
      "createdAt": "2025-09-26T07:16:33.839Z",
      "id": "ens6dG0mnb19cVTi",
      "name": "Sub-Workflow"
    },
    {
      "name": "F-JNN",
      "id": "uRLukwQ6lXVe1ia9",
      "updatedAt": "2026-05-16T22:08:55.159Z",
      "createdAt": "2026-05-16T22:08:55.159Z"
    }
  ]
}