n8n-workflows/workflows/7x2kP8hsfNCvf5dY.json
{"updatedAt":"2026-05-19T01:26:52.383Z","createdAt":"2026-05-18T18:00:49.086Z","id":"7x2kP8hsfNCvf5dY","name":"Get Global Data in JSON Format From Data Tables","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"operation":"get","dataTableId":{"__rl":true,"value":"AAjYY7y4dc46SIZg","mode":"list","cachedResultName":"Global Variables","cachedResultUrl":"/projects/i6SPWKiaev6Io6So/datatables/AAjYY7y4dc46SIZg"},"filters":{"conditions":[]}},"type":"n8n-nodes-base.dataTable","typeVersion":1.1,"position":[-112,-64],"id":"b42e25b9-7d5e-45ba-8c26-d3e580d33479","name":"Get Global Variables"},{"parameters":{"jsCode":"const output = {};\n\n// Helper function to convert value to specified type\nconst convertType = (value, type) => {\n  if (value === undefined || value === null) return value;\n  \n  switch(type) {\n    case 'number':\n      return Number(value);\n    case 'boolean':\n      if (typeof value === 'boolean') return value;\n      if (typeof value === 'string') {\n        const lower = value.toLowerCase();\n        if (lower === 'true' || lower === '1') return true;\n        if (lower === 'false' || lower === '0') return false;\n      }\n      return Boolean(value);\n    case 'string':\n      return String(value);\n    default:\n      return value;\n  }\n};\n\nfor (const item of $input.all()) {\n  const key = item.json.key;\n  let value = item.json.value;\n  const type = item.json.type;\n  \n  // Apply type conversion if type is specified\n  if (type) {\n    value = convertType(value, type);\n  }\n  \n  // Split by '__' to get path parts\n  const parts = key.split('__');\n  \n  let current = output;\n  \n  for (let i = 0; i < parts.length; i++) {\n    const part = parts[i];\n    const isLast = i === parts.length - 1;\n    \n    // Check if this part is an array index (number)\n    const isArrayIndex = /^\\d+$/.test(part);\n    \n    if (isLast) {\n      // Last part - assign the value\n      if (isArrayIndex) {\n        const idx = parseInt(part);\n        current[idx] = value;\n      } else {\n        current[part] = value;\n      }\n    } else {\n      // Not last part - need to traverse/create structure\n      const nextPart = parts[i + 1];\n      const nextIsArrayIndex = /^\\d+$/.test(nextPart);\n      \n      if (isArrayIndex) {\n        // Current part is array index\n        const idx = parseInt(part);\n        if (current[idx] === undefined) {\n          // Create array element (object or nested array)\n          current[idx] = nextIsArrayIndex ? [] : {};\n        }\n        current = current[idx];\n      } else {\n        // Current part is object key\n        if (current[part] === undefined) {\n          // Create object or array based on next part\n          current[part] = nextIsArrayIndex ? [] : {};\n        }\n        current = current[part];\n      }\n    }\n  }\n}\n\nreturn { json: output };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[96,-64],"id":"c9a3ae8b-8150-4f29-beb2-16a62513aefc","name":"Jsonify Data Tables"},{"parameters":{"workflowInputs":{"values":[{"name":"required_fields","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-320,-64],"id":"860128cb-8f21-4099-af85-64b844814254","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"// Define which fields you need (GraphQL-style)\nconst required_fields = $('When Executed by Another Workflow').first().json.required_fields || [];\nconst inputData = $input.first().json;\nconst output = {};\n\n// If empty array, return everything\nif (required_fields.length === 0) {\n  return { json: inputData };\n}\n\n// Helper function to get nested value\nfunction getNestedValue(obj, path) {\n  const parts = path.split('__');\n  let current = obj;\n  \n  for (const part of parts) {\n    if (current === undefined || current === null) return undefined;\n    \n    // Check if it's an array index\n    if (/^\\d+$/.test(part)) {\n      current = current[parseInt(part)];\n    } else {\n      current = current[part];\n    }\n  }\n  \n  return current;\n}\n\n// Extract only required fields (flat output - use last key as the output key)\nfor (const field of required_fields) {\n  let value;\n  \n  // Check for special fields\n  if (field === 'date') {\n    value = $now.toFormat('yyyy-MM-dd');\n  } else if (field === 'weekday') {\n    value = $now.weekdayLong;\n  } else {\n    value = getNestedValue(inputData, field);\n  }\n  \n  if (value !== undefined) {\n    // Get the last part of the path as the key\n    const parts = field.split('__');\n    const key = parts[parts.length - 1];\n    output[key] = value;\n  }\n}\n\nreturn { json: output };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,-64],"id":"ea6adba8-ca6b-407f-a7b8-39e9e3cadf52","name":"Code in JavaScript"}],"connections":{"Get Global Variables":{"main":[[{"node":"Jsonify Data Tables","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Get Global Variables","type":"main","index":0}]]},"Jsonify Data Tables":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{"When Executed by Another Workflow":[{"json":{"required_fields":["date","api_url"]}}]},"versionId":"e8188e40-2bfe-47e6-a2c2-5b9f33b2991d","activeVersionId":"e8188e40-2bfe-47e6-a2c2-5b9f33b2991d","versionCounter":93,"triggerCount":0,"sourceWorkflowId":null,"tags":[{"updatedAt":"2025-09-26T07:16:33.839Z","createdAt":"2025-09-26T07:16:33.839Z","id":"ens6dG0mnb19cVTi","name":"Sub-Workflow"}],"shared":[{"updatedAt":"2026-05-18T18:00:49.086Z","createdAt":"2026-05-18T18:00:49.086Z","role":"workflow:owner","workflowId":"7x2kP8hsfNCvf5dY","projectId":"i6SPWKiaev6Io6So","project":{"updatedAt":"2026-05-16T22:27:54.117Z","createdAt":"2026-05-16T22:26:58.253Z","id":"i6SPWKiaev6Io6So","name":"Atharva Devasthali <atharvadevasthali22@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"bbfd9b91-c218-420f-985d-bbb81f401ca4"}}],"versionMetadata":{"name":"Version e8188e40","description":""}}