n8n-workflows/workflows/bzIAG9YBUUf31X6i.json
{"updatedAt":"2026-06-01T19:50:08.184Z","createdAt":"2026-06-01T18:16:13.971Z","id":"bzIAG9YBUUf31X6i","name":"My workflow 6","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"={{ $json.n8n }}/rest/login","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json, text/plain, */*"},{"name":"accept-language","value":"en-US,en;q=0.9"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/0.0.0.0 Safari/537.36"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"emailOrLdapLoginId","value":"={{ $json.username }}"},{"name":"password","value":"={{ $json.password }}"}]},"options":{"response":{"response":{"fullResponse":true}}}},"id":"bb746cf0-09ad-4488-b81a-9700f7790e46","name":"login n8n","type":"n8n-nodes-base.httpRequest","position":[352,-64],"typeVersion":4.2},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1088,64],"id":"2f3c8953-578f-4c5a-a245-31fe19aba566","name":"When clicking ‘Execute workflow’"},{"parameters":{"url":"={{ $('set credentials').item.json.n8n }}/rest/workflows/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json, text/plain, */*"},{"name":"accept-language","value":"en-US,en;q=0.9"},{"name":"sec-fetch-dest","value":"empty"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/0.0.0.0 Safari/537.36"},{"name":"cookie","value":"={{ $json.headers['set-cookie'][0] }}"}]},"options":{}},"id":"fb21453e-595f-4721-9922-30857074136b","name":"my-projects","type":"n8n-nodes-base.httpRequest","position":[592,-64],"typeVersion":4.2},{"parameters":{"assignments":{"assignments":[{"id":"29ab581c-893a-4768-aa87-59894400f1cf","name":"n8n","value":"https://local.atharvadevasthali.com","type":"string"},{"id":"c04e1afb-2bea-404a-be41-6cfd36a18c69","name":"username","value":"atharvadevasthali22@gmail.com","type":"string"},{"id":"01ece12b-3f32-4762-ad54-a0ae306bede4","name":"password","value":"Anuathu#2522","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[128,-64],"id":"ba01544c-1bb2-42b9-a554-539395ef6d51","name":"set credentials"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"combinator":"and","conditions":[{"id":"e66c13b9-4e49-486b-812e-6a38e680207b","operator":{"type":"string","operation":"contains"},"leftValue":"={{ $json.name.extractEmail() }}","rightValue":"={{ $('set credentials').item.json.username }}"},{"id":"99059f5b-055b-48ee-93c9-9689063fcfbe","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.role }}","rightValue":"project:personalOwner"}]},"looseTypeValidation":true,"options":{"ignoreCase":true}},"id":"c6e3c4f9-6ef6-4877-8621-6d276933b23b","name":"filter owned projects","type":"n8n-nodes-base.filter","position":[720,224],"typeVersion":2.2},{"parameters":{"url":"={{ $('set credentials').item.json.n8n }}/rest/projects/r4FxHAXU5mmnE4p2/folders/PxwgdyZo0T3GnTf8/","sendQuery":true,"queryParameters":{"parameters":[]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json, text/plain, */*"},{"name":"accept-language","value":"en-US,en;q=0.9"},{"name":"sec-fetch-dest","value":"empty"},{"name":"user-agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/0.0.0.0 Safari/537.36"},{"name":"cookie","value":"={{ $json.headers['set-cookie'][0] }}"}]},"options":{}},"id":"1c5cc32c-6737-4d74-8daf-352a6e1748d5","name":"my-projects1","type":"n8n-nodes-base.httpRequest","position":[384,288],"typeVersion":4.2},{"parameters":{"operation":"select","schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"value":"workflow_entity","mode":"list","cachedResultName":"workflow_entity"},"where":{"values":[{"column":"parentFolderId","value":"PxwgdyZo0T3GnTf8"},{"column":"isArchived","value":"={{ false }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[880,-208],"id":"cd26b095-1e89-4252-bb59-8e5f9781a8bd","name":"Select rows from a table","credentials":{"postgres":{"id":"shW2iHfLRrHL9cFY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    id, \n    name\nFROM \n    workflow_entity\nWHERE \n    \"parentFolderId\" = $1 AND\n    \"isArchived\" = FALSE;\n","options":{"queryReplacement":"={{ $json.id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1520,272],"id":"99c1375c-d8cf-48f0-9939-57fd504a1aeb","name":"Execute a SQL query","credentials":{"postgres":{"id":"shW2iHfLRrHL9cFY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    id AS project_id, \n    name AS project_name, \n    type AS project_type \nFROM \n    project;\n","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1104,272],"id":"006abf3c-4af1-4d4d-ab27-4eca5e941658","name":"Execute a SQL query1","credentials":{"postgres":{"id":"shW2iHfLRrHL9cFY","name":"Postgres account"}}},{"parameters":{"operation":"executeQuery","query":"SELECT \n    id, \n    name\nFROM \n    folder\nWHERE \n    \"projectId\" = $1;\n","options":{"queryReplacement":"={{ $json.project_id }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1312,272],"id":"437e48c5-a5bb-471d-99c6-7b9d34852f93","name":"Execute a SQL query2","credentials":{"postgres":{"id":"shW2iHfLRrHL9cFY","name":"Postgres account"}}}],"connections":{"login n8n":{"main":[[{"node":"my-projects","type":"main","index":0},{"node":"my-projects1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Execute a SQL query1","type":"main","index":0}]]},"set credentials":{"main":[[{"node":"login n8n","type":"main","index":0}]]},"Execute a SQL query1":{"main":[[{"node":"Execute a SQL query2","type":"main","index":0}]]},"Execute a SQL query2":{"main":[[{"node":"Execute a SQL query","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"20b71e9f-fbc0-4c98-b26c-f35719efd9a4","activeVersionId":null,"versionCounter":92,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-06-01T18:16:13.971Z","createdAt":"2026-06-01T18:16:13.971Z","role":"workflow:owner","workflowId":"bzIAG9YBUUf31X6i","projectId":"r4FxHAXU5mmnE4p2","project":{"updatedAt":"2026-04-23T00:46:33.004Z","createdAt":"2026-04-23T00:44:53.719Z","id":"r4FxHAXU5mmnE4p2","name":"Atharva Devasthali <atharvadevasthali22@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"d151c88d-c353-4d5e-91ee-dd52a5a7fbdc"}}],"versionMetadata":{"name":null,"description":null}}