n8n-workflows/workflows/FO9cJJONxkxLCPlc.json
{"updatedAt":"2026-05-16T22:32:54.120Z","createdAt":"2026-05-16T22:32:54.120Z","id":"FO9cJJONxkxLCPlc","name":"Email Sender","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"documentId":{"__rl":true,"value":"1TiLRKwSS3yPf-vrzUBJDZAMmh8l1VIjc5dR2ApH2nt4","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TiLRKwSS3yPf-vrzUBJDZAMmh8l1VIjc5dR2ApH2nt4/edit#gid=0"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A1:D"}}}},"type":"n8n-nodes-base.googleSheetsTrigger","typeVersion":1,"position":[0,0],"id":"0b0d5625-7af9-43d1-8085-bbb56a4a3422","name":"Google Sheets Trigger","notesInFlow":false},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"2584d577-257a-4608-a843-693a448c7f6f","leftValue":"={{ $json['Email Sent'] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[240,0],"id":"112ab95a-8a1a-4d63-a972-0b9b5a952ea6","name":"If"},{"parameters":{"fromEmail":"atharvadevasthali22@gmail.com","toEmail":"={{ $json.Email }}","subject":"={{ $json.email_subject }}","html":"={{ $json.html }}","options":{"appendAttribution":false,"attachments":"={{ Object.keys($binary).join(',') }}"}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[2208,144],"id":"3e4ceea8-9784-4e82-8506-5ff1cc4b8856","name":"Send email","webhookId":"11a73c67-4859-4a97-85ee-2eee02a3c96c","disabled":true},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1TiLRKwSS3yPf-vrzUBJDZAMmh8l1VIjc5dR2ApH2nt4","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TiLRKwSS3yPf-vrzUBJDZAMmh8l1VIjc5dR2ApH2nt4/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Email Sent":"Yes","Email":"={{ $json.envelope.to[0] }}"},"matchingColumns":["Email"],"schema":[{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Email","displayName":"Email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Email Sent","displayName":"Email Sent","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2432,144],"id":"01b4e463-90e1-4a1d-8276-51cd0980890a","name":"Update row in sheet","disabled":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,80],"id":"9d6a4ce7-839c-4b06-89aa-59c2a98f46c9","name":"Loop Over Items"},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2432,560],"id":"4bb90e3c-9c24-4bc5-8da8-919e3f104c4c","name":"Wait","webhookId":"824044b1-b464-47f0-88ba-d6cc5e558fd3"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":4,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2016,128],"id":"21eb2222-50ac-43a5-a1d8-48421ba71f60","name":"Merge","alwaysOutputData":true},{"parameters":{"html":"<!DOCTYPE html>\n<html>\n  <head>\n    <style>\n      body {\n        font-family: Arial, sans-serif;\n        color: #333333;\n        background-color: #f8f8f8;\n        padding: 20px;\n      }\n\n      .container {\n        background-color: #ffffff;\n        border-radius: 10px;\n        padding: 30px;\n        max-width: 600px;\n        margin: auto;\n        box-shadow: 0 2px 8px rgba(0,0,0,0.05);\n      }\n\n      h2 {\n        color: #2c3e50;\n        font-size: 22px;\n        margin-bottom: 10px;\n      }\n\n      h3 {\n        color: #34495e;\n        font-size: 20px;\n        margin-top: 20px;\n        margin-bottom: 10px;\n      }\n\n      h4 {\n        color: #555;\n        font-size: 18px;\n        margin-top: 15px;\n        margin-bottom: 5px;\n      }\n\n      p {\n        font-size: 16px;\n        line-height: 1.6;\n        margin-bottom: 15px;\n      }\n\n      ul {\n        padding-left: 20px;\n        margin-top: 0;\n        margin-bottom: 15px;\n      }\n\n      li {\n        font-size: 16px;\n        margin-bottom: 8px;\n      }\n\n      .button {\n        display: inline-block;\n        padding: 10px 20px;\n        margin: 10px 0;\n        background-color: #007BFF;\n        color: #ffffff !important;\n        text-decoration: none;\n        border-radius: 6px;\n        font-weight: bold;\n        font-size: 16px;\n      }\n\n      .footer {\n        margin-top: 30px;\n        font-size: 13px;\n        color: #888;\n        text-align: center;\n      }\n    </style>\n  </head>\n  <body>\n    <div class=\"container\">\n      {{ $json.email_body }}\n\n      <div class=\"footer\">\n        This email was sent to you as part of an outreach campaign. If you believe this was a mistake, please ignore or reply to unsubscribe.\n      </div>\n    </div>\n  </body>\n</html>\n"},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[1392,352],"id":"856387fe-11ae-46eb-a934-6d8c0f8309a2","name":"HTML"},{"parameters":{"documentId":{"__rl":true,"value":"1TiLRKwSS3yPf-vrzUBJDZAMmh8l1VIjc5dR2ApH2nt4","mode":"list","cachedResultName":"Email List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TiLRKwSS3yPf-vrzUBJDZAMmh8l1VIjc5dR2ApH2nt4/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"={{ $json.Template || 'HTMLTemplate1' }}","mode":"name"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"specifyRangeA1","range":"A1:B"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[640,352],"id":"f715526e-70d3-43ef-a252-94a8bdbddc86","name":"Get row(s) in sheet"},{"parameters":{"jsCode":"let emailSubjectLine = \"\";\nlet attachmentsList = [];\n\nconst emailBodyContent = $input.all().map(item => {\n  let itemContent = \"\";\n  const name = item.json.Name;\n  \n  if (item.json.Tags === \"Subject Line\") {\n    emailSubjectLine = item.json.Content.replaceAll('{{Name}}', name);\n  } else if (item.json.Tags === \"Saluations\") {\n    itemContent = `<h2>${item.json.Content}</h2>`;\n  } else if (item.json.Tags === \"Paragraph\") {\n    itemContent =  `<p>${item.json.Content}</p>`;\n  } else if (item.json.Tags === \"SubHeading\") {\n    itemContent =  `<h3>${item.json.Content}</h3>`;\n  } else if (item.json.Tags === \"SubPointTitle\") {\n    itemContent =  `<h4>${item.json.Content}</h4><ul>`;\n  } else if (item.json.Tags === \"SubPoint\") {\n    itemContent =  `<li>${item.json.Content}</li>`;\n  } else if (item.json.Tags === \"SubPointEnd\") {\n    itemContent =  `</ul>`;\n  } else if (item.json.Tags === \"Signature\") {\n    itemContent =  `<p>Warm regards,<br/><strong>${item.json.Content}</strong></p>`;\n  } else if (item.json.Tags === \"Attachments\") {\n    attachmentsList.push(item.json.Content)\n  }\n  \n  return itemContent.replaceAll('{{Name}}', name);\n}).join('');\n\nreturn {\n  json: {\n    email_subject: emailSubjectLine,\n    email_body: emailBodyContent,\n    email_attachments: attachmentsList\n  }\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1008,272],"id":"4a5d2590-adce-4558-b81c-40821dca840f","name":"Code"},{"parameters":{"mode":"combine","combineBy":"combineAll","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[832,272],"id":"1e2f8eff-2d50-477c-9f84-5cf8fb31bd0b","name":"Merge1"},{"parameters":{"url":"={{ $json.email_attachments }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1520,544],"id":"400e8d12-770f-4524-94e1-06cee857ae4b","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"email_attachments","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1280,544],"id":"dcaf068e-379c-43b3-97f9-04febc43ac68","name":"Split Out"},{"parameters":{"jsCode":"return [\n  $input.all().reduce((acc, item) => {\n    const binaryData = item.binary.data;\n    const fileName = binaryData.fileName || `file-${acc.json.keys.length}`;\n    \n    acc.json.file.push(item.json.email_attachments);\n    acc.json.name.push(fileName);\n    acc.binary[fileName] = binaryData;\n    return acc;\n  }, { json: { name: [], file: [] }, binary: {} })\n];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1760,544],"id":"ab4d4f6e-f16b-4159-a089-b62cdf5cf031","name":"Code1"}],"connections":{"Google Sheets Trigger":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[],[{"node":"Loop Over Items","type":"main","index":0}]]},"Send email":{"main":[[{"node":"Update row in sheet","type":"main","index":0},{"node":"Wait","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Get row(s) in sheet","type":"main","index":0},{"node":"Merge1","type":"main","index":0},{"node":"Merge","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Send email","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Get row(s) in sheet":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Code":{"main":[[{"node":"HTML","type":"main","index":0},{"node":"Merge","type":"main","index":1},{"node":"Split Out","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Code","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Merge","type":"main","index":3}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"instanceId":"3fcc524a2177e7ddb4a539aaa7c79d9f30b9b0ada55dc8bc7dd873b11ec37e51"},"nodeGroups":[],"pinData":{},"versionId":"6f899027-16c6-47a4-94e7-2c074ee9f907","activeVersionId":null,"versionCounter":1,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-05-16T22:32:54.120Z","createdAt":"2026-05-16T22:32:54.120Z","role":"workflow:owner","workflowId":"FO9cJJONxkxLCPlc","projectId":"i6SPWKiaev6Io6So","project":{"updatedAt":"2026-05-16T22:27:54.117Z","createdAt":"2026-05-16T22:26:58.253Z","id":"i6SPWKiaev6Io6So","name":"Atharva Devasthali <atharvadevasthali22@gmail.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"bbfd9b91-c218-420f-985d-bbb81f401ca4"}}],"versionMetadata":{"name":null,"description":null}}