n8n-workflows/workflows/h1kQfLNxCB994HE2.json
{
  "updatedAt": "2026-05-17T02:06:34.135Z",
  "createdAt": "2026-04-26T02:52:36.883Z",
  "id": "h1kQfLNxCB994HE2",
  "name": "Instagram Video Upload",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "79411c80-361f-4bd5-af88-51d5a292e724",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "560b4461-0fec-48e9-a16f-518b9364b98c",
              "leftValue": "={{ $json.mp4_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -896,
        464
      ],
      "id": "48b139bd-278b-4934-a60a-cf33b532af90",
      "name": "If"
    },
    {
      "parameters": {
        "fileSelector": "={{ (() => {\n  const path = $('Combine Videos2').item.json.file_path;\n  return path.startsWith(\"/\") ? path.slice(1) : path;\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        720,
        1328
      ],
      "id": "bfe1f1b3-b396-4d4f-a0fc-157925cfaeb6",
      "name": "Get Video file",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2Kbv7D61qx6QiovN",
          "mode": "list",
          "cachedResultUrl": "/workflow/2Kbv7D61qx6QiovN",
          "cachedResultName": "Job Scrapper"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "weekday": "={{ $('Input Parameters').item.json.weekday }}",
            "pages_scrapped": "={{ $('Get current epoch').item.json.pages_scrapped }}",
            "num_of_jobs": "={{ max($('Input Parameters').item.json.video_count, 10) }}",
            "scrape_by_weekday": false,
            "job_portal": "={{ (() => {\n  const maxEpoch = $('Input Parameters').item.json.maxEpoch;\n  const list = $('Input Parameters').item.json.job_portal_list;\n  const epoch = $('Get current epoch').item.json.epoch;\n  const index = Math.floor(epoch / Math.floor(maxEpoch / list.length));\n  return list[index];\n})() }}",
            "additional_date": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "scrape_by_weekday",
              "displayName": "scrape_by_weekday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "job_portal",
              "displayName": "job_portal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "weekday",
              "displayName": "weekday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "pages_scrapped",
              "displayName": "pages_scrapped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "num_of_jobs",
              "displayName": "num_of_jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "additional_date",
              "displayName": "additional_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        64,
        448
      ],
      "id": "9e44362c-e058-4578-accc-0a09370b8f57",
      "name": "Job Scrapper",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HmMxxv4eZOZGzrOl",
          "mode": "list",
          "cachedResultUrl": "/workflow/HmMxxv4eZOZGzrOl",
          "cachedResultName": "Video Creation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "old_text": "={{ $json.old_text }}",
            "jobs": "={{ $json.jobs }}",
            "template_slide": "={{ $json.template_slide }}",
            "date": "={{ $('Input Parameters').first().json.date }}",
            "batch_size": "={{ $('Input Parameters').first().json.batch_size }}",
            "initial_point": "={{ $json.initial_point }}",
            "epoch": "={{ $('Get current epoch').first().json.epoch }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "template_slide",
              "displayName": "template_slide",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "old_text",
              "displayName": "old_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "jobs",
              "displayName": "jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "batch_size",
              "displayName": "batch_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "initial_point",
              "displayName": "initial_point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        288,
        464
      ],
      "id": "73ebd668-4ca0-4e13-8fdd-6a7a8a3e6226",
      "name": "Create Video",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8e255a5-8b56-4224-a85b-e21881e026c6",
              "name": "date",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "29a086c4-0514-4f34-ab0e-2234db7f7d6a",
              "name": "weekday",
              "value": "={{ $now.weekdayLong }}",
              "type": "string"
            },
            {
              "id": "10abb99a-b653-4fee-8c78-34f6f903d5de",
              "name": "batch_size",
              "value": 5,
              "type": "number"
            },
            {
              "id": "3823dee2-05fb-41b8-96f0-6594fba40296",
              "name": "epoch",
              "value": "={{ $json.epoch || 0 }}",
              "type": "number"
            },
            {
              "id": "307c8dd9-8515-4a24-8eff-931b6fce02c5",
              "name": "maxEpoch",
              "value": 10,
              "type": "number"
            },
            {
              "id": "6c331611-464f-4fc3-b770-efeb8753b264",
              "name": "video_count",
              "value": 1,
              "type": "number"
            },
            {
              "id": "9b3d73f6-d00e-42ab-824c-92dab6e01370",
              "name": "job_portal_list",
              "value": "[\"LinkedIn\"]",
              "type": "array"
            },
            {
              "id": "9d73e3b6-f645-4ef7-95e4-d75c668a34fd",
              "name": "template_file",
              "value": "job_news_template_instagram.pptx",
              "type": "string"
            },
            {
              "id": "c20c57a7-4e7e-4ca3-90c7-0461ea9fd1fa",
              "name": "video_type",
              "value": "yt-ch1",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        896
      ],
      "id": "1ddd5cc3-ec0d-4f16-8a4a-7a4df7519ea9",
      "name": "Input Parameters"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da127bf3-6987-44b2-b6e7-2e1e0f222a1c",
              "name": "template_file",
              "value": "={{ $('Input Parameters').first().json.template_file }}",
              "type": "string"
            },
            {
              "id": "f71d0b32-a48b-4d9b-aedd-e226364acc5d",
              "name": "jobs",
              "value": "={{ $('Script Generator').item.json.jobs }}",
              "type": "array"
            },
            {
              "id": "a10c8641-500d-4bdf-b3e2-2fa5f20246d8",
              "name": "template_slide",
              "value": "={{ $('Script Generator').item.json.template_slide }}",
              "type": "number"
            },
            {
              "id": "8027eacc-e30a-4c13-a09e-5a25b2f59918",
              "name": "old_text",
              "value": "={{ $('Script Generator').item.json.old_text }}",
              "type": "object"
            },
            {
              "id": "ca651d0a-1ae5-40f5-bdf9-120efe4e469a",
              "name": "initial_point",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        240
      ],
      "id": "5fb050bb-4fa6-400a-8da5-3f3b09e3d4ee",
      "name": "Script Generator Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab03ac81-782e-4090-81bf-cc70f1dcaf7e",
              "name": "jobs",
              "value": "={{ $('Script Generator Output').item.json.jobs }}",
              "type": "array"
            },
            {
              "id": "17ad8d2f-78d4-4d6c-8f46-47722dd1eb61",
              "name": "template_file",
              "value": "={{ $('Script Generator Output').item.json.template_file }}",
              "type": "string"
            },
            {
              "id": "baf77441-cfe3-4955-818d-ce777c60a644",
              "name": "template_slide",
              "value": "={{ $('Script Generator Output').item.json.template_slide }}",
              "type": "number"
            },
            {
              "id": "851dc740-573c-42cd-8a56-ad16b584a632",
              "name": "old_text",
              "value": "={{ $('Script Generator Output').item.json.old_text }}",
              "type": "object"
            },
            {
              "id": "80d0acac-ee77-4d38-808c-4d727b4a75d1",
              "name": "initial_point",
              "value": "={{ parseInt($json.video_file_name.at(-1).split('-')[1].split('.')[0], 10) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        464
      ],
      "id": "d28af2a7-ba8f-460e-a289-bc183546473f",
      "name": "Re-iterate Script Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "79411c80-361f-4bd5-af88-51d5a292e724",
              "leftValue": "={{ $json.video_count }}",
              "rightValue": "={{ $('Input Parameters').item.json.video_count }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        464
      ],
      "id": "673723a7-4901-414e-a2c3-9b216c782076",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5bcf32b5-5272-4bb5-8f71-7f8da2a2ebca",
              "leftValue": "={{ $json.all_done }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        464
      ],
      "id": "5e95613d-ab61-437d-abae-c46516fb7bd8",
      "name": "If2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        496,
        672
      ],
      "id": "9e0d13c3-3c32-43dd-8ad7-21092e1edba5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "66MHT0z3zhiYgblm",
          "mode": "list",
          "cachedResultUrl": "/workflow/66MHT0z3zhiYgblm",
          "cachedResultName": "Combine Videos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_file_name": "={{ $json.video_file_name }}",
            "output_file_name": "={{ $json.output_file_name }}",
            "include_intro_outro": false,
            "epoch": "={{ $('Get current epoch').first().json.epoch }}",
            "include_epoch_in_output": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_file_name",
              "displayName": "video_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "output_file_name",
              "displayName": "output_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "include_intro_outro",
              "displayName": "include_intro_outro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "include_epoch_in_output",
              "displayName": "include_epoch_in_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        720,
        672
      ],
      "id": "9b874a22-440b-434e-bcb3-c79274334be9",
      "name": "Combine Videos"
    },
    {
      "parameters": {
        "command": "=sh /sh_files/move_video.sh --filename {{ $json.filename }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        944,
        672
      ],
      "id": "6c025bf9-e7d4-4970-89d4-fcea1dfcce6d",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1cfe255-c8cb-456d-9f50-4d92a8cb6ba0",
              "name": "file_path",
              "value": "={{ $('Combine Videos').item.json.file_path }}",
              "type": "string"
            },
            {
              "id": "eec792f9-877e-4301-8589-835850026717",
              "name": "filename",
              "value": "={{ $('Combine Videos').item.json.filename.replace(/^[^_]*_/, \"\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        672
      ],
      "id": "171bdc5e-2c3b-48cd-9559-b468d3454421",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const batch_size = $('Input Parameters').first().json.batch_size;\nlet filename_list = []\nconst final_filename_list = []\nlet index = 0;\n\nfor (const item of $input.all()) {\n  if (index === batch_size) {\n    final_filename_list.push({\n      \"video_file_name\": filename_list\n    });\n    filename_list = [];\n    index = 0;\n  }\n  filename_list.push(item.json.filename);\n  index += 1;\n}\n\nif (filename_list.length !== 0) {\n  final_filename_list.push({\n    \"video_file_name\": filename_list\n  });\n}\n\nreturn {\n  json: {\n    output: final_filename_list,\n    id: $('Save Video Details').first().json.id,\n    date: $('Save Video Details').first().json.date,\n    epoch: parseInt($('Save Video Details').first().json.epoch, 10)\n  },\n  pairedItem: []\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        880
      ],
      "id": "0367a49c-28f7-4b95-834c-490a26764614",
      "name": "Code",
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-guuid-generator.UUID Generator",
      "typeVersion": 1,
      "position": [
        1376,
        880
      ],
      "id": "c59a3baa-30d4-4c5a-9610-72f77e55bc14",
      "name": "UUID Generator"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        720,
        880
      ],
      "id": "9f0ee124-44b5-4e4d-887e-ada46c3998af",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        944,
        880
      ],
      "id": "7451634c-40ff-437a-beb0-d3447aa14663",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe5ac474-93d3-4ee3-9cf9-88f5a59f7a43",
              "leftValue": "={{ $json.output.length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        880
      ],
      "id": "78fbe4fe-ac76-4e0c-a900-4d0e7fceed48",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "479110b4-cbc2-441a-aacd-276758f8729f",
              "leftValue": "={{ $json.video_file_name.length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        880
      ],
      "id": "9ffdc821-d276-4af3-8770-5c124ac0cce6",
      "name": "If5"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    \"video_file_name\": $(\"If5\").first().json.video_file_name,\n    \"output_file_name\": `pseudo_${$input.first().json.uuid}`\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        880
      ],
      "id": "86e72ccf-13d0-4b0b-89be-567d0fb43b24",
      "name": "Code1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "66MHT0z3zhiYgblm",
          "mode": "list",
          "cachedResultUrl": "/workflow/66MHT0z3zhiYgblm",
          "cachedResultName": "Combine Videos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_file_name": "={{ $json.video_file_name }}",
            "output_file_name": "={{ $json.output_file_name }}",
            "include_intro_outro": false,
            "epoch": "={{ $('Get current epoch').first().json.epoch }}",
            "include_epoch_in_output": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_file_name",
              "displayName": "video_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "output_file_name",
              "displayName": "output_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "include_intro_outro",
              "displayName": "include_intro_outro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "include_epoch_in_output",
              "displayName": "include_epoch_in_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1168,
        1104
      ],
      "id": "c4579d86-71a5-451b-bdfc-1434c7743f3a",
      "name": "Combine Videos1"
    },
    {
      "parameters": {
        "command": "=sh /sh_files/move_video.sh --filename {{ $json.filename }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1376,
        1104
      ],
      "id": "4a9e9c13-c1c8-47a4-843f-20bebbec4b3a",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1cfe255-c8cb-456d-9f50-4d92a8cb6ba0",
              "name": "file_path",
              "value": "={{ $('Combine Videos1').item.json.file_path }}",
              "type": "string"
            },
            {
              "id": "eec792f9-877e-4301-8589-835850026717",
              "name": "filename",
              "value": "={{ $('Combine Videos1').item.json.filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        1104
      ],
      "id": "651a4fd7-7c30-4a96-a6bc-20b3d64068f7",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68f6d883-c08c-47b2-9e90-e5defecedd2c",
              "name": "file_path",
              "value": "=/n8n_files/video_files/{{ $json.video_file_name[0] }}",
              "type": "string"
            },
            {
              "id": "307ad4ba-d2d7-4ac7-9d0b-2fa5857f3508",
              "name": "filename",
              "value": "={{ $json.video_file_name[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        1104
      ],
      "id": "7bc07767-ca15-4659-9d02-ce3fd1fce3eb",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "66MHT0z3zhiYgblm",
          "mode": "list",
          "cachedResultUrl": "/workflow/66MHT0z3zhiYgblm",
          "cachedResultName": "Combine Videos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "include_intro_outro": false,
            "video_file_name": "={{ $json.video_file_name }}",
            "output_file_name": "={{ $json.output_file_name }}",
            "epoch": "={{ $('Get current epoch').first().json.epoch }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_file_name",
              "displayName": "video_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "output_file_name",
              "displayName": "output_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "include_intro_outro",
              "displayName": "include_intro_outro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "include_epoch_in_output",
              "displayName": "include_epoch_in_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        496,
        1104
      ],
      "id": "64e30c48-a292-43aa-b58f-a8918704c815",
      "name": "Combine Videos2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-guuid-generator.UUID Generator",
      "typeVersion": 1,
      "position": [
        288,
        1280
      ],
      "id": "041d388a-a654-43b8-854e-8a59c5c6aacd",
      "name": "UUID Generator1"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    \"video_file_name\": $(\"If4\").first().json.output[0].video_file_name,\n    \"output_file_name\": $input.first().json.uuid\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        1104
      ],
      "id": "272f4f25-2c89-4e78-946b-16c3518f2be8",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "append",
        "values": {
          "keyValuePair": [
            {
              "name": "video_file_name",
              "type": "array",
              "value": "={{ $json.video_file_name }}"
            },
            {
              "name": "output_file_name",
              "value": "={{ $json.output_file_name }}"
            },
            {
              "name": "all_done",
              "type": "boolean",
              "value": "={{ $json.all_done }}"
            }
          ]
        }
      },
      "type": "CUSTOM.Workflow Variables",
      "typeVersion": 1,
      "position": [
        496,
        464
      ],
      "id": "c6b91522-ed35-415c-b168-8f003fcb336a",
      "name": "Save Video Output"
    },
    {
      "parameters": {},
      "type": "CUSTOM.Workflow Variables",
      "typeVersion": 1,
      "position": [
        288,
        672
      ],
      "id": "badab60a-9cdd-46d5-8fa7-e7ef7c136378",
      "name": "Get Video Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d859cbd9-cee8-4975-98e5-641e69161a78",
              "name": "date",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "48441232-b67b-41fb-bf00-6e364fdac4b8",
              "name": "epoch",
              "value": "={{ parseInt($json.epoch, 10) + 1 }}",
              "type": "number"
            },
            {
              "id": "c71c54bd-4dca-4e6e-99fb-8be9323f89b1",
              "name": "pages_scrapped",
              "value": "={{ $json.pages_scrapped }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1248,
        288
      ],
      "id": "0d870ee7-1f7d-472a-bd0e-ce0791f87345",
      "name": "Updated Input Parameters"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "28933c6a-4d74-4139-a26f-778095d29446",
              "leftValue": "={{ $json.epoch }}",
              "rightValue": "={{ $('Input Parameters').item.json.maxEpoch }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        672
      ],
      "id": "bea39b23-b225-4183-a330-17eac4bbdf6e",
      "name": "If7"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "job_listing",
          "mode": "list",
          "cachedResultName": "job_listing"
        },
        "table": {
          "__rl": true,
          "value": "mp4_list",
          "mode": "list",
          "cachedResultName": "mp4_list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id || $execution.id }}",
            "date": "={{ $now.format('yyyy-MM-dd') }}",
            "start_time": "={{ $now.format('HH:mm') }}",
            "status": "running",
            "execution_id": "={{ $execution.id }}",
            "video_type": "={{ $('Input Parameters').item.json.video_type }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "pages_scrapped",
              "displayName": "pages_scrapped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "end_time",
              "displayName": "end_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "mp4_name",
              "displayName": "mp4_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "mp4_path",
              "displayName": "mp4_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "num_of_jobs",
              "displayName": "num_of_jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "video_type",
              "displayName": "video_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        672
      ],
      "id": "f6ca0ad7-c817-40e6-aab2-30cccd4acebc",
      "name": "Save Video Details",
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE job_listing.job_links\nSET video_created = true\nWHERE date = $1\n  AND video_created = false\n  AND audio_added = true;",
        "options": {
          "queryReplacement": "={{ $('Code').item.json.date }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        496,
        1328
      ],
      "id": "a5adc79b-846f-470d-9299-8d637a42f66e",
      "name": "Set Video Created",
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3CV8vOr3daIHXK6X",
          "mode": "list",
          "cachedResultUrl": "/workflow/3CV8vOr3daIHXK6X",
          "cachedResultName": "Script Generator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $('Input Parameters').first().json.date }}",
            "maxCount": "={{ $('Input Parameters').first().json.batch_size }}",
            "num_of_jobs": "={{ $('Input Parameters').first().json.video_count }}"
          },
          "matchingColumns": [
            "date"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "num_of_jobs",
              "displayName": "num_of_jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "maxCount",
              "displayName": "maxCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        288,
        240
      ],
      "id": "d51e4e0e-43b9-4ec8-9006-a3cefd2752d7",
      "name": "Script Generator",
      "retryOnFail": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "job_listing",
          "mode": "list",
          "cachedResultName": "job_listing"
        },
        "table": {
          "__rl": true,
          "value": "job_links",
          "mode": "list",
          "cachedResultName": "job_links"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "video_created",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -640,
        1296
      ],
      "id": "71f3c7a7-d0ec-411f-94a6-91c65e873e1a",
      "name": "Update Video Details1",
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Code').item.json.date.split('T').at(0) }}  | Job News Show {{ $('Code').item.json.epoch + 1 }}",
        "regionCode": "IN",
        "categoryId": "27",
        "options": {
          "description": "={{ $('Code').item.json.date.split('T').at(0) }}  | Job News Show {{ $('Code').item.json.epoch + 1 }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        944,
        1328
      ],
      "id": "93475218-ae8e-4a61-8c04-c592d5193f28",
      "name": "Upload a video",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "sh /sh_files/cleanup.sh --confirm"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -224,
        1280
      ],
      "id": "e53109f5-d60d-4636-87ba-fc92fcd90c6d",
      "name": "Folder files cleanup"
    },
    {
      "parameters": {
        "command": "id -u  # Check your current user ID\necho \"----\"\nls -ln n8n_files\necho \"----\"\nls -ln n8n_files/img_video_files"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        16,
        1280
      ],
      "id": "ea4b15ac-29e2-4fd3-a63f-67ae600706f7",
      "name": "Execute Command2"
    },
    {
      "parameters": {
        "command": "sh /sh_files/cleanup.sh --confirm"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1376,
        1328
      ],
      "id": "3048fece-7180-41d2-be73-d8c439e40356",
      "name": "Execute Command4"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "job_listing",
          "mode": "list",
          "cachedResultName": "job_listing"
        },
        "table": {
          "__rl": true,
          "value": "mp4_list",
          "mode": "list",
          "cachedResultName": "mp4_list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "end_time",
              "condition": "!=",
              "value": "={{ null }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -432,
        1264
      ],
      "id": "043dcec0-e594-45bf-91fd-8b80f085c381",
      "name": "Update Video Details3",
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "job_listing",
          "mode": "list",
          "cachedResultName": "job_listing"
        },
        "table": {
          "__rl": true,
          "value": "job_links",
          "mode": "list",
          "cachedResultName": "job_links"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "video_created": false,
            "audio_added": false,
            "audio_file_name": "={{ null }}"
          },
          "matchingColumns": [
            "video_created"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "experience_required",
              "displayName": "experience_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "skills_required",
              "displayName": "skills_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job_type",
              "displayName": "job_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "audio_added",
              "displayName": "audio_added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "audio_file_name",
              "displayName": "audio_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "script_added",
              "displayName": "script_added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "script",
              "displayName": "script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_created",
              "displayName": "video_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -496,
        1472
      ],
      "id": "6466a269-f04f-4ebb-9604-5f5f701af134",
      "name": "Update Video Details4",
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        1072
      ],
      "id": "d70c12fa-7322-44ca-9a2d-be48e2b67bf4",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "command": "sh /sh_files/cleanup.sh --confirm\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -752,
        896
      ],
      "id": "00534c00-208a-43c9-9f12-84d27333508d",
      "name": "Folder files cleanup1",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE job_listing.job_links\nSET audio_added=false, audio_file_name=''\nWHERE video_created=false;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -752,
        1072
      ],
      "id": "60a6060a-3587-4245-b96d-0e88505bea77",
      "name": "Update Video Details (if video not created)",
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZyRPbgnaKH8JFLLP",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZyRPbgnaKH8JFLLP",
          "cachedResultName": "Add New Video to Stream"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_file_name": "={{ $('Combine Videos2').first().json.filename }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_file_name",
              "displayName": "video_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1168,
        1328
      ],
      "id": "a64b1de0-a29b-4e9f-bf12-023fe34a0264",
      "name": "Add New Video to Stream",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -976,
        896
      ],
      "id": "00a173c0-661c-4b34-9cad-9add64b56e55",
      "name": "Pass"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 15 3,6,9,12,15 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        992
      ],
      "id": "590de85b-039b-4a2b-9203-bd3c0b9c7244",
      "name": "Schedule Trigger (15)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 2,5,8,11,14,17 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        1168
      ],
      "id": "ef6d8681-f86e-4f51-a7f3-125f0a03b6ca",
      "name": "Schedule Trigger (30)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 1,4,7,10,13,16 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        640
      ],
      "id": "ed218eac-a744-4ec9-8b0b-2d7131749c56",
      "name": "Schedule Trigger (0)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 45 1,4,7,10,13,16 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        816
      ],
      "id": "67e802eb-08bb-4c4f-aa2f-0d86ff7c83e6",
      "name": "Schedule Trigger (45)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f92b730-1503-43ee-bde4-81408f1e86af",
              "name": "output",
              "value": "Max epoch reached, update the maxEpoch, or try again the next day",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        896
      ],
      "id": "07b0eb6a-7c86-4aed-8a40-90cf04ab3219",
      "name": "Epoch Overflow"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE job_listing.mp4_list\nSET \n    end_time = $1,\n    mp4_name = $2,\n    mp4_path = $3,\n    status = 'success'\nWHERE \n    execution_id = $4;",
        "options": {
          "queryReplacement": "={{ $now.format('HH:mm') }},{{ $json.filename }},{{ $json.file_path }},{{ $execution.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        720,
        1104
      ],
      "id": "1e56783f-6c2e-49be-8f96-95a5111ff319",
      "name": "Update Video Details",
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "={{ $('Job Scrapper').item.json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        64,
        944
      ],
      "id": "ea3aaec7-555d-4cf0-8a70-00d48b531f05",
      "name": "Job Scrape Error"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM job_listing.mp4_list\nWHERE date = $1\n  AND video_type = $2\n  AND status = 'failed'\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ $('Input Parameters').item.json.date }},{{ $('Input Parameters').item.json.video_type }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -144,
        672
      ],
      "id": "84c3bae5-a526-42d7-8945-42e0dcc4c596",
      "name": "Get video list",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ordered AS (\n  SELECT\n    id,\n    status,\n    pages_scrapped,\n    job_id,\n    num_of_jobs,\n    video_type,\n    date,\n    ROW_NUMBER() OVER (PARTITION BY video_type ORDER BY id ASC) AS rn\n  FROM job_listing.mp4_list\n  WHERE date = $1\n),\ntype_first_failed AS (\n  SELECT \n    MIN(rn) AS failed_rn,\n    MIN(job_id) FILTER (WHERE status = 'failed') AS failed_job_id\n  FROM ordered\n  WHERE status = 'failed' AND video_type = $2\n),\ntype_base AS (\n  SELECT COUNT(*) AS total_rows \n  FROM ordered\n  WHERE video_type = $2\n),\nglobal_last_row AS (\n  -- Changed: Look at ALL dates, not just $1\n  SELECT \n    job_id,\n    num_of_jobs,\n    pages_scrapped\n  FROM job_listing.mp4_list\n  WHERE date <= $1  -- All dates up to and including query date\n  ORDER BY id DESC\n  LIMIT 1\n)\nSELECT\n  CASE\n    WHEN (SELECT total_rows FROM type_base) = 0 THEN 1\n    WHEN (SELECT failed_rn FROM type_first_failed) IS NOT NULL \n      THEN (SELECT failed_rn FROM type_first_failed)\n    ELSE (SELECT total_rows FROM type_base) + 1\n  END AS epoch,\n  \n  COALESCE((SELECT pages_scrapped FROM global_last_row), 0) AS pages_scrapped,\n  \n  CASE\n    WHEN (SELECT total_rows FROM type_base) = 0 THEN \n      COALESCE(\n        (SELECT job_id FROM global_last_row) + (SELECT num_of_jobs FROM global_last_row),\n        1\n      )\n    WHEN (SELECT failed_rn FROM type_first_failed) IS NOT NULL \n      THEN (SELECT failed_job_id FROM type_first_failed)\n    ELSE COALESCE(\n      (SELECT job_id FROM global_last_row) + (SELECT num_of_jobs FROM global_last_row),\n      1\n    )\n  END AS job_id;",
        "options": {
          "connectionTimeout": 30,
          "queryReplacement": "={{ $json.date }},{{ $json.video_type }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -560,
        672
      ],
      "id": "d73b3759-d012-4aa7-8077-97b94d3dd193",
      "name": "Get current epoch",
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "job_listing",
          "mode": "list",
          "cachedResultName": "job_listing"
        },
        "table": {
          "__rl": true,
          "value": "job_links",
          "mode": "list",
          "cachedResultName": "job_links"
        },
        "returnAll": true,
        "where": {
          "values": []
        },
        "sort": {
          "values": [
            {
              "column": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -688,
        272
      ],
      "id": "5bb9ea86-e98c-4bbc-86fc-263fb15aa3e6",
      "name": "Get job list1",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS video_count\nFROM job_listing.job_links\nWHERE date = $1\n  AND id >= $2\n  AND video_created = FALSE;",
        "options": {
          "connectionTimeout": 30,
          "queryReplacement": "={{ $('Input Parameters').item.json.date }},{{ $('Get current epoch').item.json.job_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -352,
        464
      ],
      "id": "80429473-cfbf-48c8-968c-7d42971a0aed",
      "name": "Pending video count",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE job_listing.mp4_list\nSET \n    status = 'failed'\nWHERE \n    execution_id = $1;",
        "options": {
          "queryReplacement": "={{ $execution.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -144,
        944
      ],
      "id": "8f8eefa2-8dc3-478e-b55f-4f50a549d3f6",
      "name": "Update Video Details (On Error)",
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "reels",
        "node": "me",
        "additionalFields": {}
      },
      "type": "@mookielianhd/n8n-nodes-instagram.instagram",
      "typeVersion": 1,
      "position": [
        2000,
        640
      ],
      "id": "25cef53d-6da0-44cd-8462-991a12924c5e",
      "name": "Publish",
      "credentials": {
        "instagramApi": {
          "id": "TqVTlvtvbp2wYyOz",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "79411c80-361f-4bd5-af88-51d5a292e724",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        944,
        240
      ],
      "id": "14d83e54-6203-47f1-b2ac-64ec85c0068d",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM job_listing.job_links\nWHERE date=$1\n  AND (audio_added=false OR script_added=false)\n  AND video_created=false\nORDER BY id ASC\nLIMIT 1",
        "options": {
          "queryReplacement": "={{ $('Input Parameters').item.json.date }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        720,
        240
      ],
      "id": "16285019-0258-43db-8bcc-4b85cfe4b46f",
      "name": "Extract Job Openings",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        496,
        240
      ],
      "id": "e53ceafd-cf0f-4ebd-9c07-a2c1d44d8cb8",
      "name": "Wait 10 sec",
      "webhookId": "941a9d16-993f-4404-917f-68798491412c"
    }
  ],
  "connections": {
    "If": {
      "main": [
        [],
        []
      ]
    },
    "Get Video file": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Scrapper": {
      "main": [
        [
          {
            "node": "Script Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Video Details (On Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video": {
      "main": [
        [
          {
            "node": "Save Video Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Parameters": {
      "main": [
        [
          {
            "node": "Get current epoch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Generator Output": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-iterate Script Output": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Job Scrapper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Script Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Get Video Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Re-iterate Script Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Combine Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Videos": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UUID Generator": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UUID Generator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "UUID Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Combine Videos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Videos1": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Videos2": {
      "main": [
        [
          {
            "node": "Update Video Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UUID Generator1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Combine Videos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Video Output": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Output": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updated Input Parameters": {
      "main": [
        []
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Get video list",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Epoch Overflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Video Details": {
      "main": [
        [
          {
            "node": "Pending video count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Video Created": {
      "main": [
        [
          {
            "node": "Get Video file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Generator": {
      "main": [
        [
          {
            "node": "Wait 10 sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Details1": {
      "main": [
        [
          {
            "node": "Update Video Details3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        [
          {
            "node": "Add New Video to Stream",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Details3": {
      "main": [
        [
          {
            "node": "Folder files cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Details4": {
      "main": [
        [
          {
            "node": "Folder files cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Update Video Details (if video not created)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Details (if video not created)": {
      "main": [
        [
          {
            "node": "Folder files cleanup1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Folder files cleanup1": {
      "main": [
        [
          {
            "node": "Input Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add New Video to Stream": {
      "main": [
        [
          {
            "node": "Execute Command4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass": {
      "main": [
        [
          {
            "node": "Update Video Details (if video not created)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (15)": {
      "main": [
        [
          {
            "node": "Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (30)": {
      "main": [
        [
          {
            "node": "Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (0)": {
      "main": [
        [
          {
            "node": "Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (45)": {
      "main": [
        [
          {
            "node": "Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Details": {
      "main": [
        [
          {
            "node": "Set Video Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video list": {
      "main": [
        [
          {
            "node": "Save Video Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get current epoch": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pending video count": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Details (On Error)": {
      "main": [
        [
          {
            "node": "Job Scrape Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Script Generator Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Script Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Openings": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 sec": {
      "main": [
        [
          {
            "node": "Extract Job Openings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false,
    "errorWorkflow": "3LEV6jB7r0TQcMN6",
    "saveDataSuccessExecution": "all",
    "timeSavedMode": "fixed",
    "timeSavedPerExecution": 40
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de331dec9aaf376116316c7d9bea9774d15e0352e57dad758565adefb9561776"
  },
  "pinData": {},
  "versionId": "497c36dd-0979-4219-bdd8-fc2ac3eb5935",
  "activeVersionId": null,
  "versionCounter": 83,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2026-05-16T22:08:55.159Z",
      "createdAt": "2026-05-16T22:08:55.159Z",
      "id": "uRLukwQ6lXVe1ia9",
      "name": "F-JNN"
    },
    {
      "updatedAt": "2026-02-04T18:01:27.216Z",
      "createdAt": "2026-02-04T18:01:27.216Z",
      "id": "EOGY9r6938d9uT4V",
      "name": "Main-Workflow"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-04-26T02:52:36.883Z",
      "createdAt": "2026-04-26T02:52:36.883Z",
      "role": "workflow:owner",
      "workflowId": "h1kQfLNxCB994HE2",
      "projectId": "r4FxHAXU5mmnE4p2",
      "project": {
        "updatedAt": "2026-04-23T00:46:33.004Z",
        "createdAt": "2026-04-23T00:44:53.719Z",
        "id": "r4FxHAXU5mmnE4p2",
        "name": "Atharva Devasthali <atharvadevasthali22@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d151c88d-c353-4d5e-91ee-dd52a5a7fbdc"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  },
  "folder": "Youtube Stream (JNN)"
}
