n8n-workflows/workflows/h1kQfLNxCB994HE2.json
{
  "updatedAt": "2026-05-21T00:49:37.022Z",
  "createdAt": "2026-05-16T22:34:13.377Z",
  "id": "h1kQfLNxCB994HE2",
  "name": "Instagram Video Upload",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "resource": "reels",
        "node": "me",
        "additionalFields": {}
      },
      "type": "@mookielianhd/n8n-nodes-instagram.instagram",
      "typeVersion": 1,
      "position": [
        848,
        1584
      ],
      "id": "25cef53d-6da0-44cd-8462-991a12924c5e",
      "name": "Publish",
      "credentials": {
        "instagramApi": {
          "id": "TqVTlvtvbp2wYyOz",
          "name": "Unnamed credential"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "fileSelector": "={{ (() => {\n  const path = $('Combine Videos2').item.json.file_path;\n  return path.startsWith(\"/\") ? path.slice(1) : path;\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        624,
        1584
      ],
      "id": "6b681d45-61f7-4680-b76b-233131dcb391",
      "name": "Get Video file",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2Kbv7D61qx6QiovN",
          "mode": "list",
          "cachedResultUrl": "/workflow/2Kbv7D61qx6QiovN",
          "cachedResultName": "Job Scrapper"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "weekday": "={{ $('Input Parameters').item.json.weekday }}",
            "pages_scrapped": "={{ $('Get current epoch').item.json.pages_scrapped }}",
            "num_of_jobs": "={{ max($('Input Parameters').item.json.video_count, 10) }}",
            "scrape_by_weekday": false,
            "job_portal": "={{ (() => {\n  const maxEpoch = $('Input Parameters').item.json.max_epoch;\n  const list = $('Input Parameters').item.json.job_portal_list;\n  const epoch = $('Get current epoch').item.json.epoch;\n  const index = Math.floor(epoch / Math.floor(maxEpoch / list.length));\n  return list[index];\n})() }}",
            "additional_date": 0,
            "mp4_id": "={{ $('Save Video Details').item.json.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mp4_id",
              "displayName": "mp4_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "scrape_by_weekday",
              "displayName": "scrape_by_weekday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "job_portal",
              "displayName": "job_portal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "weekday",
              "displayName": "weekday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "pages_scrapped",
              "displayName": "pages_scrapped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "num_of_jobs",
              "displayName": "num_of_jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "additional_date",
              "displayName": "additional_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        -32,
        704
      ],
      "id": "32ebd2e8-4505-4ed1-b278-09bc6b943fe1",
      "name": "Job Scrapper",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HmMxxv4eZOZGzrOl",
          "mode": "list",
          "cachedResultUrl": "/workflow/HmMxxv4eZOZGzrOl",
          "cachedResultName": "Video Creation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "old_text": "={{ $json.old_text }}",
            "jobs": "={{ $json.jobs }}",
            "template_slide": "={{ $json.template_slide }}",
            "date": "={{ $('Input Parameters').first().json.date }}",
            "batch_size": "={{ $('Input Parameters').first().json.batch_size }}",
            "initial_point": "={{ $json.initial_point }}",
            "epoch": "={{ $('Get current epoch').first().json.epoch }}",
            "template_file": "={{ $('Input Parameters').first().json.template_file }}",
            "video_type": "={{ $('Input Parameters').first().json.video_type }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "template_slide",
              "displayName": "template_slide",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "template_file",
              "displayName": "template_file",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "old_text",
              "displayName": "old_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "jobs",
              "displayName": "jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "batch_size",
              "displayName": "batch_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "initial_point",
              "displayName": "initial_point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "video_type",
              "displayName": "video_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        192,
        720
      ],
      "id": "32785afc-332c-4a99-9eea-6a2c5edb9af9",
      "name": "Create Video",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab03ac81-782e-4090-81bf-cc70f1dcaf7e",
              "name": "jobs",
              "value": "={{ $('Script Generator Output').item.json.jobs }}",
              "type": "array"
            },
            {
              "id": "17ad8d2f-78d4-4d6c-8f46-47722dd1eb61",
              "name": "template_file",
              "value": "={{ $('Script Generator Output').item.json.template_file }}",
              "type": "string"
            },
            {
              "id": "baf77441-cfe3-4955-818d-ce777c60a644",
              "name": "template_slide",
              "value": "={{ $('Script Generator Output').item.json.template_slide }}",
              "type": "number"
            },
            {
              "id": "851dc740-573c-42cd-8a56-ad16b584a632",
              "name": "old_text",
              "value": "={{ $('Script Generator Output').item.json.old_text }}",
              "type": "object"
            },
            {
              "id": "80d0acac-ee77-4d38-808c-4d727b4a75d1",
              "name": "initial_point",
              "value": "={{ parseInt($json.video_file_name.at(-1).split('-')[1].split('.')[0], 10) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        720
      ],
      "id": "e53fb16c-6f81-4a82-b4a3-dc3253309624",
      "name": "Re-iterate Script Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "79411c80-361f-4bd5-af88-51d5a292e724",
              "leftValue": "={{ $json.video_count }}",
              "rightValue": "={{ $('Input Parameters').item.json.video_count }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        720
      ],
      "id": "61324d9d-7615-45b5-b06e-6a67396bcb34",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5bcf32b5-5272-4bb5-8f71-7f8da2a2ebca",
              "leftValue": "={{ $json.all_done }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        624,
        720
      ],
      "id": "3e4af7d2-d956-468a-9830-08832bc08d4a",
      "name": "If2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        928
      ],
      "id": "d4ea78a0-e6a8-41f0-b8af-11c8c99b4a01",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "66MHT0z3zhiYgblm",
          "mode": "list",
          "cachedResultUrl": "/workflow/66MHT0z3zhiYgblm",
          "cachedResultName": "Combine Videos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_file_name": "={{ $json.video_file_name }}",
            "output_file_name": "={{ $json.output_file_name }}",
            "include_intro_outro": false,
            "epoch": "={{ $('Get current epoch').first().json.epoch }}",
            "video_type": "={{ $('Input Parameters').first().json.video_type }}",
            "upload_to_minio": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_file_name",
              "displayName": "video_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "output_file_name",
              "displayName": "output_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "video_type",
              "displayName": "video_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "include_intro_outro",
              "displayName": "include_intro_outro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "upload_to_minio",
              "displayName": "upload_to_minio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        624,
        928
      ],
      "id": "2d2f039a-477e-4d85-bf59-bfc8181abc4b",
      "name": "Combine Videos"
    },
    {
      "parameters": {
        "jsCode": "const batch_size = $('Input Parameters').first().json.batch_size;\nlet filename_list = []\nconst final_filename_list = []\nlet index = 0;\n\nfor (const item of $input.all()) {\n  if (index === batch_size) {\n    final_filename_list.push({\n      \"video_file_name\": filename_list\n    });\n    filename_list = [];\n    index = 0;\n  }\n  filename_list.push(item.json.filename);\n  index += 1;\n}\n\nif (filename_list.length !== 0) {\n  final_filename_list.push({\n    \"video_file_name\": filename_list\n  });\n}\n\nreturn {\n  json: {\n    output: final_filename_list,\n    id: $('Save Video Details').first().json.id,\n    date: $('Save Video Details').first().json.date,\n    epoch: parseInt($('Save Video Details').first().json.epoch, 10)\n  },\n  pairedItem: []\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        1136
      ],
      "id": "c94e2dec-d088-4c4b-a8da-8821c13e420a",
      "name": "Code",
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-guuid-generator.UUID Generator",
      "typeVersion": 1,
      "position": [
        1280,
        1136
      ],
      "id": "a813c63f-ea7e-4b66-b27f-bfb846e069bb",
      "name": "UUID Generator"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        624,
        1136
      ],
      "id": "5a63ebc9-0886-4c7d-ad21-3aa3388f7b0d",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        848,
        1136
      ],
      "id": "c56f951e-f4c1-4cf6-b281-5eec9af3ce64",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe5ac474-93d3-4ee3-9cf9-88f5a59f7a43",
              "leftValue": "={{ $json.output.length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        400,
        1136
      ],
      "id": "7f310afa-7c9d-4140-b728-f7143da45eb0",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "479110b4-cbc2-441a-aacd-276758f8729f",
              "leftValue": "={{ $json.video_file_name.length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1072,
        1136
      ],
      "id": "1c72c384-e524-42bf-b01f-0bd4031b8620",
      "name": "If5"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    \"video_file_name\": $(\"If5\").first().json.video_file_name,\n    \"output_file_name\": `pseudo_${$input.first().json.uuid}`\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        1360
      ],
      "id": "68d559b7-ef06-4c22-820c-0bfa144b0d32",
      "name": "Code1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "66MHT0z3zhiYgblm",
          "mode": "list",
          "cachedResultUrl": "/workflow/66MHT0z3zhiYgblm",
          "cachedResultName": "Combine Videos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_file_name": "={{ $json.video_file_name }}",
            "output_file_name": "={{ $json.output_file_name }}",
            "include_intro_outro": false,
            "epoch": "={{ $('Get current epoch').first().json.epoch }}",
            "video_type": "={{ $('Input Parameters').first().json.video_type }}",
            "upload_to_minio": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_file_name",
              "displayName": "video_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "output_file_name",
              "displayName": "output_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "video_type",
              "displayName": "video_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "include_intro_outro",
              "displayName": "include_intro_outro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "upload_to_minio",
              "displayName": "upload_to_minio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1280,
        1360
      ],
      "id": "8d069c46-bd71-45f9-ba58-eda99139573c",
      "name": "Combine Videos1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68f6d883-c08c-47b2-9e90-e5defecedd2c",
              "name": "file_path",
              "value": "=/n8n_files/video_files/{{ $json.video_file_name[0] }}",
              "type": "string"
            },
            {
              "id": "307ad4ba-d2d7-4ac7-9d0b-2fa5857f3508",
              "name": "filename",
              "value": "={{ $json.video_file_name[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        1360
      ],
      "id": "b372387b-d310-488f-9f72-401454332820",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "66MHT0z3zhiYgblm",
          "mode": "list",
          "cachedResultUrl": "/workflow/66MHT0z3zhiYgblm",
          "cachedResultName": "Combine Videos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "include_intro_outro": false,
            "video_file_name": "={{ $json.video_file_name }}",
            "output_file_name": "={{ $json.output_file_name }}",
            "epoch": "={{ $('Get current epoch').first().json.epoch }}",
            "upload_to_minio": true,
            "video_type": "={{ $('Input Parameters').first().json.video_type }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_file_name",
              "displayName": "video_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "output_file_name",
              "displayName": "output_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "video_type",
              "displayName": "video_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "include_intro_outro",
              "displayName": "include_intro_outro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "upload_to_minio",
              "displayName": "upload_to_minio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        400,
        1360
      ],
      "id": "027832cf-c423-448a-a0de-dfa86f706611",
      "name": "Combine Videos2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-guuid-generator.UUID Generator",
      "typeVersion": 1,
      "position": [
        192,
        1536
      ],
      "id": "f3268e95-c799-4fc6-946a-0549f8ba0bb9",
      "name": "UUID Generator1"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    \"video_file_name\": $(\"If4\").first().json.output[0].video_file_name,\n    \"output_file_name\": $input.first().json.uuid\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        192,
        1360
      ],
      "id": "207816a2-3ce3-48a9-b80f-671a94d658b8",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "append",
        "values": {
          "keyValuePair": [
            {
              "name": "video_file_name",
              "type": "array",
              "value": "={{ $json.video_file_name }}"
            },
            {
              "name": "output_file_name",
              "value": "={{ $json.output_file_name }}"
            },
            {
              "name": "all_done",
              "type": "boolean",
              "value": "={{ $json.all_done }}"
            }
          ]
        }
      },
      "type": "CUSTOM.Workflow Variables",
      "typeVersion": 1,
      "position": [
        400,
        720
      ],
      "id": "eeedaca1-8d0b-491e-81fd-e0a947f8728d",
      "name": "Save Video Output"
    },
    {
      "parameters": {},
      "type": "CUSTOM.Workflow Variables",
      "typeVersion": 1,
      "position": [
        192,
        928
      ],
      "id": "e4d8b6d7-a27e-45e8-b107-93544a99fd50",
      "name": "Get Video Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "28933c6a-4d74-4139-a26f-778095d29446",
              "leftValue": "={{ $json.epoch }}",
              "rightValue": "={{ $('Input Parameters').item.json.max_epoch }}",
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -448,
        928
      ],
      "id": "f83fecac-ca82-4499-a141-092cd8a680b5",
      "name": "If7"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "job_listing",
          "mode": "list",
          "cachedResultName": "job_listing"
        },
        "table": {
          "__rl": true,
          "value": "mp4_list",
          "mode": "list",
          "cachedResultName": "mp4_list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id || $execution.id }}",
            "date": "={{ $now.format('yyyy-MM-dd') }}",
            "start_time": "={{ $now.format('HH:mm') }}",
            "status": "running",
            "execution_id": "={{ $execution.id }}",
            "video_type": "={{ $('Input Parameters').item.json.video_type }}",
            "job_id": "={{ $('Get current epoch').item.json.job_id }}",
            "num_of_jobs": "={{ $('Input Parameters').item.json.video_count }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "pages_scrapped",
              "displayName": "pages_scrapped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "end_time",
              "displayName": "end_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "mp4_name",
              "displayName": "mp4_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "mp4_path",
              "displayName": "mp4_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "num_of_jobs",
              "displayName": "num_of_jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "video_type",
              "displayName": "video_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        928
      ],
      "id": "d959d23d-91b8-4ba4-8fbf-47db6422c3f2",
      "name": "Save Video Details",
      "credentials": {
        "postgres": {
          "id": "yc7NiS95ggUrE59j",
          "name": "Postgres account (Server)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE job_listing.job_links\nSET video_created = true\nWHERE date = $1\n  AND video_created = false\n  AND audio_added = true;",
        "options": {
          "queryReplacement": "={{ $('Code').item.json.date }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        400,
        1584
      ],
      "id": "2b9e2aaa-f513-41dc-b3c5-49b178f3bf31",
      "name": "Set Video Created",
      "credentials": {
        "postgres": {
          "id": "yc7NiS95ggUrE59j",
          "name": "Postgres account (Server)"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3CV8vOr3daIHXK6X",
          "mode": "list",
          "cachedResultUrl": "/workflow/3CV8vOr3daIHXK6X",
          "cachedResultName": "Script Generator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $('Input Parameters').first().json.date }}",
            "maxCount": "={{ $('Input Parameters').first().json.batch_size }}",
            "num_of_jobs": "={{ $('Input Parameters').first().json.video_count }}",
            "start_id": "={{ $('Get current epoch').first().json.job_id }}"
          },
          "matchingColumns": [
            "date"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "start_id",
              "displayName": "start_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "num_of_jobs",
              "displayName": "num_of_jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "maxCount",
              "displayName": "maxCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        192,
        512
      ],
      "id": "bb576fb1-f448-4f4d-84eb-a64d68f96a80",
      "name": "Script Generator",
      "retryOnFail": true,
      "executeOnce": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -880,
        1328
      ],
      "id": "6e3b4ab0-922b-4508-b13a-c066c0f8478f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -880,
        1152
      ],
      "id": "373ff14f-f3ee-4916-b2a6-3abd697d9e92",
      "name": "Pass"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 15 3,6,9,12,15 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1104,
        1248
      ],
      "id": "5f3c22e9-1956-4f87-b2f2-c8ffbdfa49bd",
      "name": "Schedule Trigger (15)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 2,5,8,11,14,17 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1104,
        1424
      ],
      "id": "ca66b44b-df95-41af-bac2-431f9f6a4af9",
      "name": "Schedule Trigger (30)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 1,4,7,10,13,16 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1104,
        896
      ],
      "id": "e445116f-4021-42a1-abf2-18b2a2ff7a7c",
      "name": "Schedule Trigger (0)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 45 1,4,7,10,13,16 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1104,
        1072
      ],
      "id": "1810bb16-4392-4e1c-80c8-2e641e17fbf4",
      "name": "Schedule Trigger (45)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f92b730-1503-43ee-bde4-81408f1e86af",
              "name": "output",
              "value": "Max epoch reached, update the maxEpoch, or try again the next day",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -448,
        1152
      ],
      "id": "97ed235a-16fb-474f-b29c-be32b7531121",
      "name": "Epoch Overflow"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE job_listing.mp4_list\nSET \n    end_time = $1,\n    mp4_name = $2,\n    mp4_path = $3,\n    status = 'success'\nWHERE \n    execution_id = $4;",
        "options": {
          "queryReplacement": "={{ $now.format('HH:mm') }},{{ $json.filename }},{{ $json.file_path }},{{ $execution.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        1360
      ],
      "id": "bf709172-a5dd-41e7-a436-4776bcf19da7",
      "name": "Update Video Details",
      "credentials": {
        "postgres": {
          "id": "yc7NiS95ggUrE59j",
          "name": "Postgres account (Server)"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "={{ $('Job Scrapper').item.json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        -32,
        1200
      ],
      "id": "23e4b8a0-81a3-40f4-a379-19f077cd5886",
      "name": "Job Scrape Error"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM job_listing.mp4_list\nWHERE date = $1\n  AND video_type = $2\n  AND status = 'failed'\nLIMIT 1;",
        "options": {
          "queryReplacement": "={{ $('Input Parameters').item.json.date }},{{ $('Input Parameters').item.json.video_type }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -240,
        928
      ],
      "id": "8a3dff01-f038-415c-bbd9-e9283e6e6207",
      "name": "Get video list",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "yc7NiS95ggUrE59j",
          "name": "Postgres account (Server)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ordered AS (\n  SELECT\n    id,\n    status,\n    pages_scrapped,\n    job_id,\n    num_of_jobs,\n    video_type,\n    date,\n    ROW_NUMBER() OVER (PARTITION BY video_type ORDER BY id ASC) AS rn\n  FROM job_listing.mp4_list\n  WHERE date = $1\n),\ntype_first_failed AS (\n  SELECT \n    MIN(rn) AS failed_rn,\n    MIN(job_id) FILTER (WHERE status = 'failed') AS failed_job_id\n  FROM ordered\n  WHERE status = 'failed' AND video_type = $2\n),\ntype_base AS (\n  SELECT COUNT(*) AS total_rows \n  FROM ordered\n  WHERE video_type = $2\n),\nglobal_last_row AS (\n  -- Changed: Look at ALL dates, not just $1\n  SELECT \n    job_id,\n    num_of_jobs,\n    pages_scrapped\n  FROM job_listing.mp4_list\n  WHERE date <= $1  -- All dates up to and including query date\n  ORDER BY id DESC\n  LIMIT 1\n)\nSELECT\n  CASE\n    WHEN (SELECT total_rows FROM type_base) = 0 THEN 1\n    WHEN (SELECT failed_rn FROM type_first_failed) IS NOT NULL \n      THEN (SELECT failed_rn FROM type_first_failed)\n    ELSE (SELECT total_rows FROM type_base) + 1\n  END AS epoch,\n  \n  COALESCE((SELECT pages_scrapped FROM global_last_row), 0) AS pages_scrapped,\n  \n  CASE\n    WHEN (SELECT total_rows FROM type_base) = 0 THEN \n      COALESCE(\n        (SELECT job_id FROM global_last_row) + (SELECT num_of_jobs FROM global_last_row),\n        1\n      )\n    WHEN (SELECT failed_rn FROM type_first_failed) IS NOT NULL \n      THEN (SELECT failed_job_id FROM type_first_failed)\n    ELSE COALESCE(\n      (SELECT job_id FROM global_last_row) + (SELECT num_of_jobs FROM global_last_row),\n      1\n    )\n  END AS job_id;",
        "options": {
          "connectionTimeout": 30,
          "queryReplacement": "={{ $json.date }},{{ $json.video_type }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -656,
        928
      ],
      "id": "d81ccc0d-7ae4-4336-b47c-10e396782fff",
      "name": "Get current epoch",
      "credentials": {
        "postgres": {
          "id": "yc7NiS95ggUrE59j",
          "name": "Postgres account (Server)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) AS video_count\nFROM job_listing.job_links\nWHERE date = $1\n  AND id >= $2\n  AND video_created = FALSE;",
        "options": {
          "connectionTimeout": 30,
          "queryReplacement": "={{ $('Input Parameters').item.json.date }},{{ $('Get current epoch').item.json.job_id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -448,
        720
      ],
      "id": "a0f98935-2524-4fb0-bd01-f3820cd93483",
      "name": "Pending video count",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "yc7NiS95ggUrE59j",
          "name": "Postgres account (Server)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE job_listing.mp4_list\nSET \n    status = 'failed'\nWHERE \n    execution_id = $1;",
        "options": {
          "queryReplacement": "={{ $execution.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -240,
        1200
      ],
      "id": "8515208a-2eec-44ae-8a48-7e0913daaf33",
      "name": "Update Video Details (On Error)",
      "credentials": {
        "postgres": {
          "id": "yc7NiS95ggUrE59j",
          "name": "Postgres account (Server)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "79411c80-361f-4bd5-af88-51d5a292e724",
              "leftValue": "={{ $json.jobs_pending }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        848,
        512
      ],
      "id": "2706f1f1-17be-46ab-8215-945724bf585b",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT count(*) as jobs_pending\nFROM job_listing.job_links\nWHERE date = $1\n  AND id >= $2::int\n  AND id < ($2::int + $3::int)\n  AND (audio_added = FALSE OR script_added = FALSE)",
        "options": {
          "queryReplacement": "={{ $('Input Parameters').item.json.date }},{{ $('Get current epoch').item.json.job_id }},{{ $('Input Parameters').first().json.video_count }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        512
      ],
      "id": "15eb2cbb-f918-458a-a6fb-cecae0c66a3f",
      "name": "Extract Job Openings",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "yc7NiS95ggUrE59j",
          "name": "Postgres account (Server)"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        400,
        512
      ],
      "id": "c085f463-240f-4faa-a61a-abe2e2540122",
      "name": "Wait 10 sec",
      "webhookId": "941a9d16-993f-4404-917f-68798491412c"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da127bf3-6987-44b2-b6e7-2e1e0f222a1c",
              "name": "template_file",
              "value": "={{ $('Input Parameters').first().json.template_file }}",
              "type": "string"
            },
            {
              "id": "f71d0b32-a48b-4d9b-aedd-e226364acc5d",
              "name": "jobs",
              "value": "={{ $('Script Generator').item.json.jobs }}",
              "type": "array"
            },
            {
              "id": "a10c8641-500d-4bdf-b3e2-2fa5f20246d8",
              "name": "template_slide",
              "value": "={{ $('Script Generator').item.json.template_slide }}",
              "type": "number"
            },
            {
              "id": "8027eacc-e30a-4c13-a09e-5a25b2f59918",
              "name": "old_text",
              "value": "={{ $('Script Generator').item.json.old_text }}",
              "type": "object"
            },
            {
              "id": "ca651d0a-1ae5-40f5-bdf9-120efe4e469a",
              "name": "initial_point",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        512
      ],
      "id": "b46f7e85-fc94-4038-9958-e2204103262d",
      "name": "Script Generator Output"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7x2kP8hsfNCvf5dY",
          "mode": "list",
          "cachedResultUrl": "/workflow/7x2kP8hsfNCvf5dY",
          "cachedResultName": "Get Global Data in JSON Format From Data Tables"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "required_fields": "[\n  \"date\",\n  \"weekday\",\n  \"api_url\",\n  \"api_key\",\n  \"jnn__ig-ch1__batch_size\",\n  \"jnn__ig-ch1__max_epoch\",\n  \"jnn__ig-ch1__video_count\",\n  \"jnn__ig-ch1__job_portal_list\",\n  \"jnn__ig-ch1__template_file\",\n  \"jnn__ig-ch1__video_type\"\n]"
          },
          "matchingColumns": [
            "required_fields"
          ],
          "schema": [
            {
              "id": "required_fields",
              "displayName": "required_fields",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -656,
        1152
      ],
      "id": "872f609a-51bf-4f0a-a7d0-76205b3fe3db",
      "name": "Input Parameters"
    }
  ],
  "connections": {
    "Get Video file": {
      "main": [
        [
          {
            "node": "Publish",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Scrapper": {
      "main": [
        [
          {
            "node": "Script Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Video Details (On Error)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video": {
      "main": [
        [
          {
            "node": "Save Video Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-iterate Script Output": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Job Scrapper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Script Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Get Video Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Re-iterate Script Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Combine Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Videos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UUID Generator": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UUID Generator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "UUID Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Combine Videos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Videos1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Videos2": {
      "main": [
        [
          {
            "node": "Update Video Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UUID Generator1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Combine Videos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Video Output": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Output": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Get video list",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Epoch Overflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Video Details": {
      "main": [
        [
          {
            "node": "Pending video count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Video Created": {
      "main": [
        [
          {
            "node": "Get Video file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Generator": {
      "main": [
        [
          {
            "node": "Wait 10 sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Input Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass": {
      "main": [
        [
          {
            "node": "Input Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (15)": {
      "main": [
        [
          {
            "node": "Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (30)": {
      "main": [
        [
          {
            "node": "Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (0)": {
      "main": [
        [
          {
            "node": "Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (45)": {
      "main": [
        [
          {
            "node": "Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Details": {
      "main": [
        [
          {
            "node": "Set Video Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video list": {
      "main": [
        [
          {
            "node": "Save Video Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get current epoch": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pending video count": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Details (On Error)": {
      "main": [
        [
          {
            "node": "Job Scrape Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Script Generator Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Script Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Openings": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 sec": {
      "main": [
        [
          {
            "node": "Extract Job Openings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Generator Output": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Parameters": {
      "main": [
        [
          {
            "node": "Get current epoch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false,
    "errorWorkflow": "3LEV6jB7r0TQcMN6",
    "saveDataSuccessExecution": "all",
    "timeSavedMode": "fixed",
    "timeSavedPerExecution": 40
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3fcc524a2177e7ddb4a539aaa7c79d9f30b9b0ada55dc8bc7dd873b11ec37e51"
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "46c3058b-b471-4067-ad59-9c696a5ba551",
  "activeVersionId": null,
  "versionCounter": 24,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [
    {
      "updatedAt": "2026-05-16T22:08:55.159Z",
      "createdAt": "2026-05-16T22:08:55.159Z",
      "id": "uRLukwQ6lXVe1ia9",
      "name": "F-JNN"
    },
    {
      "updatedAt": "2026-02-04T18:01:27.216Z",
      "createdAt": "2026-02-04T18:01:27.216Z",
      "id": "EOGY9r6938d9uT4V",
      "name": "Main-Workflow"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-05-16T22:34:13.377Z",
      "createdAt": "2026-05-16T22:34:13.377Z",
      "role": "workflow:owner",
      "workflowId": "h1kQfLNxCB994HE2",
      "projectId": "i6SPWKiaev6Io6So",
      "project": {
        "updatedAt": "2026-05-16T22:27:54.117Z",
        "createdAt": "2026-05-16T22:26:58.253Z",
        "id": "i6SPWKiaev6Io6So",
        "name": "Atharva Devasthali <atharvadevasthali22@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "bbfd9b91-c218-420f-985d-bbb81f401ca4"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  },
  "parentFolder": "Youtube Stream (JNN)",
  "parentFolderId": "yX1BtvrIqWbmETdj"
}
