n8n-workflows/workflows/HmMxxv4eZOZGzrOl.json
{
  "updatedAt": "2026-06-13T04:00:45.124Z",
  "createdAt": "2026-05-16T22:33:14.416Z",
  "id": "HmMxxv4eZOZGzrOl",
  "name": "Video Creation",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "template_slide",
              "type": "number"
            },
            {
              "name": "template_file"
            },
            {
              "name": "old_text",
              "type": "object"
            },
            {
              "name": "jobs",
              "type": "array"
            },
            {
              "name": "date"
            },
            {
              "name": "batch_size",
              "type": "number"
            },
            {
              "name": "initial_point",
              "type": "number"
            },
            {
              "name": "epoch",
              "type": "number"
            },
            {
              "name": "video_type"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -384,
        176
      ],
      "id": "d4f8a42d-e7d2-408c-8f09-79d6a8b6206c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "url": "={{ $('Input Parameters').item.json.api_url }}/img-ext-result/{{ $json.job_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "fastApiServerApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        704
      ],
      "id": "22c0f255-8ec6-42aa-a689-22a1e9bb5053",
      "name": "Get images",
      "credentials": {
        "fastApiServerApi": {
          "id": "md7HjwFndkcEuAZi",
          "name": "FastAPI Server account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Input Parameters').item.json.api_url }}/ppt-generator",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "fastApiServerApi",
        "sendBody": true,
        "contentType": "raw",
        "body": "={{ $('When Executed by Another Workflow').item.json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        48,
        176
      ],
      "id": "befec674-e35f-43a1-836f-215cdbfc397e",
      "name": "Create PPT",
      "credentials": {
        "fastApiServerApi": {
          "id": "md7HjwFndkcEuAZi",
          "name": "FastAPI Server account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Input Parameters').item.json.api_url }}/extract-slides",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "fastApiServerApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file_name",
              "value": "={{ $json.file_id }}"
            },
            {
              "name": "start_slide",
              "value": "={{ $json.start_slide }}"
            },
            {
              "name": "end_slide",
              "value": "={{ $json.end_slide }}"
            },
            {
              "name": "total_slides",
              "value": "={{ $json.total_slides }}"
            },
            {
              "name": "epoch",
              "value": "={{ $('When Executed by Another Workflow').item.json.epoch }}"
            },
            {
              "name": "video_type",
              "value": "={{ $('When Executed by Another Workflow').item.json.video_type }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        176
      ],
      "id": "e1decc04-2381-4898-80fe-b3175d8f35c0",
      "name": "Extract Images",
      "credentials": {
        "fastApiServerApi": {
          "id": "md7HjwFndkcEuAZi",
          "name": "FastAPI Server account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "index",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        448,
        608
      ],
      "id": "100cafe1-ca91-437a-9ef4-ad1683e36cc1",
      "name": "Merge"
    },
    {
      "parameters": {
        "fieldToSplitOut": "slides",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        48,
        528
      ],
      "id": "37cec807-51d0-4415-88b4-397096fcb356",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "filename"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        848,
        416
      ],
      "id": "9b25bb7d-46ef-415d-8206-ce29925e6f54",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1056,
        400
      ],
      "id": "4207d570-d9af-4d74-942d-4b24e783591f",
      "name": "Merge1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Input Parameters').item.json.api_url }}/convert-to-mp4",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "fastApiServerApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "image_file",
              "value": "={{ $json.slides }}"
            },
            {
              "name": "audio_file",
              "value": "={{ $json.audio_file }}"
            },
            {
              "name": "epoch",
              "value": "={{ $('When Executed by Another Workflow').item.json.epoch }}"
            },
            {
              "name": "video_type",
              "value": "={{ $('When Executed by Another Workflow').first().json.video_type }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        608
      ],
      "id": "a733e245-9ca4-4d1f-a63d-5c4fddc67773",
      "name": "Convert to MP4",
      "retryOnFail": false,
      "credentials": {
        "fastApiServerApi": {
          "id": "md7HjwFndkcEuAZi",
          "name": "FastAPI Server account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Input Parameters').item.json.api_url }}/img-ext-status/{{ $json.job_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "fastApiServerApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        656,
        176
      ],
      "id": "214d5d2a-fcad-40d8-b81b-6934bf884f0d",
      "name": "Status Image Check",
      "credentials": {
        "fastApiServerApi": {
          "id": "md7HjwFndkcEuAZi",
          "name": "FastAPI Server account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bdb5ce3b-57c3-41af-ab58-20cfc0d2274a",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "failed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "74ffeffe-65a4-495c-b92f-13fdf8313dd8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e2732860-56fe-4d0a-aab1-532b9283869f",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        848,
        160
      ],
      "id": "3568a939-eb31-4459-adb2-52698b9ae926",
      "name": "Check image request status"
    },
    {
      "parameters": {
        "url": "={{ $('Input Parameters').item.json.api_url }}/convert-to-mp4-status/{{ $json.job_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "fastApiServerApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        832
      ],
      "id": "75f2ee68-e1e8-4b3a-a71e-d0ef5e591d56",
      "name": "Status MP4 conversion Check",
      "credentials": {
        "fastApiServerApi": {
          "id": "md7HjwFndkcEuAZi",
          "name": "FastAPI Server account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "74ffeffe-65a4-495c-b92f-13fdf8313dd8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e2732860-56fe-4d0a-aab1-532b9283869f",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ad83f56c-c18d-4ebb-ae9a-8f9a04bb5c40",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Failed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1056,
        816
      ],
      "id": "e357e26d-ca74-44b3-aa3e-7a4c990ddb45",
      "name": "Check MP4 conversion request status"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1056,
        608
      ],
      "id": "aa21da3b-93f4-45e1-910b-9bf80bac0f77",
      "name": "Wait 10 sec",
      "webhookId": "7651d0a1-95f5-4f77-8fd8-5253fbc96516"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        448,
        176
      ],
      "id": "e0040aec-97f2-4fc2-88a3-c59dee42a3a2",
      "name": "Wait 10 sec1",
      "webhookId": "2b2a5600-6796-4fa8-8f50-997ead338851"
    },
    {
      "parameters": {
        "jsCode": "const jobs = $('When Executed by Another Workflow').first().json.jobs;\n\nreturn jobs.map((job, index) => {\n  return {\n    json: {\n      ...job,\n      index: index + 1\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        704
      ],
      "id": "2aa8854d-db2e-41ef-8793-f525274de1b8",
      "name": "Code1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3be1675-f67b-4aa7-afd3-2b2a24c2963f",
              "name": "file_id",
              "value": "={{ $json.file_name.split('.')[0] }}",
              "type": "string"
            },
            {
              "id": "edc7d060-548e-4ed5-9636-ccc4468f79f8",
              "name": "total_slides",
              "value": "={{ $json.total_slides }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        384
      ],
      "id": "20fb4cbc-8ab8-48bc-82f0-be1c57cba796",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e72c2565-f1ef-4677-b14d-971d57a2c4d6",
              "name": "file_id",
              "value": "={{ $json.file_id }}",
              "type": "string"
            },
            {
              "id": "3d13f947-198f-4bf2-9dd3-26d30bfc767b",
              "name": "output_file_name",
              "value": "={{ $('Code2').item.json.output_file }}",
              "type": "string"
            },
            {
              "id": "975d0371-100e-44c7-9f5b-42f7c6a3a69b",
              "name": "video_file_name",
              "value": "={{ [...$('Code2').item.json.filename, ...$json.filename].filter((file, index, arr) => arr.indexOf(file) === index) }}",
              "type": "array"
            },
            {
              "id": "9938b63f-c261-4de5-a92d-e115a394316c",
              "name": "all_done",
              "value": "={{ $json.total_slides === $json.filename.at(-1).split('-')[1].split('.')[0] }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1280,
        400
      ],
      "id": "44a1ec6a-039c-41a0-a21c-59d94d8beb6b",
      "name": "Output"
    },
    {
      "parameters": {
        "jsCode": "const batch_size = $('When Executed by Another Workflow').first().json.batch_size;\nconst initial_point = $('When Executed by Another Workflow').first().json.initial_point;\nconst total_slides = $('Create PPT').first().json.total_slides;\nconst file_name = $('Create PPT').first().json.file_name;\nconst file_list = $input.first().json.output;\nconst existing_list = file_list ? file_list.split('\\n').map(video_file => parseInt(video_file.split('.mp4')[0].split('slide-')[1], 10)) : [];\nconst batch_nums = Array.from({length: batch_size}, (_, i) => i + initial_point + 1).filter(num => num <= parseInt(total_slides, 10));\nconst non_exiting_list = batch_nums.filter(num => !existing_list.includes(num));\nconst video_file_list = batch_nums.map(num => `slide-${String(num).padStart(total_slides.length, '0')}.mp4`);\nconst output_file = `pseudo_slide-${String(batch_nums.at(0)).padStart(total_slides.length, '0')}-${String(batch_nums.at(-1)).padStart(total_slides.length, '0')}`;\nconst batch_completed = non_exiting_list.length === 0 || String(file_list).includes(output_file);\n\nreturn {\n  json: {\n    file_id: file_name.split('.')[0],\n    filename: video_file_list,\n    output_file: output_file,\n    batch_completed: batch_completed,\n    start_slide: batch_nums.at(0),\n    end_slide: batch_nums.at(-1),\n    total_slides: parseInt(total_slides, 10)\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        -48
      ],
      "id": "bfeac368-7399-453c-940b-9c8860fcdef4",
      "name": "Code2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0cea7a20-36b2-4524-823e-40dd79a09176",
              "leftValue": "={{ $json.batch_completed }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        656,
        -48
      ],
      "id": "fc941f3b-eed5-450a-b0b5-c4b1c5f81691",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b56f9259-2c2d-4afd-a384-a231e4255fb7",
              "name": "filename",
              "value": "={{ $json.filename }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        848,
        -48
      ],
      "id": "897ada54-e37d-48e7-9447-b6803da38de8",
      "name": "File List"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1056,
        144
      ],
      "id": "ca2ed347-cb1a-404a-a7a5-43793b736ffa",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  item.json.index = parseInt(item.json.slides.split(\"-\")[1].split(\".\")[0]);\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        528
      ],
      "id": "571358a4-0343-42e6-8477-9961b4df87e9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "errorMessage": "={{ $json.stderr }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1280,
        864
      ],
      "id": "343d6951-c8ea-4e59-b382-bdc3f831f6fe",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7x2kP8hsfNCvf5dY",
          "mode": "list",
          "cachedResultUrl": "/workflow/7x2kP8hsfNCvf5dY",
          "cachedResultName": "Get Global Data in JSON Format From Data Tables"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "required_fields": "[\n  \"api_url\"\n]"
          },
          "matchingColumns": [
            "required_fields"
          ],
          "schema": [
            {
              "id": "required_fields",
              "displayName": "required_fields",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -160,
        176
      ],
      "id": "4ac5474e-ecf4-4e58-8f38-36225f12b4fa",
      "name": "Input Parameters"
    },
    {
      "parameters": {
        "command": "=dir=\"/n8n_files/video_files/{{ $('When Executed by Another Workflow').item.json.video_type }}-epoch_{{ $('When Executed by Another Workflow').item.json.epoch }}\"\n[ ! -d \"$dir\" ] && exit 0\nfind \"$dir\" -type f ! -name \"*.txt\" | sort | while read f; do   \n  if [ -s \"$f\" ] && ffprobe -v error -i \"$f\" 2>&1 | grep -q \".\"; then     \n    rm \"$f\"\n  else\n    basename \"$f\"\n  fi \ndone"
      },
      "type": "CUSTOM.remoteExecute",
      "typeVersion": 1,
      "position": [
        240,
        -48
      ],
      "id": "f52b1a94-457c-4398-8a13-16c6d81e823a",
      "name": "Remote Execute",
      "alwaysOutputData": false,
      "credentials": {
        "fastApiServerApi": {
          "id": "md7HjwFndkcEuAZi",
          "name": "FastAPI Server account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        656,
        608
      ],
      "id": "84d91dbe-2b02-4606-8d68-e084a937ba54",
      "name": "Loop Over Items"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Input Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get images": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create PPT": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Remote Execute",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Images": {
      "main": [
        [
          {
            "node": "Wait 10 sec1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to MP4": {
      "main": [
        [
          {
            "node": "Wait 10 sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status Image Check": {
      "main": [
        [
          {
            "node": "Check image request status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check image request status": {
      "main": [
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get images",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10 sec1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Status MP4 conversion Check": {
      "main": [
        [
          {
            "node": "Check MP4 conversion request status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check MP4 conversion request status": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10 sec",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Wait 10 sec": {
      "main": [
        [
          {
            "node": "Status MP4 conversion Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 sec1": {
      "main": [
        [
          {
            "node": "Status Image Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "File List",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Images",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File List": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Parameters": {
      "main": [
        [
          {
            "node": "Create PPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remote Execute": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to MP4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "timeSavedMode": "fixed",
    "availableInMCP": false,
    "timeSavedPerExecution": 7
  },
  "staticData": null,
  "meta": {
    "instanceId": "3fcc524a2177e7ddb4a539aaa7c79d9f30b9b0ada55dc8bc7dd873b11ec37e51",
    "templateCredsSetupCompleted": true
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "0e3bf349-ff98-4678-922c-6891a11c78aa",
  "activeVersionId": "0e3bf349-ff98-4678-922c-6891a11c78aa",
  "versionCounter": 204,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [
    {
      "updatedAt": "2025-09-26T07:16:33.839Z",
      "createdAt": "2025-09-26T07:16:33.839Z",
      "id": "ens6dG0mnb19cVTi",
      "name": "Sub-Workflow"
    },
    {
      "updatedAt": "2026-05-16T22:08:55.159Z",
      "createdAt": "2026-05-16T22:08:55.159Z",
      "id": "uRLukwQ6lXVe1ia9",
      "name": "F-JNN"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-05-16T22:33:14.416Z",
      "createdAt": "2026-05-16T22:33:14.416Z",
      "role": "workflow:owner",
      "workflowId": "HmMxxv4eZOZGzrOl",
      "projectId": "i6SPWKiaev6Io6So",
      "project": {
        "updatedAt": "2026-05-16T22:27:54.117Z",
        "createdAt": "2026-05-16T22:26:58.253Z",
        "id": "i6SPWKiaev6Io6So",
        "name": "Atharva Devasthali <atharvadevasthali22@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "bbfd9b91-c218-420f-985d-bbb81f401ca4"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 0e3bf349",
    "description": ""
  },
  "parentFolder": "Youtube Stream (JNN)",
  "parentFolderId": "yX1BtvrIqWbmETdj"
}
