n8n-workflows/workflows/qdTPjAJEFePSZNC5.json
{
  "updatedAt": "2026-05-16T22:11:03.939Z",
  "createdAt": "2026-04-23T02:50:03.984Z",
  "id": "qdTPjAJEFePSZNC5",
  "name": "Youtube Video Upload",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "79411c80-361f-4bd5-af88-51d5a292e724",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "560b4461-0fec-48e9-a16f-518b9364b98c",
              "leftValue": "={{ $json.mp4_name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -352,
        672
      ],
      "id": "d17356bb-7e0a-4935-be9d-0a0b6a8f512a",
      "name": "If"
    },
    {
      "parameters": {
        "fileSelector": "={{ (() => {\n  const path = $('Combine Videos2').item.json.file_path;\n  return path.startsWith(\"/\") ? path.slice(1) : path;\n})() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        720,
        1328
      ],
      "id": "054e5838-63dd-443a-a226-b933cdc2e4e7",
      "name": "Get Video file",
      "executeOnce": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2Kbv7D61qx6QiovN",
          "mode": "list",
          "cachedResultUrl": "/workflow/2Kbv7D61qx6QiovN",
          "cachedResultName": "Job Scrapper"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "weekday": "={{ $('Input Parameters').item.json.weekday }}",
            "pages_scrapped": "={{ (() => {\n  const maxEpoch = $('Input Parameters').item.json.maxEpoch;\n  const list = $('Input Parameters').item.json.job_portal_list;\n  const epoch = $('Save Video Details').item.json.epoch;\n  const index = epoch % Math.floor(maxEpoch / list.length);\n\n  return (!$('Updated Input Parameters').isExecuted || index == 0)\n    ? 0\n    : $('Updated Input Parameters').item.json.pages_scrapped;\n})() }}",
            "num_of_jobs": "={{ $('Input Parameters').item.json.video_count }}",
            "scrape_by_weekday": false,
            "job_portal": "={{ (() => {\n  const maxEpoch = $('Input Parameters').item.json.maxEpoch;\n  const list = $('Input Parameters').item.json.job_portal_list;\n  const epoch = $('Save Video Details').item.json.epoch;\n  const index = Math.floor(epoch / Math.floor(maxEpoch / list.length));\n  return list[index];\n})() }}",
            "additional_date": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "scrape_by_weekday",
              "displayName": "scrape_by_weekday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "job_portal",
              "displayName": "job_portal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "weekday",
              "displayName": "weekday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "pages_scrapped",
              "displayName": "pages_scrapped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "num_of_jobs",
              "displayName": "num_of_jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "additional_date",
              "displayName": "additional_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        64,
        448
      ],
      "id": "9295707c-37d9-43b3-821c-b94fb9b89c54",
      "name": "Job Scrapper",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HmMxxv4eZOZGzrOl",
          "mode": "list",
          "cachedResultUrl": "/workflow/HmMxxv4eZOZGzrOl",
          "cachedResultName": "Video Creation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "old_text": "={{ $json.old_text }}",
            "jobs": "={{ $json.jobs }}",
            "template_slide": "={{ $json.template_slide }}",
            "date": "={{ $('Input Parameters').item.json.date }}",
            "batch_size": "={{ $('Input Parameters').item.json.batch_size }}",
            "initial_point": "={{ $json.initial_point }}",
            "epoch": "={{ parseInt($('Save Video Details').item.json.epoch, 10)  + 1}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "template_slide",
              "displayName": "template_slide",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "old_text",
              "displayName": "old_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "jobs",
              "displayName": "jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "batch_size",
              "displayName": "batch_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "initial_point",
              "displayName": "initial_point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        288,
        448
      ],
      "id": "cb9cc8e1-49d7-4e9f-bef7-6cc8836b1ca4",
      "name": "Create Video",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8e255a5-8b56-4224-a85b-e21881e026c6",
              "name": "date",
              "value": "={{ $now.format('yyyy-MM-dd') }}",
              "type": "string"
            },
            {
              "id": "29a086c4-0514-4f34-ab0e-2234db7f7d6a",
              "name": "weekday",
              "value": "={{ $now.weekdayLong }}",
              "type": "string"
            },
            {
              "id": "10abb99a-b653-4fee-8c78-34f6f903d5de",
              "name": "batch_size",
              "value": 5,
              "type": "number"
            },
            {
              "id": "3823dee2-05fb-41b8-96f0-6594fba40296",
              "name": "epoch",
              "value": "={{ $json.epoch || 0 }}",
              "type": "number"
            },
            {
              "id": "307c8dd9-8515-4a24-8eff-931b6fce02c5",
              "name": "maxEpoch",
              "value": 10,
              "type": "number"
            },
            {
              "id": "6c331611-464f-4fc3-b770-efeb8753b264",
              "name": "video_count",
              "value": 1,
              "type": "number"
            },
            {
              "id": "9b3d73f6-d00e-42ab-824c-92dab6e01370",
              "name": "job_portal_list",
              "value": "[\"LinkedIn\"]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        896
      ],
      "id": "513daf77-8e6a-4149-8e0b-8f59c3177a18",
      "name": "Input Parameters"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "79411c80-361f-4bd5-af88-51d5a292e724",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        944,
        224
      ],
      "id": "532adaa2-1de2-4e47-84f5-ad9dacf3bb54",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f71d0b32-a48b-4d9b-aedd-e226364acc5d",
              "name": "jobs",
              "value": "={{ $('Script Generator').item.json.jobs }}",
              "type": "array"
            },
            {
              "id": "a10c8641-500d-4bdf-b3e2-2fa5f20246d8",
              "name": "template_slide",
              "value": "={{ $('Script Generator').item.json.template_slide }}",
              "type": "number"
            },
            {
              "id": "8027eacc-e30a-4c13-a09e-5a25b2f59918",
              "name": "old_text",
              "value": "={{ $('Script Generator').item.json.old_text }}",
              "type": "object"
            },
            {
              "id": "ca651d0a-1ae5-40f5-bdf9-120efe4e469a",
              "name": "initial_point",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        224
      ],
      "id": "a21a73fd-444a-4140-bef0-0aa52e863ffc",
      "name": "Script Generator Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab03ac81-782e-4090-81bf-cc70f1dcaf7e",
              "name": "jobs",
              "value": "={{ $('Script Generator Output').item.json.jobs }}",
              "type": "array"
            },
            {
              "id": "baf77441-cfe3-4955-818d-ce777c60a644",
              "name": "template_slide",
              "value": "={{ $('Script Generator Output').item.json.template_slide }}",
              "type": "number"
            },
            {
              "id": "851dc740-573c-42cd-8a56-ad16b584a632",
              "name": "old_text",
              "value": "={{ $('Script Generator Output').item.json.old_text }}",
              "type": "object"
            },
            {
              "id": "80d0acac-ee77-4d38-808c-4d727b4a75d1",
              "name": "initial_point",
              "value": "={{ parseInt($json.video_file_name.at(-1).split('-')[1].split('.')[0], 10) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        448
      ],
      "id": "aa34db56-02d5-4f6d-aa3d-831d91ddb94e",
      "name": "Re-iterate Script Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "79411c80-361f-4bd5-af88-51d5a292e724",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -144,
        448
      ],
      "id": "366a1c7c-7700-4164-a311-779814a0a15b",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5bcf32b5-5272-4bb5-8f71-7f8da2a2ebca",
              "leftValue": "={{ $json.all_done }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        720,
        448
      ],
      "id": "1f77c97e-0589-4cab-8ef0-f20dc4f288fb",
      "name": "If2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        496,
        672
      ],
      "id": "0ceff30f-d0a7-4387-8c99-da15413049c2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "66MHT0z3zhiYgblm",
          "mode": "list",
          "cachedResultUrl": "/workflow/66MHT0z3zhiYgblm",
          "cachedResultName": "Combine Videos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_file_name": "={{ $json.video_file_name }}",
            "output_file_name": "={{ $json.output_file_name }}",
            "include_intro_outro": false,
            "epoch": "={{ parseInt($('Save Video Details').first().json.epoch, 10)  + 1}}",
            "include_epoch_in_output": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_file_name",
              "displayName": "video_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "output_file_name",
              "displayName": "output_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "include_intro_outro",
              "displayName": "include_intro_outro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "include_epoch_in_output",
              "displayName": "include_epoch_in_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        720,
        672
      ],
      "id": "95b7de5c-73d9-4f12-9029-0f1fb01921a0",
      "name": "Combine Videos"
    },
    {
      "parameters": {
        "command": "=sh /sh_files/move_video.sh --filename {{ $json.filename }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        944,
        672
      ],
      "id": "dd338125-7bf7-463e-ad09-f19cecb36736",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1cfe255-c8cb-456d-9f50-4d92a8cb6ba0",
              "name": "file_path",
              "value": "={{ $('Combine Videos').item.json.file_path }}",
              "type": "string"
            },
            {
              "id": "eec792f9-877e-4301-8589-835850026717",
              "name": "filename",
              "value": "={{ $('Combine Videos').item.json.filename.replace(/^[^_]*_/, \"\") }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1168,
        672
      ],
      "id": "8ee8ed67-1159-4a5d-b213-e837764665dc",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const batch_size = $('Input Parameters').first().json.batch_size;\nlet filename_list = []\nconst final_filename_list = []\nlet index = 0;\n\nfor (const item of $input.all()) {\n  if (index === batch_size) {\n    final_filename_list.push({\n      \"video_file_name\": filename_list\n    });\n    filename_list = [];\n    index = 0;\n  }\n  filename_list.push(item.json.filename);\n  index += 1;\n}\n\nif (filename_list.length !== 0) {\n  final_filename_list.push({\n    \"video_file_name\": filename_list\n  });\n}\n\nreturn {\n  json: {\n    output: final_filename_list,\n    id: $('Save Video Details').first().json.id,\n    date: $('Save Video Details').first().json.date,\n    epoch: parseInt($('Save Video Details').first().json.epoch, 10)\n  },\n  pairedItem: []\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        880
      ],
      "id": "8f93138c-3d10-472b-b887-167ad0315a41",
      "name": "Code",
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-guuid-generator.UUID Generator",
      "typeVersion": 1,
      "position": [
        1376,
        880
      ],
      "id": "a6536ec1-a549-4680-b816-cc3d8a280061",
      "name": "UUID Generator"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        720,
        880
      ],
      "id": "36d45f34-10e8-4366-a710-fa098846916e",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        944,
        880
      ],
      "id": "016c4b7d-1429-46d6-ae6c-08b79146b978",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe5ac474-93d3-4ee3-9cf9-88f5a59f7a43",
              "leftValue": "={{ $json.output.length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        496,
        880
      ],
      "id": "efa41bdc-bd2b-4a76-8521-b35fb67ad888",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "479110b4-cbc2-441a-aacd-276758f8729f",
              "leftValue": "={{ $json.video_file_name.length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        880
      ],
      "id": "2a325092-3eef-4976-bab0-a868a04534a1",
      "name": "If5"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    \"video_file_name\": $(\"If5\").first().json.video_file_name,\n    \"output_file_name\": `pseudo_${$input.first().json.uuid}`\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        880
      ],
      "id": "daf2cef2-2815-4956-91cf-8afb4e5a55f0",
      "name": "Code1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "66MHT0z3zhiYgblm",
          "mode": "list",
          "cachedResultUrl": "/workflow/66MHT0z3zhiYgblm",
          "cachedResultName": "Combine Videos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_file_name": "={{ $json.video_file_name }}",
            "output_file_name": "={{ $json.output_file_name }}",
            "include_intro_outro": false,
            "epoch": "={{ parseInt($('Save Video Details').first().json.epoch, 10)  + 1}}",
            "include_epoch_in_output": true
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_file_name",
              "displayName": "video_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "output_file_name",
              "displayName": "output_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "include_intro_outro",
              "displayName": "include_intro_outro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "include_epoch_in_output",
              "displayName": "include_epoch_in_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1168,
        1104
      ],
      "id": "58e9243a-760a-4a2a-85f6-b6223a38a448",
      "name": "Combine Videos1"
    },
    {
      "parameters": {
        "command": "=sh /sh_files/move_video.sh --filename {{ $json.filename }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1376,
        1104
      ],
      "id": "8e2ef554-ec81-48bb-9568-f7bee54d8485",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1cfe255-c8cb-456d-9f50-4d92a8cb6ba0",
              "name": "file_path",
              "value": "={{ $('Combine Videos1').item.json.file_path }}",
              "type": "string"
            },
            {
              "id": "eec792f9-877e-4301-8589-835850026717",
              "name": "filename",
              "value": "={{ $('Combine Videos1').item.json.filename }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1584,
        1104
      ],
      "id": "7bafcb53-548a-46ef-ba30-9815631eceed",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68f6d883-c08c-47b2-9e90-e5defecedd2c",
              "name": "file_path",
              "value": "=/n8n_files/video_files/{{ $json.video_file_name[0] }}",
              "type": "string"
            },
            {
              "id": "307ad4ba-d2d7-4ac7-9d0b-2fa5857f3508",
              "name": "filename",
              "value": "={{ $json.video_file_name[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        1104
      ],
      "id": "f2a903b6-1331-4b41-9874-62aa21128caa",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "66MHT0z3zhiYgblm",
          "mode": "list",
          "cachedResultUrl": "/workflow/66MHT0z3zhiYgblm",
          "cachedResultName": "Combine Videos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "include_intro_outro": false,
            "video_file_name": "={{ $json.video_file_name }}",
            "output_file_name": "={{ $json.output_file_name }}",
            "epoch": "={{ parseInt($('Save Video Details').first().json.epoch, 10)  + 1}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_file_name",
              "displayName": "video_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "output_file_name",
              "displayName": "output_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "include_intro_outro",
              "displayName": "include_intro_outro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "include_epoch_in_output",
              "displayName": "include_epoch_in_output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        496,
        1104
      ],
      "id": "29990ab0-807f-4e9d-bdbf-65748c0c45ac",
      "name": "Combine Videos2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-guuid-generator.UUID Generator",
      "typeVersion": 1,
      "position": [
        288,
        1280
      ],
      "id": "3284bc06-05a4-4b59-94c0-743b707f752e",
      "name": "UUID Generator1"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    \"video_file_name\": $(\"If4\").first().json.output[0].video_file_name,\n    \"output_file_name\": $input.first().json.uuid\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        1104
      ],
      "id": "57f83bdc-885c-4b9a-820b-dd23c1c12cba",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "append",
        "values": {
          "keyValuePair": [
            {
              "name": "video_file_name",
              "type": "array",
              "value": "={{ $json.video_file_name }}"
            },
            {
              "name": "output_file_name",
              "value": "={{ $json.output_file_name }}"
            },
            {
              "name": "all_done",
              "type": "boolean",
              "value": "={{ $json.all_done }}"
            }
          ]
        }
      },
      "type": "CUSTOM.Workflow Variables",
      "typeVersion": 1,
      "position": [
        496,
        448
      ],
      "id": "628fccf7-3b4b-4f5a-86fe-1e2c6c9e2751",
      "name": "Save Video Output"
    },
    {
      "parameters": {},
      "type": "CUSTOM.Workflow Variables",
      "typeVersion": 1,
      "position": [
        288,
        672
      ],
      "id": "b96de63d-9356-489d-a3fe-9684f9cd17e7",
      "name": "Get Video Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d859cbd9-cee8-4975-98e5-641e69161a78",
              "name": "date",
              "value": "={{ $json.date }}",
              "type": "string"
            },
            {
              "id": "48441232-b67b-41fb-bf00-6e364fdac4b8",
              "name": "epoch",
              "value": "={{ parseInt($json.epoch, 10) + 1 }}",
              "type": "number"
            },
            {
              "id": "c71c54bd-4dca-4e6e-99fb-8be9323f89b1",
              "name": "pages_scrapped",
              "value": "={{ $json.pages_scrapped }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        672
      ],
      "id": "81427e0c-16f5-4432-9738-78f040ca3495",
      "name": "Updated Input Parameters"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "28933c6a-4d74-4139-a26f-778095d29446",
              "leftValue": "={{ $json.epoch }}",
              "rightValue": "={{ $('Input Parameters').item.json.maxEpoch }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        64,
        672
      ],
      "id": "0e2f63f9-7686-43bc-bcb0-4025d7a3dae9",
      "name": "If7"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "job_listing",
          "mode": "list",
          "cachedResultName": "job_listing"
        },
        "table": {
          "__rl": true,
          "value": "mp4_list",
          "mode": "list",
          "cachedResultName": "mp4_list"
        },
        "where": {
          "values": [
            {
              "column": "date",
              "value": "={{ $json.date }}"
            },
            {
              "column": "epoch",
              "value": "={{ $json.epoch }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -560,
        672
      ],
      "id": "7815cbe7-f864-42d3-8c73-19b763dc2fbb",
      "name": "Get video list",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "job_listing",
          "mode": "list",
          "cachedResultName": "job_listing"
        },
        "table": {
          "__rl": true,
          "value": "mp4_list",
          "mode": "list",
          "cachedResultName": "mp4_list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id || $execution.id }}",
            "epoch": "={{ \n  $('Updated Input Parameters').isExecuted \n    ? $('Updated Input Parameters').item.json.epoch \n    : $('Input Parameters').item.json.epoch \n}}",
            "date": "={{ $now.format('yyyy-MM-dd') }}",
            "start_time": "={{ $now.format('HH:mm') }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "end_time",
              "displayName": "end_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "mp4_name",
              "displayName": "mp4_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "mp4_path",
              "displayName": "mp4_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "pages_scrapped",
              "displayName": "pages_scrapped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -560,
        448
      ],
      "id": "ddc3da12-38e0-484d-9908-9bc7adc0beac",
      "name": "Save Video Details",
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "job_listing",
          "mode": "list",
          "cachedResultName": "job_listing"
        },
        "table": {
          "__rl": true,
          "value": "job_links",
          "mode": "list",
          "cachedResultName": "job_links"
        },
        "limit": 1,
        "where": {
          "values": [
            {
              "column": "date",
              "value": "={{ $('Input Parameters').item.json.date }}"
            },
            {
              "column": "video_created",
              "value": "false"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -352,
        448
      ],
      "id": "3a84b761-9994-44c2-9c2c-65825c1a4a3b",
      "name": "Get job list",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM job_listing.job_links\nWHERE date=$1 AND (audio_added=false OR script_added=false) AND video_created=false\nORDER BY id ASC\nLIMIT 1",
        "options": {
          "queryReplacement": "={{ $('Input Parameters').item.json.date }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        720,
        224
      ],
      "id": "8c547728-887b-4737-b33e-5fb50e2b83b1",
      "name": "Extract Job Openings",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE job_listing.job_links\nSET video_created = true\nWHERE date = '{{ $('Code').item.json.date }}'\n  AND video_created = false;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        496,
        1328
      ],
      "id": "05f5a72d-5bb0-4893-9c03-8a78f5177011",
      "name": "Set Video Created",
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "job_listing",
          "mode": "list",
          "cachedResultName": "job_listing"
        },
        "table": {
          "__rl": true,
          "value": "mp4_list",
          "mode": "list",
          "cachedResultName": "mp4_list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Save Video Details').item.json.id }}",
            "pages_scrapped": "={{ $json.pages_scrapped }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "end_time",
              "displayName": "end_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mp4_name",
              "displayName": "mp4_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mp4_path",
              "displayName": "mp4_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "pages_scrapped",
              "displayName": "pages_scrapped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        64,
        224
      ],
      "id": "0f115d9a-4545-4a08-b0b4-76e40a7d4fda",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3CV8vOr3daIHXK6X",
          "mode": "list",
          "cachedResultUrl": "/workflow/3CV8vOr3daIHXK6X",
          "cachedResultName": "Script Generator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $('Input Parameters').first().json.date }}",
            "test_mode": false,
            "maxCount": "={{ $('Input Parameters').first().json.batch_size }}"
          },
          "matchingColumns": [
            "date"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "test_mode",
              "displayName": "test_mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "maxCount",
              "displayName": "maxCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        288,
        224
      ],
      "id": "2f439138-0364-4778-9aa9-7491b0b02569",
      "name": "Script Generator",
      "retryOnFail": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "job_listing",
          "mode": "list",
          "cachedResultName": "job_listing"
        },
        "table": {
          "__rl": true,
          "value": "job_links",
          "mode": "list",
          "cachedResultName": "job_links"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "video_created",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -640,
        1296
      ],
      "id": "5d59532b-92f3-45f4-9c06-11584db52ee6",
      "name": "Update Video Details1",
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Code').item.json.date.split('T').at(0) }}  | Job News Show {{ $('Code').item.json.epoch + 1 }}",
        "regionCode": "IN",
        "categoryId": "27",
        "options": {
          "description": "={{ $('Code').item.json.date.split('T').at(0) }}  | Job News Show {{ $('Code').item.json.epoch + 1 }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        944,
        1328
      ],
      "id": "12863cbe-875a-4e6d-922b-7ca4da0bbf83",
      "name": "Upload a video",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "55SC7a6PHJbtFxfj",
          "name": "YouTube account"
        }
      },
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "sh /sh_files/cleanup.sh --confirm"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -224,
        1280
      ],
      "id": "3a2473c1-d862-44f6-a83a-3def0e643be6",
      "name": "Folder files cleanup"
    },
    {
      "parameters": {
        "command": "id -u  # Check your current user ID\necho \"----\"\nls -ln n8n_files\necho \"----\"\nls -ln n8n_files/img_video_files"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        16,
        1280
      ],
      "id": "1ad80504-14df-4c30-937b-3529d9d69cda",
      "name": "Execute Command2"
    },
    {
      "parameters": {
        "command": "sh /sh_files/cleanup.sh --confirm"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1376,
        1328
      ],
      "id": "42ba2141-5c2a-422a-ab68-40a966086d7b",
      "name": "Execute Command4"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "value": "job_listing",
          "mode": "list",
          "cachedResultName": "job_listing"
        },
        "table": {
          "__rl": true,
          "value": "mp4_list",
          "mode": "list",
          "cachedResultName": "mp4_list"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "end_time",
              "condition": "!=",
              "value": "={{ null }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -432,
        1264
      ],
      "id": "01036864-9eed-46e5-96d8-901c9e6bdb09",
      "name": "Update Video Details3",
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "job_listing",
          "mode": "list",
          "cachedResultName": "job_listing"
        },
        "table": {
          "__rl": true,
          "value": "job_links",
          "mode": "list",
          "cachedResultName": "job_links"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "video_created": false,
            "audio_added": false,
            "audio_file_name": "={{ null }}"
          },
          "matchingColumns": [
            "video_created"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "position",
              "displayName": "position",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "experience_required",
              "displayName": "experience_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "skills_required",
              "displayName": "skills_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "job_type",
              "displayName": "job_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "audio_added",
              "displayName": "audio_added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "audio_file_name",
              "displayName": "audio_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "script_added",
              "displayName": "script_added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "script",
              "displayName": "script",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_created",
              "displayName": "video_created",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -496,
        1472
      ],
      "id": "99b6c61e-689f-4d46-8ff0-2acb6410c76e",
      "name": "Update Video Details4",
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        496,
        224
      ],
      "id": "03c64843-5e40-4407-a05a-9f5a5dc8db01",
      "name": "Wait 10 sec",
      "webhookId": "941a9d16-993f-4404-917f-68798491412c"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        1072
      ],
      "id": "f2f23921-d7d0-4741-9259-4de4fb23394c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "command": "sh /sh_files/cleanup.sh --confirm\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -752,
        896
      ],
      "id": "931fe283-847b-41c9-a3bc-e56eb1aacc0b",
      "name": "Folder files cleanup1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE job_listing.job_links\nSET audio_added=false, audio_file_name=''\nWHERE video_created=false;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -752,
        1072
      ],
      "id": "4b4764b4-d1bd-4bb1-8268-e6c5c06d631a",
      "name": "Update Video Details (if video not created)",
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZyRPbgnaKH8JFLLP",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZyRPbgnaKH8JFLLP",
          "cachedResultName": "Add New Video to Stream"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_file_name": "={{ $('Combine Videos2').first().json.filename }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_file_name",
              "displayName": "video_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1168,
        1328
      ],
      "id": "5ecd5e5a-0a77-4bed-9105-f58c300327e7",
      "name": "Add New Video to Stream",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -976,
        896
      ],
      "id": "b0852a20-ed26-4175-9ef0-26125c8618d3",
      "name": "Pass"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 15 3,6,9,12,15 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        992
      ],
      "id": "0cf44019-ffbf-4a71-b415-9a7d60d58ac2",
      "name": "Schedule Trigger (15)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 30 2,5,8,11,14,17 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        1168
      ],
      "id": "42804f75-004c-4266-afc0-2ace68e4e57f",
      "name": "Schedule Trigger (30)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 1,4,7,10,13,16 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        640
      ],
      "id": "ec2d25bd-cea8-479d-9db3-ee6dc6e085bd",
      "name": "Schedule Trigger (0)"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 45 1,4,7,10,13,16 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        816
      ],
      "id": "2e544dc3-5ae4-4048-9b02-6875176c604a",
      "name": "Schedule Trigger (45)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f92b730-1503-43ee-bde4-81408f1e86af",
              "name": "output",
              "value": "Max epoch reached, update the maxEpoch, or try again the next day",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        896
      ],
      "id": "0376f9c3-00d1-4cc3-8a4d-729a8ab7e22e",
      "name": "Epoch Overflow"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE job_listing.mp4_list\nSET \n    end_time = '{{ $now.format('HH:mm') }}',\n    mp4_name = '{{ $json.filename }}',\n    mp4_path = '{{ $json.file_path }}'\nWHERE \n    id = {{ $('Code').item.json.id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        720,
        1104
      ],
      "id": "1547435a-b0b1-498d-8ee9-e7c289678e97",
      "name": "Update Video Details",
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE job_listing.mp4_list\nSET \n    end_time = '{{ $now.format('HH:mm') }}'\nWHERE \n    id = {{ $('Save Video Details').item.json.id }};",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -144,
        944
      ],
      "id": "762acc4d-5e32-4e6e-a850-61bd3812af88",
      "name": "Update Video Details2",
      "credentials": {
        "postgres": {
          "id": "shW2iHfLRrHL9cFY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "={{ $('Job Scrapper').item.json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        64,
        944
      ],
      "id": "f9cb8853-262a-491f-a42a-155efef10996",
      "name": "Job Scrape Error"
    }
  ],
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Save Video Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Updated Input Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video file": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Job Scrapper": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Video Details2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video": {
      "main": [
        [
          {
            "node": "Save Video Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Parameters": {
      "main": [
        [
          {
            "node": "Get video list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Script Generator Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Script Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Generator Output": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-iterate Script Output": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Job Scrapper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Script Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Get Video Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Re-iterate Script Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Combine Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Videos": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UUID Generator": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UUID Generator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "UUID Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Combine Videos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Videos1": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Videos2": {
      "main": [
        [
          {
            "node": "Update Video Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UUID Generator1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Combine Videos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Video Output": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Output": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Updated Input Parameters": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Get video list",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Epoch Overflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get video list": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Video Details": {
      "main": [
        [
          {
            "node": "Get job list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get job list": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Openings": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Video Created": {
      "main": [
        [
          {
            "node": "Get Video file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Script Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Generator": {
      "main": [
        [
          {
            "node": "Wait 10 sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Details1": {
      "main": [
        [
          {
            "node": "Update Video Details3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        [
          {
            "node": "Add New Video to Stream",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Details3": {
      "main": [
        [
          {
            "node": "Folder files cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Details4": {
      "main": [
        [
          {
            "node": "Folder files cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10 sec": {
      "main": [
        [
          {
            "node": "Extract Job Openings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Update Video Details (if video not created)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Details (if video not created)": {
      "main": [
        [
          {
            "node": "Folder files cleanup1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Folder files cleanup1": {
      "main": [
        [
          {
            "node": "Input Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add New Video to Stream": {
      "main": [
        [
          {
            "node": "Execute Command4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass": {
      "main": [
        [
          {
            "node": "Update Video Details (if video not created)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (15)": {
      "main": [
        [
          {
            "node": "Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (30)": {
      "main": [
        [
          {
            "node": "Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (0)": {
      "main": [
        [
          {
            "node": "Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (45)": {
      "main": [
        [
          {
            "node": "Pass",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Details": {
      "main": [
        [
          {
            "node": "Set Video Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Details2": {
      "main": [
        [
          {
            "node": "Job Scrape Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false,
    "errorWorkflow": "3LEV6jB7r0TQcMN6",
    "saveDataSuccessExecution": "all",
    "timeSavedMode": "fixed",
    "timeSavedPerExecution": 40
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de331dec9aaf376116316c7d9bea9774d15e0352e57dad758565adefb9561776"
  },
  "pinData": {},
  "versionId": "d88e2ce5-2dc4-4e39-88d6-1cea52ba27dc",
  "activeVersionId": null,
  "versionCounter": 61,
  "triggerCount": 0,
  "tags": [
    {
      "updatedAt": "2026-02-04T18:01:27.216Z",
      "createdAt": "2026-02-04T18:01:27.216Z",
      "id": "EOGY9r6938d9uT4V",
      "name": "Main-Workflow"
    },
    {
      "updatedAt": "2026-05-16T22:08:55.159Z",
      "createdAt": "2026-05-16T22:08:55.159Z",
      "id": "uRLukwQ6lXVe1ia9",
      "name": "F-JNN"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-04-23T02:50:03.984Z",
      "createdAt": "2026-04-23T02:50:03.984Z",
      "role": "workflow:owner",
      "workflowId": "qdTPjAJEFePSZNC5",
      "projectId": "r4FxHAXU5mmnE4p2",
      "project": {
        "updatedAt": "2026-04-23T00:46:33.004Z",
        "createdAt": "2026-04-23T00:44:53.719Z",
        "id": "r4FxHAXU5mmnE4p2",
        "name": "Atharva Devasthali <atharvadevasthali22@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d151c88d-c353-4d5e-91ee-dd52a5a7fbdc"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  },
  "folder": "Youtube Stream (JNN)"
}
