n8n-workflows/workflows/qdTPjAJEFePSZNC5.json
{
  "updatedAt": "2026-06-13T15:28:46.021Z",
  "createdAt": "2026-05-16T22:34:38.277Z",
  "id": "qdTPjAJEFePSZNC5",
  "name": "Youtube Video Upload",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "2Kbv7D61qx6QiovN",
          "mode": "list",
          "cachedResultUrl": "/workflow/2Kbv7D61qx6QiovN",
          "cachedResultName": "Job Scrapper"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "weekday": "={{ $('Input Parameters').item.json.weekday }}",
            "pages_scrapped": "={{ $('Get current epoch').item.json.pages_scrapped }}",
            "num_of_jobs": "={{ max($('Input Parameters').item.json.video_count, 10) }}",
            "scrape_by_weekday": false,
            "job_portal": "={{ (() => {\n  const maxEpoch = $('Input Parameters').item.json.max_epoch;\n  const list = $('Input Parameters').item.json.job_portal_list;\n  const epoch = $('Get current epoch').item.json.epoch;\n  const index = Math.floor(epoch / Math.floor(maxEpoch / list.length));\n  return list[index];\n})() }}",
            "mp4_id": "={{ $('Save Video Details').item.json.id }}",
            "video_type": "={{ $('Input Parameters').item.json.video_type }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "mp4_id",
              "displayName": "mp4_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "scrape_by_weekday",
              "displayName": "scrape_by_weekday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "job_portal",
              "displayName": "job_portal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "weekday",
              "displayName": "weekday",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "pages_scrapped",
              "displayName": "pages_scrapped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "num_of_jobs",
              "displayName": "num_of_jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number"
            },
            {
              "id": "video_type",
              "displayName": "video_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1296,
        1024
      ],
      "id": "f849072c-3ab1-4a44-a0e9-71fbe69cb734",
      "name": "Job Scrapper",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HmMxxv4eZOZGzrOl",
          "mode": "list",
          "cachedResultUrl": "/workflow/HmMxxv4eZOZGzrOl",
          "cachedResultName": "Video Creation"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "old_text": "={{ $json.old_text }}",
            "jobs": "={{ $json.jobs }}",
            "template_slide": "={{ $json.template_slide }}",
            "date": "={{ $('Input Parameters').first().json.date }}",
            "batch_size": "={{ $('Input Parameters').first().json.batch_size }}",
            "initial_point": "={{ $json.initial_point }}",
            "epoch": "={{ $('Get current epoch').first().json.epoch }}",
            "template_file": "={{ $('Input Parameters').first().json.template_file }}",
            "video_type": "={{ $('Input Parameters').first().json.video_type }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "template_slide",
              "displayName": "template_slide",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "template_file",
              "displayName": "template_file",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "old_text",
              "displayName": "old_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "jobs",
              "displayName": "jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "batch_size",
              "displayName": "batch_size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "initial_point",
              "displayName": "initial_point",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "video_type",
              "displayName": "video_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1520,
        1040
      ],
      "id": "cefcc3fe-2c5c-4b92-8796-89c7d42bca03",
      "name": "Create Video",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab03ac81-782e-4090-81bf-cc70f1dcaf7e",
              "name": "jobs",
              "value": "={{ $('Script Generator Output').item.json.jobs }}",
              "type": "array"
            },
            {
              "id": "17ad8d2f-78d4-4d6c-8f46-47722dd1eb61",
              "name": "template_file",
              "value": "={{ $('Script Generator Output').item.json.template_file }}",
              "type": "string"
            },
            {
              "id": "baf77441-cfe3-4955-818d-ce777c60a644",
              "name": "template_slide",
              "value": "={{ $('Script Generator Output').item.json.template_slide }}",
              "type": "number"
            },
            {
              "id": "851dc740-573c-42cd-8a56-ad16b584a632",
              "name": "old_text",
              "value": "={{ $('Script Generator Output').item.json.old_text }}",
              "type": "object"
            },
            {
              "id": "80d0acac-ee77-4d38-808c-4d727b4a75d1",
              "name": "initial_point",
              "value": "={{ parseInt($json.video_file_name.at(-1).split('-')[1].split('.')[0], 10) }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2176,
        1040
      ],
      "id": "03f8375c-dd16-49c0-86e0-1dd2824d9652",
      "name": "Re-iterate Script Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "79411c80-361f-4bd5-af88-51d5a292e724",
              "leftValue": "={{ $json.video_count }}",
              "rightValue": "={{ $('Input Parameters').item.json.video_count }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1088,
        1040
      ],
      "id": "e44a4411-4fab-47d0-b14e-ed80727d3542",
      "name": "If3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5bcf32b5-5272-4bb5-8f71-7f8da2a2ebca",
              "leftValue": "={{ $json.all_done }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1952,
        1040
      ],
      "id": "93f41546-261b-4d99-b1e5-6d5dd1348be1",
      "name": "If2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1728,
        1248
      ],
      "id": "14530434-f42f-41f2-a177-7deb600026b2",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "66MHT0z3zhiYgblm",
          "mode": "list",
          "cachedResultUrl": "/workflow/66MHT0z3zhiYgblm",
          "cachedResultName": "Combine Videos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_file_name": "={{ $json.video_file_name }}",
            "output_file_name": "={{ $json.output_file_name }}",
            "include_intro_outro": false,
            "epoch": "={{ $('Get current epoch').first().json.epoch }}",
            "video_type": "={{ $('Input Parameters').first().json.video_type }}",
            "upload_to_minio": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_file_name",
              "displayName": "video_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "output_file_name",
              "displayName": "output_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "video_type",
              "displayName": "video_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "include_intro_outro",
              "displayName": "include_intro_outro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "upload_to_minio",
              "displayName": "upload_to_minio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1952,
        1248
      ],
      "id": "0e4a28c5-5e16-4e5a-b7e4-63954291b728",
      "name": "Combine Videos"
    },
    {
      "parameters": {
        "jsCode": "const batch_size = $('Input Parameters').first().json.batch_size;\nlet filename_list = []\nconst final_filename_list = []\nlet index = 0;\n\nfor (const item of $input.all()) {\n  if (index === batch_size) {\n    final_filename_list.push({\n      \"video_file_name\": filename_list\n    });\n    filename_list = [];\n    index = 0;\n  }\n  filename_list.push(item.json.filename);\n  index += 1;\n}\n\nif (filename_list.length !== 0) {\n  final_filename_list.push({\n    \"video_file_name\": filename_list\n  });\n}\n\nreturn {\n  json: {\n    output: final_filename_list,\n    id: $('Save Video Details').first().json.id,\n    date: $('Save Video Details').first().json.date,\n    epoch: parseInt($('Save Video Details').first().json.epoch, 10)\n  },\n  pairedItem: []\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        1456
      ],
      "id": "077e16e5-5d57-4b04-9a7e-00114bfd3ebb",
      "name": "Code",
      "executeOnce": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-guuid-generator.UUID Generator",
      "typeVersion": 1,
      "position": [
        2608,
        1456
      ],
      "id": "ec3ecb12-7ba4-4645-bbcc-09e21e8cf11d",
      "name": "UUID Generator"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1952,
        1456
      ],
      "id": "fda1d64f-fac6-42b3-95a0-0ddb4953d2ae",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2176,
        1456
      ],
      "id": "3c85024a-f0f1-4217-8b74-bdd05102d04c",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "fe5ac474-93d3-4ee3-9cf9-88f5a59f7a43",
              "leftValue": "={{ $json.output.length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1728,
        1456
      ],
      "id": "f19a38ac-bc97-4e1d-b8f1-99752808c76f",
      "name": "If4"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "479110b4-cbc2-441a-aacd-276758f8729f",
              "leftValue": "={{ $json.video_file_name.length }}",
              "rightValue": 1,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2400,
        1456
      ],
      "id": "d23a9f84-d60e-4568-b5e4-931a730b33b2",
      "name": "If5"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    \"video_file_name\": $(\"If5\").first().json.video_file_name,\n    \"output_file_name\": `pseudo_${$input.first().json.uuid}`\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        1680
      ],
      "id": "55b4c724-a328-4180-8be3-8e85a86959b3",
      "name": "Code1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "66MHT0z3zhiYgblm",
          "mode": "list",
          "cachedResultUrl": "/workflow/66MHT0z3zhiYgblm",
          "cachedResultName": "Combine Videos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "video_file_name": "={{ $json.video_file_name }}",
            "output_file_name": "={{ $json.output_file_name }}",
            "include_intro_outro": false,
            "epoch": "={{ $('Get current epoch').first().json.epoch }}",
            "video_type": "={{ $('Input Parameters').first().json.video_type }}",
            "upload_to_minio": false
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_file_name",
              "displayName": "video_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "output_file_name",
              "displayName": "output_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "video_type",
              "displayName": "video_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "include_intro_outro",
              "displayName": "include_intro_outro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            },
            {
              "id": "upload_to_minio",
              "displayName": "upload_to_minio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2608,
        1680
      ],
      "id": "28148db9-bb1a-43f0-868a-9437bf27a795",
      "name": "Combine Videos1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68f6d883-c08c-47b2-9e90-e5defecedd2c",
              "name": "file_path",
              "value": "=/n8n_files/video_files/{{ $json.video_file_name[0] }}",
              "type": "string"
            },
            {
              "id": "307ad4ba-d2d7-4ac7-9d0b-2fa5857f3508",
              "name": "filename",
              "value": "={{ $json.video_file_name[0] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2176,
        1680
      ],
      "id": "a2cef5d4-04dc-4677-af96-8d82809871ed",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "66MHT0z3zhiYgblm",
          "mode": "list",
          "cachedResultUrl": "/workflow/66MHT0z3zhiYgblm",
          "cachedResultName": "Combine Videos"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "include_intro_outro": false,
            "video_file_name": "={{ $json.video_file_name }}",
            "output_file_name": "={{ $json.output_file_name }}",
            "epoch": "={{ $('Get current epoch').first().json.epoch }}",
            "upload_to_minio": true,
            "video_type": "={{ $('Input Parameters').first().json.video_type }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "video_file_name",
              "displayName": "video_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array"
            },
            {
              "id": "output_file_name",
              "displayName": "output_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "video_type",
              "displayName": "video_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "include_intro_outro",
              "displayName": "include_intro_outro",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean"
            },
            {
              "id": "upload_to_minio",
              "displayName": "upload_to_minio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "boolean",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1728,
        1680
      ],
      "id": "243ce588-1d3b-4409-b382-ae41b26afb83",
      "name": "Combine Videos2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-guuid-generator.UUID Generator",
      "typeVersion": 1,
      "position": [
        1520,
        1856
      ],
      "id": "6efee870-ebc2-48ec-b10a-d30baf805cf5",
      "name": "UUID Generator1"
    },
    {
      "parameters": {
        "jsCode": "return {\n  json: {\n    \"video_file_name\": $(\"If4\").first().json.output[0].video_file_name,\n    \"output_file_name\": $input.first().json.uuid\n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        1680
      ],
      "id": "7dc1867c-edaf-457b-95fa-2e1aec6bfafa",
      "name": "Code2"
    },
    {
      "parameters": {
        "operation": "append",
        "values": {
          "keyValuePair": [
            {
              "name": "video_file_name",
              "type": "array",
              "value": "={{ $json.video_file_name }}"
            },
            {
              "name": "output_file_name",
              "value": "={{ $json.output_file_name }}"
            },
            {
              "name": "all_done",
              "type": "boolean",
              "value": "={{ $json.all_done }}"
            }
          ]
        }
      },
      "type": "CUSTOM.Workflow Variables",
      "typeVersion": 1,
      "position": [
        1728,
        1040
      ],
      "id": "ed2bbc9a-cfb4-4c9d-aa80-271e50bc4e18",
      "name": "Save Video Output"
    },
    {
      "parameters": {},
      "type": "CUSTOM.Workflow Variables",
      "typeVersion": 1,
      "position": [
        1520,
        1248
      ],
      "id": "1ae5bbb5-a697-4a9a-9241-c541a68969b1",
      "name": "Get Video Output"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "28933c6a-4d74-4139-a26f-778095d29446",
              "leftValue": "={{ $json.epoch }}",
              "rightValue": "={{ $('Input Parameters').item.json.max_epoch }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        880,
        1248
      ],
      "id": "380fb29b-eb65-46ef-a60c-e4ea59a4776d",
      "name": "If7"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "value": "job_listing",
          "mode": "list",
          "cachedResultName": "job_listing"
        },
        "table": {
          "__rl": true,
          "value": "mp4_list",
          "mode": "list",
          "cachedResultName": "mp4_list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.failed_id || $execution.id }}",
            "date": "={{ $now.format('yyyy-MM-dd') }}",
            "start_time": "={{ $now.format('HH:mm') }}",
            "status": "running",
            "execution_id": "={{ $execution.id }}",
            "video_type": "={{ $('Input Parameters').item.json.video_type }}",
            "job_id": "={{ $json.job_id }}",
            "num_of_jobs": "={{ $('Input Parameters').item.json.video_count }}",
            "epoch": "={{ $('Get current epoch').item.json.epoch }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "epoch",
              "displayName": "epoch",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "pages_scrapped",
              "displayName": "pages_scrapped",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "start_time",
              "displayName": "start_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "end_time",
              "displayName": "end_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "time",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "mp4_name",
              "displayName": "mp4_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "mp4_path",
              "displayName": "mp4_path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "execution_id",
              "displayName": "execution_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "job_id",
              "displayName": "job_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "num_of_jobs",
              "displayName": "num_of_jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "video_type",
              "displayName": "video_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        1248
      ],
      "id": "cdd7e620-7c2d-4040-9282-fc8b8c673f86",
      "name": "Save Video Details",
      "credentials": {
        "postgres": {
          "id": "yc7NiS95ggUrE59j",
          "name": "Postgres account (Server)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH updated AS (\n  UPDATE job_listing.job_links\n  SET video_created = true\n  WHERE date = $1 \n    AND video_type = $2 \n    AND video_created = false \n    AND audio_added = true\n  RETURNING id\n)\nSELECT COUNT(*) as rows_updated FROM updated;",
        "options": {
          "queryReplacement": "={{ [\n  $('Code').item.json.date,\n  $('Input Parameters').first().json.video_type\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1728,
        1904
      ],
      "id": "95202f5c-e589-4f24-95dc-1b854088801c",
      "name": "Set Video Created",
      "credentials": {
        "postgres": {
          "id": "yc7NiS95ggUrE59j",
          "name": "Postgres account (Server)"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "3CV8vOr3daIHXK6X",
          "mode": "list",
          "cachedResultUrl": "/workflow/3CV8vOr3daIHXK6X",
          "cachedResultName": "Script Generator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $('Input Parameters').first().json.date }}",
            "maxCount": "={{ $('Input Parameters').first().json.batch_size }}",
            "num_of_jobs": "={{ $('Input Parameters').first().json.video_count }}",
            "start_id": "={{ Math.min(\n  $('Job Scrapper').isExecuted && $('Job Scrapper').item.json.first_job_id ? $('Job Scrapper').item.json.first_job_id : Infinity,\n  $('Pending video count').item.json.first_job_id ? $('Pending video count').item.json.first_job_id : Infinity\n) }}",
            "video_type": "={{ $('Input Parameters').item.json.video_type }}"
          },
          "matchingColumns": [
            "date"
          ],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "start_id",
              "displayName": "start_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "num_of_jobs",
              "displayName": "num_of_jobs",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "maxCount",
              "displayName": "maxCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "number",
              "removed": false
            },
            {
              "id": "video_type",
              "displayName": "video_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1520,
        832
      ],
      "id": "6aa10e16-119b-4bc1-beff-720f3b5d68b7",
      "name": "Script Generator",
      "retryOnFail": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Code').item.json.date.split('T').at(0) }}  | Job News Show {{ $('Code').item.json.epoch + 1 }}",
        "regionCode": "IN",
        "categoryId": "27",
        "options": {
          "description": "={{ $('Code').item.json.date.split('T').at(0) }}  | Job News Show {{ $('Code').item.json.epoch + 1 }}"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2176,
        1904
      ],
      "id": "438231b4-8302-42a1-a27a-7a553a5ef2a1",
      "name": "Upload a video",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        432,
        1472
      ],
      "id": "fd6e59d1-3b05-465e-84f6-3ed0fa2723ac",
      "name": "When clicking ‘Execute workflow’",
      "notesInFlow": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE job_listing.mp4_list\nSET \n    end_time = $1,\n    mp4_name = $2,\n    mp4_path = $3,\n    status = 'success'\nWHERE \n    execution_id = $4;",
        "options": {
          "queryReplacement": "={{ [\n  $now.format('HH:mm'),\n  $json.filename,\n  $json.file_path,\n  $execution.id\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1952,
        1680
      ],
      "id": "739c764e-25bc-4300-a6ed-d656843f4252",
      "name": "Update Video Details",
      "credentials": {
        "postgres": {
          "id": "yc7NiS95ggUrE59j",
          "name": "Postgres account (Server)"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "={{ $('Job Scrapper').item.json.error }}"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1296,
        1248
      ],
      "id": "e234a995-5fe8-4ae2-afc9-6dc2ba695f99",
      "name": "Job Scrape Error"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ordered AS (\n  SELECT\n    id,\n    status,\n    pages_scrapped,\n    job_id,\n    num_of_jobs,\n    video_type,\n    date,\n    ROW_NUMBER() OVER (PARTITION BY video_type ORDER BY id ASC) AS rn\n  FROM job_listing.mp4_list\n  WHERE date = $1\n),\ntype_first_failed AS (\n  SELECT \n    MIN(rn) AS failed_rn,\n    MIN(id) FILTER (WHERE status = 'failed') AS failed_id,\n    MIN(pages_scrapped) FILTER (WHERE status = 'failed') AS failed_pages_scrapped\n  FROM ordered\n  WHERE status = 'failed' AND video_type = $2\n),\ntype_base AS (\n  SELECT COUNT(*) AS total_rows \n  FROM ordered\n  WHERE video_type = $2\n),\nglobal_last_row AS (\n  SELECT \n    pages_scrapped\n  FROM job_listing.mp4_list\n  WHERE date <= $1\n  ORDER BY id DESC\n  LIMIT 1\n)\nSELECT\n  CASE\n    WHEN (SELECT total_rows FROM type_base) = 0 THEN 1\n    WHEN (SELECT failed_rn FROM type_first_failed) IS NOT NULL \n      THEN (SELECT failed_rn FROM type_first_failed)\n    ELSE (SELECT total_rows FROM type_base) + 1\n  END AS epoch,\n  \n  CASE\n    WHEN (SELECT failed_id FROM type_first_failed) IS NOT NULL\n      THEN COALESCE((SELECT failed_pages_scrapped FROM type_first_failed), 0)\n    ELSE COALESCE((SELECT pages_scrapped FROM global_last_row), 0)\n  END AS pages_scrapped,\n  \n  (SELECT failed_id FROM type_first_failed) AS failed_id;",
        "options": {
          "connectionTimeout": 30,
          "queryReplacement": "={{ $json.date }},{{ $json.video_type }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        672,
        1248
      ],
      "id": "c79e8e22-1bb4-4c91-89e9-6b15bc3798c7",
      "name": "Get current epoch",
      "credentials": {
        "postgres": {
          "id": "yc7NiS95ggUrE59j",
          "name": "Postgres account (Server)"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COUNT(*)::int AS video_count,\n  (SELECT id FROM job_listing.job_links\n   WHERE date = $1\n     AND video_type = $2\n     AND video_created = FALSE\n   ORDER BY id ASC\n   LIMIT 1) AS first_job_id\nFROM job_listing.job_links\nWHERE date = $1\n  AND video_type = $2\n  AND video_created = FALSE;",
        "options": {
          "connectionTimeout": 30,
          "queryReplacement": "={{ $('Input Parameters').first().json.date }},{{ $('Input Parameters').first().json.video_type }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        1040
      ],
      "id": "cf4c8561-5f44-48e9-b7d1-de2d3e18a85d",
      "name": "Pending video count",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "yc7NiS95ggUrE59j",
          "name": "Postgres account (Server)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "79411c80-361f-4bd5-af88-51d5a292e724",
              "leftValue": "={{ $json.jobs_pending }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1952,
        832
      ],
      "id": "e0ec145d-8fe0-4614-8038-1d417372709e",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT count(*) as jobs_pending\nFROM job_listing.job_links\nWHERE date = $1\n  AND id >= $2::int\n  AND video_type = $4\n  AND (audio_added = FALSE OR script_added = FALSE)\nLIMIT $3::int;",
        "options": {
          "queryReplacement": "={{ [\n  $('Input Parameters').first().json.date,\n  Math.min($('Job Scrapper').isExecuted\n    ? $('Job Scrapper').item.json.first_job_id\n    : Infinity,\n  $('Pending video count').item.json.first_job_id),\n  $('Input Parameters').first().json.video_count,\n  $('Input Parameters').first().json.video_type\n] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1728,
        832
      ],
      "id": "ef696ce9-af5b-48c8-a7fd-e0e767a6ffa6",
      "name": "Extract Job Openings",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "yc7NiS95ggUrE59j",
          "name": "Postgres account (Server)"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "da127bf3-6987-44b2-b6e7-2e1e0f222a1c",
              "name": "template_file",
              "value": "={{ $('Input Parameters').first().json.template_file }}",
              "type": "string"
            },
            {
              "id": "f71d0b32-a48b-4d9b-aedd-e226364acc5d",
              "name": "jobs",
              "value": "={{ $('Script Generator').item.json.jobs }}",
              "type": "array"
            },
            {
              "id": "a10c8641-500d-4bdf-b3e2-2fa5f20246d8",
              "name": "template_slide",
              "value": "={{ $('Script Generator').item.json.template_slide }}",
              "type": "number"
            },
            {
              "id": "8027eacc-e30a-4c13-a09e-5a25b2f59918",
              "name": "old_text",
              "value": "={{ $('Script Generator').item.json.old_text }}",
              "type": "object"
            },
            {
              "id": "ca651d0a-1ae5-40f5-bdf9-120efe4e469a",
              "name": "initial_point",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2176,
        832
      ],
      "id": "737893ef-9e56-4742-80fe-0fbe7c70129d",
      "name": "Script Generator Output"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "7x2kP8hsfNCvf5dY",
          "mode": "list",
          "cachedResultUrl": "/workflow/7x2kP8hsfNCvf5dY",
          "cachedResultName": "Get Global Data in JSON Format From Data Tables"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "required_fields": "[\n  \"date\",\n  \"weekday\",\n  \"api_url\",\n  \"api_key\",\n  \"jnn__yt-ch1__batch_size\",\n  \"jnn__yt-ch1__max_epoch\",\n  \"jnn__yt-ch1__video_count\",\n  \"jnn__yt-ch1__job_portal_list\",\n  \"jnn__yt-ch1__template_file\",\n  \"jnn__yt-ch1__video_type\"\n]"
          },
          "matchingColumns": [
            "required_fields"
          ],
          "schema": [
            {
              "id": "required_fields",
              "displayName": "required_fields",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "array",
              "removed": false
            }
          ],
          "attemptToConvertTypes": true,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        672,
        1472
      ],
      "id": "e9aaa89a-c1ea-41cb-a385-96ed83bc0e3d",
      "name": "Input Parameters"
    },
    {
      "parameters": {
        "url": "={{ (() => {   const path = $('Combine Videos2').item.json.file_path;   return path.startsWith(\"/\") ? path.slice(1) : path; })() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1952,
        1904
      ],
      "id": "17dacec9-7294-44b5-808c-24309b55bcd7",
      "name": "Get Video"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f92b730-1503-43ee-bde4-81408f1e86af",
              "name": "output",
              "value": "Max epoch reached, update the maxEpoch, or try again the next day",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1296,
        1456
      ],
      "id": "9c358cae-0e74-4819-8228-ad4435060d62",
      "name": "Epoch Overflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c2d695ea-700d-44a2-b4f0-0610cf8e9852",
              "leftValue": "={{ $json.rows_updated }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1088,
        1472
      ],
      "id": "1b75661b-1f2e-4cc2-80bb-46f31825e824",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH updated AS (\n  UPDATE job_listing.mp4_list\n  SET \n      status = 'failed'\n  WHERE\n      date = $1\n      AND status = 'running'\n      AND (CURRENT_TIME::time - start_time::time) > INTERVAL '1 hour'\n  RETURNING id\n)\nSELECT COUNT(*)::int as rows_updated FROM updated;",
        "options": {
          "queryReplacement": "= {{ $('Input Parameters').item.json.date }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        880,
        1472
      ],
      "id": "45218544-df7e-4982-a163-52e50d50871d",
      "name": "Fail old unsuccessful runs",
      "credentials": {
        "postgres": {
          "id": "yc7NiS95ggUrE59j",
          "name": "Postgres account (Server)"
        }
      }
    },
    {
      "parameters": {
        "channels": "jnn:job:queue",
        "options": {}
      },
      "type": "n8n-nodes-base.redisTrigger",
      "typeVersion": 1,
      "position": [
        432,
        1296
      ],
      "id": "e191a1ac-5650-4b68-9bd0-dd9bbf9b5172",
      "name": "Redis Trigger",
      "credentials": {
        "redis": {
          "id": "rllwig8hhSor55Ls",
          "name": "Redis account"
        }
      }
    }
  ],
  "connections": {
    "Job Scrapper": {
      "main": [
        [
          {
            "node": "Script Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Job Scrape Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Video": {
      "main": [
        [
          {
            "node": "Save Video Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Re-iterate Script Output": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Job Scrapper",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Script Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Get Video Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Re-iterate Script Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Combine Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Videos": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UUID Generator": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UUID Generator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "UUID Generator",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Combine Videos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Videos1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Videos2": {
      "main": [
        [
          {
            "node": "Update Video Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UUID Generator1": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Combine Videos2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Video Output": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video Output": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Save Video Details",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fail old unsuccessful runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Video Details": {
      "main": [
        [
          {
            "node": "Pending video count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Video Created": {
      "main": [
        [
          {
            "node": "Get Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Generator": {
      "main": [
        [
          {
            "node": "Extract Job Openings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a video": {
      "main": [
        []
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Input Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Video Details": {
      "main": [
        [
          {
            "node": "Set Video Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get current epoch": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pending video count": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Script Generator Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Script Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Job Openings": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Generator Output": {
      "main": [
        [
          {
            "node": "Create Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Parameters": {
      "main": [
        [
          {
            "node": "Get current epoch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Video": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Epoch Overflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Input Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fail old unsuccessful runs": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Trigger": {
      "main": [
        [
          {
            "node": "Input Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "callerPolicy": "workflowsFromSameOwner",
    "executionTimeout": -1,
    "availableInMCP": false,
    "errorWorkflow": "3LEV6jB7r0TQcMN6",
    "saveDataSuccessExecution": "all",
    "timeSavedMode": "fixed",
    "timeSavedPerExecution": 40
  },
  "staticData": {
    "node:Schedule Trigger (15)": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger (30)": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger (0)": {
      "recurrenceRules": []
    },
    "node:Schedule Trigger (45)": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3fcc524a2177e7ddb4a539aaa7c79d9f30b9b0ada55dc8bc7dd873b11ec37e51"
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "446ca773-57f4-4e90-b095-28e8d05cb1a3",
  "activeVersionId": "446ca773-57f4-4e90-b095-28e8d05cb1a3",
  "versionCounter": 555,
  "triggerCount": 1,
  "sourceWorkflowId": null,
  "tags": [
    {
      "updatedAt": "2026-02-04T18:01:27.216Z",
      "createdAt": "2026-02-04T18:01:27.216Z",
      "id": "EOGY9r6938d9uT4V",
      "name": "Main-Workflow"
    },
    {
      "updatedAt": "2026-05-16T22:08:55.159Z",
      "createdAt": "2026-05-16T22:08:55.159Z",
      "id": "uRLukwQ6lXVe1ia9",
      "name": "F-JNN"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-05-16T22:34:38.277Z",
      "createdAt": "2026-05-16T22:34:38.277Z",
      "role": "workflow:owner",
      "workflowId": "qdTPjAJEFePSZNC5",
      "projectId": "i6SPWKiaev6Io6So",
      "project": {
        "updatedAt": "2026-05-16T22:27:54.117Z",
        "createdAt": "2026-05-16T22:26:58.253Z",
        "id": "i6SPWKiaev6Io6So",
        "name": "Atharva Devasthali <atharvadevasthali22@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "bbfd9b91-c218-420f-985d-bbb81f401ca4"
      }
    }
  ],
  "versionMetadata": {
    "name": "Version 446ca773",
    "description": ""
  },
  "parentFolder": "Youtube Stream (JNN)",
  "parentFolderId": "yX1BtvrIqWbmETdj"
}
