n8n-workflows/workflows/s9S_YmWfN9INPvqdzWAQq.json
{"updatedAt":"2026-04-23T02:47:51.329Z","createdAt":"2026-04-23T00:49:59.476Z","id":"s9S_YmWfN9INPvqdzWAQq","name":"Youtube Video Upload","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79411c80-361f-4bd5-af88-51d5a292e724","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}},{"id":"560b4461-0fec-48e9-a16f-518b9364b98c","leftValue":"={{ $json.mp4_name }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-400,400],"id":"87b31c1c-a9ee-4013-8971-8cf33e1ba081","name":"If"},{"parameters":{"fileSelector":"={{ (() => {\n  const path = $('Combine Videos2').item.json.file_path;\n  return path.startsWith(\"/\") ? path.slice(1) : path;\n})() }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[672,1056],"id":"00d9f0a6-3937-4f0b-a662-e0e8e134e9d3","name":"Get Video file","executeOnce":true},{"parameters":{"workflowId":{"__rl":true,"value":"2Kbv7D61qx6QiovN","mode":"list","cachedResultUrl":"/workflow/2Kbv7D61qx6QiovN","cachedResultName":"Job Scrapper"},"workflowInputs":{"mappingMode":"defineBelow","value":{"weekday":"={{ $('Input Parameters').item.json.weekday }}","pages_scrapped":"={{ (() => {\n  const maxEpoch = $('Input Parameters').item.json.maxEpoch;\n  const list = $('Input Parameters').item.json.job_portal_list;\n  const epoch = $('Save Video Details').item.json.epoch;\n  const index = epoch % Math.floor(maxEpoch / list.length);\n\n  return (!$('Updated Input Parameters').isExecuted || index == 0)\n    ? 0\n    : $('Updated Input Parameters').item.json.pages_scrapped;\n})() }}","num_of_jobs":"={{ $('Input Parameters').item.json.video_count }}","scrape_by_weekday":false,"job_portal":"={{ (() => {\n  const maxEpoch = $('Input Parameters').item.json.maxEpoch;\n  const list = $('Input Parameters').item.json.job_portal_list;\n  const epoch = $('Save Video Details').item.json.epoch;\n  const index = Math.floor(epoch / Math.floor(maxEpoch / list.length));\n  return list[index];\n})() }}","additional_date":0},"matchingColumns":[],"schema":[{"id":"scrape_by_weekday","displayName":"scrape_by_weekday","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"job_portal","displayName":"job_portal","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"weekday","displayName":"weekday","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"pages_scrapped","displayName":"pages_scrapped","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"num_of_jobs","displayName":"num_of_jobs","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number"},{"id":"additional_date","displayName":"additional_date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[16,176],"id":"1b6a3e6a-2257-4ef4-832d-a5ebcfbc6a26","name":"Job Scrapper","onError":"continueErrorOutput"},{"parameters":{"workflowId":{"__rl":true,"value":"HmMxxv4eZOZGzrOl","mode":"list","cachedResultUrl":"/workflow/HmMxxv4eZOZGzrOl","cachedResultName":"Video Creation"},"workflowInputs":{"mappingMode":"defineBelow","value":{"old_text":"={{ $json.old_text }}","jobs":"={{ $json.jobs }}","template_slide":"={{ $json.template_slide }}","date":"={{ $('Input Parameters').item.json.date }}","batch_size":"={{ $('Input Parameters').item.json.batch_size }}","initial_point":"={{ $json.initial_point }}"},"matchingColumns":[],"schema":[{"id":"template_slide","displayName":"template_slide","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"old_text","displayName":"old_text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"jobs","displayName":"jobs","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"batch_size","displayName":"batch_size","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"initial_point","displayName":"initial_point","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[240,176],"id":"e247c3f9-6f74-43da-809b-713e3a84169f","name":"Create Video","retryOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"b8e255a5-8b56-4224-a85b-e21881e026c6","name":"date","value":"={{ $now.format('yyyy-MM-dd') }}","type":"string"},{"id":"29a086c4-0514-4f34-ab0e-2234db7f7d6a","name":"weekday","value":"={{ $now.weekdayLong }}","type":"string"},{"id":"10abb99a-b653-4fee-8c78-34f6f903d5de","name":"batch_size","value":5,"type":"number"},{"id":"3823dee2-05fb-41b8-96f0-6594fba40296","name":"epoch","value":"={{ $json.epoch || 0 }}","type":"number"},{"id":"307c8dd9-8515-4a24-8eff-931b6fce02c5","name":"maxEpoch","value":18,"type":"number"},{"id":"6c331611-464f-4fc3-b770-efeb8753b264","name":"video_count","value":10,"type":"number"},{"id":"9b3d73f6-d00e-42ab-824c-92dab6e01370","name":"job_portal_list","value":"[\"LinkedIn\",\"Foundit\",\"Internshala\"]","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-608,624],"id":"a5798ecb-1fbe-4dc7-a6d7-ecf1e9de4c65","name":"Input Parameters"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79411c80-361f-4bd5-af88-51d5a292e724","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,-48],"id":"8cf7f04b-cb5e-41ee-9e3b-696ad56e5c11","name":"If1"},{"parameters":{"assignments":{"assignments":[{"id":"f71d0b32-a48b-4d9b-aedd-e226364acc5d","name":"jobs","value":"={{ $('Script Generator').item.json.jobs }}","type":"array"},{"id":"a10c8641-500d-4bdf-b3e2-2fa5f20246d8","name":"template_slide","value":"={{ $('Script Generator').item.json.template_slide }}","type":"number"},{"id":"8027eacc-e30a-4c13-a09e-5a25b2f59918","name":"old_text","value":"={{ $('Script Generator').item.json.old_text }}","type":"object"},{"id":"ca651d0a-1ae5-40f5-bdf9-120efe4e469a","name":"initial_point","value":0,"type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,-48],"id":"1e886ff9-0738-404b-8b73-10662a02dee1","name":"Script Generator Output"},{"parameters":{"assignments":{"assignments":[{"id":"ab03ac81-782e-4090-81bf-cc70f1dcaf7e","name":"jobs","value":"={{ $('Script Generator Output').item.json.jobs }}","type":"array"},{"id":"baf77441-cfe3-4955-818d-ce777c60a644","name":"template_slide","value":"={{ $('Script Generator Output').item.json.template_slide }}","type":"number"},{"id":"851dc740-573c-42cd-8a56-ad16b584a632","name":"old_text","value":"={{ $('Script Generator Output').item.json.old_text }}","type":"object"},{"id":"80d0acac-ee77-4d38-808c-4d727b4a75d1","name":"initial_point","value":"={{ parseInt($json.video_file_name.at(-1).split('-')[1].split('.')[0], 10) }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,176],"id":"ddae5236-601d-437f-a913-14eedea79a14","name":"Re-iterate Script Output"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79411c80-361f-4bd5-af88-51d5a292e724","leftValue":"={{ $json }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-192,176],"id":"cb8fdf50-c5c7-4db7-ac66-f71968585f63","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5bcf32b5-5272-4bb5-8f71-7f8da2a2ebca","leftValue":"={{ $json.all_done }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[672,176],"id":"a8db28b1-50bf-46d9-8522-c2167e330c80","name":"If2"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,400],"id":"c6301607-5166-4801-a8a6-33d43aafff27","name":"Loop Over Items"},{"parameters":{"workflowId":{"__rl":true,"value":"66MHT0z3zhiYgblm","mode":"list","cachedResultUrl":"/workflow/66MHT0z3zhiYgblm","cachedResultName":"Combine Videos"},"workflowInputs":{"mappingMode":"defineBelow","value":{"video_file_name":"={{ $json.video_file_name }}","output_file_name":"={{ $json.output_file_name }}","include_intro_outro":false},"matchingColumns":[],"schema":[{"id":"video_file_name","displayName":"video_file_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"},{"id":"output_file_name","displayName":"output_file_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"include_intro_outro","displayName":"include_intro_outro","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[672,400],"id":"2d331cf3-ce42-4fbe-9974-eb5b95c5f5b1","name":"Combine Videos"},{"parameters":{"command":"=sh /sh_files/move_video.sh --filename {{ $json.filename }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[896,400],"id":"220d6789-a637-4a22-a485-bbb263eb9989","name":"Execute Command"},{"parameters":{"assignments":{"assignments":[{"id":"f1cfe255-c8cb-456d-9f50-4d92a8cb6ba0","name":"file_path","value":"={{ $('Combine Videos').item.json.file_path }}","type":"string"},{"id":"eec792f9-877e-4301-8589-835850026717","name":"filename","value":"={{ $('Combine Videos').item.json.filename }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1120,400],"id":"461461fc-fec7-4559-b690-3748ed0af732","name":"Edit Fields"},{"parameters":{"jsCode":"const batch_size = $('Input Parameters').first().json.batch_size;\nlet filename_list = []\nconst final_filename_list = []\nlet index = 0;\n\nfor (const item of $input.all()) {\n  if (index === batch_size) {\n    final_filename_list.push({\n      \"video_file_name\": filename_list\n    });\n    filename_list = [];\n    index = 0;\n  }\n  filename_list.push(item.json.filename);\n  index += 1;\n}\n\nif (filename_list.length !== 0) {\n  final_filename_list.push({\n    \"video_file_name\": filename_list\n  });\n}\n\nreturn {\n  json: {\n    output: final_filename_list,\n    id: $('Save Video Details').first().json.id,\n    date: $('Save Video Details').first().json.date,\n    epoch: parseInt($('Save Video Details').first().json.epoch, 10)\n  },\n  pairedItem: []\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,608],"id":"a2308593-1249-4716-8f35-4fe59c663b2d","name":"Code","executeOnce":false},{"parameters":{},"type":"n8n-nodes-guuid-generator.UUID Generator","typeVersion":1,"position":[1328,608],"id":"a43efddd-0efa-41c3-a2b2-b9b5d4276fcd","name":"UUID Generator"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[672,608],"id":"8fa241d5-cd15-414d-90d4-13a3406d76a4","name":"Split Out1"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[896,608],"id":"56a94382-d80c-41d4-9b34-2df36294cf57","name":"Loop Over Items1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"fe5ac474-93d3-4ee3-9cf9-88f5a59f7a43","leftValue":"={{ $json.output.length }}","rightValue":1,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[448,608],"id":"4b63606b-4adf-4be4-b0b6-fffd487e37f1","name":"If4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"479110b4-cbc2-441a-aacd-276758f8729f","leftValue":"={{ $json.video_file_name.length }}","rightValue":1,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1120,608],"id":"5a4cdf9b-63d9-4c7b-baa7-5980f0953cc1","name":"If5"},{"parameters":{"jsCode":"return {\n  json: {\n    \"video_file_name\": $(\"If5\").first().json.video_file_name,\n    \"output_file_name\": `pseudo_${$input.first().json.uuid}`\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1536,608],"id":"ed3d9173-ffe9-41af-8cc2-d65e262e0a8a","name":"Code1"},{"parameters":{"workflowId":{"__rl":true,"value":"66MHT0z3zhiYgblm","mode":"list","cachedResultUrl":"/workflow/66MHT0z3zhiYgblm","cachedResultName":"Combine Videos"},"workflowInputs":{"mappingMode":"defineBelow","value":{"video_file_name":"={{ $json.video_file_name }}","output_file_name":"={{ $json.output_file_name }}","include_intro_outro":false},"matchingColumns":[],"schema":[{"id":"video_file_name","displayName":"video_file_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"},{"id":"output_file_name","displayName":"output_file_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"include_intro_outro","displayName":"include_intro_outro","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1120,832],"id":"f9b5b4f9-4a93-49f8-80cf-25da31e3a79f","name":"Combine Videos1"},{"parameters":{"command":"=sh /sh_files/move_video.sh --filename {{ $json.filename }}"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1328,832],"id":"4bca7233-4a74-42e8-ac95-c39acc6cc8f7","name":"Execute Command1"},{"parameters":{"assignments":{"assignments":[{"id":"f1cfe255-c8cb-456d-9f50-4d92a8cb6ba0","name":"file_path","value":"={{ $('Combine Videos1').item.json.file_path }}","type":"string"},{"id":"eec792f9-877e-4301-8589-835850026717","name":"filename","value":"={{ $('Combine Videos1').item.json.filename }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1536,832],"id":"3c39bf48-bc8a-45ea-8235-29e0a808147d","name":"Edit Fields1"},{"parameters":{"assignments":{"assignments":[{"id":"68f6d883-c08c-47b2-9e90-e5defecedd2c","name":"file_path","value":"=/n8n_files/video_files/{{ $json.video_file_name[0] }}","type":"string"},{"id":"307ad4ba-d2d7-4ac7-9d0b-2fa5857f3508","name":"filename","value":"={{ $json.video_file_name[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,832],"id":"7d3946b0-c92c-4298-8c12-3eef3379e648","name":"Edit Fields2"},{"parameters":{"workflowId":{"__rl":true,"value":"66MHT0z3zhiYgblm","mode":"list","cachedResultUrl":"/workflow/66MHT0z3zhiYgblm","cachedResultName":"Combine Videos"},"workflowInputs":{"mappingMode":"defineBelow","value":{"include_intro_outro":true,"video_file_name":"={{ $json.video_file_name }}","output_file_name":"={{ $json.output_file_name }}"},"matchingColumns":[],"schema":[{"id":"video_file_name","displayName":"video_file_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array"},{"id":"output_file_name","displayName":"output_file_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"include_intro_outro","displayName":"include_intro_outro","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean"}],"attemptToConvertTypes":true,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[448,832],"id":"4419c844-f562-45a3-9b95-a84ffb8a38c1","name":"Combine Videos2"},{"parameters":{},"type":"n8n-nodes-guuid-generator.UUID Generator","typeVersion":1,"position":[240,1008],"id":"eea4a424-39a3-46b3-a826-2155b86e64e7","name":"UUID Generator1"},{"parameters":{"jsCode":"return {\n  json: {\n    \"video_file_name\": $(\"If4\").first().json.output[0].video_file_name,\n    \"output_file_name\": $input.first().json.uuid\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[240,832],"id":"f4d33b7b-1aab-4217-b3e5-995b929e29c4","name":"Code2"},{"parameters":{"operation":"append","values":{"keyValuePair":[{"name":"video_file_name","type":"array","value":"={{ $json.video_file_name }}"},{"name":"output_file_name","value":"={{ $json.output_file_name }}"},{"name":"all_done","type":"boolean","value":"={{ $json.all_done }}"}]}},"type":"CUSTOM.Workflow Variables","typeVersion":1,"position":[448,176],"id":"828fd487-61f7-49e9-8e3e-7a57f6909952","name":"Save Video Output"},{"parameters":{},"type":"CUSTOM.Workflow Variables","typeVersion":1,"position":[240,400],"id":"7b1c4480-c43b-49d2-9692-70f83ad2178c","name":"Get Video Output"},{"parameters":{"assignments":{"assignments":[{"id":"d859cbd9-cee8-4975-98e5-641e69161a78","name":"date","value":"={{ $json.date }}","type":"string"},{"id":"48441232-b67b-41fb-bf00-6e364fdac4b8","name":"epoch","value":"={{ parseInt($json.epoch, 10) + 1 }}","type":"number"},{"id":"c71c54bd-4dca-4e6e-99fb-8be9323f89b1","name":"pages_scrapped","value":"={{ $json.pages_scrapped }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,400],"id":"50938740-87fa-4442-93a2-8d214de73fdd","name":"Updated Input Parameters"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"28933c6a-4d74-4139-a26f-778095d29446","leftValue":"={{ $json.epoch }}","rightValue":"={{ $('Input Parameters').item.json.maxEpoch }}","operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[16,400],"id":"3942ded6-d95f-41f7-844f-07f19ebf1c7a","name":"If7"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"job_listing","mode":"list","cachedResultName":"job_listing"},"table":{"__rl":true,"value":"mp4_list","mode":"list","cachedResultName":"mp4_list"},"where":{"values":[{"column":"date","value":"={{ $json.date }}"},{"column":"epoch","value":"={{ $json.epoch }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-608,400],"id":"76530cb9-775d-44f5-8b65-ca0f68e36101","name":"Get video list","alwaysOutputData":true},{"parameters":{"operation":"upsert","schema":{"__rl":true,"value":"job_listing","mode":"list","cachedResultName":"job_listing"},"table":{"__rl":true,"value":"mp4_list","mode":"list","cachedResultName":"mp4_list"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $json.id || $execution.id }}","epoch":"={{ \n  $('Updated Input Parameters').isExecuted \n    ? $('Updated Input Parameters').item.json.epoch \n    : $('Input Parameters').item.json.epoch \n}}","date":"={{ $now.format('yyyy-MM-dd') }}","start_time":"={{ $now.format('HH:mm') }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":false},{"id":"epoch","displayName":"epoch","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":false},{"id":"start_time","displayName":"start_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":false,"removed":false},{"id":"end_time","displayName":"end_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":false,"removed":true},{"id":"mp4_name","displayName":"mp4_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"mp4_path","displayName":"mp4_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":false,"removed":true},{"id":"pages_scrapped","displayName":"pages_scrapped","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":false,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-608,176],"id":"b914faed-6096-47a6-903d-9ba4d82d423e","name":"Save Video Details"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"job_listing","mode":"list","cachedResultName":"job_listing"},"table":{"__rl":true,"value":"job_links","mode":"list","cachedResultName":"job_links"},"limit":1,"where":{"values":[{"column":"date","value":"={{ $('Input Parameters').item.json.date }}"},{"column":"video_created","value":"false"}]},"sort":{"values":[{"column":"id"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-400,176],"id":"f9ff14d8-c2f0-4734-a922-b11bab332037","name":"Get job list","alwaysOutputData":true},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM job_listing.job_links\nWHERE date=$1 AND (audio_added=false OR script_added=false) AND video_created=false\nORDER BY id ASC\nLIMIT 1","options":{"queryReplacement":"={{ $('Input Parameters').item.json.date }}"}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[672,-48],"id":"5e9d7ce4-0592-468e-86b9-c28c86e74b04","name":"Extract Job Openings","alwaysOutputData":true},{"parameters":{"operation":"executeQuery","query":"UPDATE job_listing.job_links\nSET video_created = true\nWHERE date = '{{ $('Code').item.json.date }}'\n  AND video_created = false;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[448,1056],"id":"13963380-efdd-4837-a736-9f8472ca07e9","name":"Set Video Created"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"job_listing","mode":"list","cachedResultName":"job_listing"},"table":{"__rl":true,"value":"mp4_list","mode":"list","cachedResultName":"mp4_list"},"columns":{"mappingMode":"defineBelow","value":{"id":"={{ $('Save Video Details').item.json.id }}","pages_scrapped":"={{ $json.pages_scrapped }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"epoch","displayName":"epoch","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"start_time","displayName":"start_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"end_time","displayName":"end_time","required":false,"defaultMatch":false,"display":true,"type":"time","canBeUsedToMatch":true,"removed":true},{"id":"mp4_name","displayName":"mp4_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mp4_path","displayName":"mp4_path","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pages_scrapped","displayName":"pages_scrapped","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[16,-48],"id":"cc0fa94a-993e-4129-a351-042997b47e4f","name":"Update rows in a table","disabled":true},{"parameters":{"workflowId":{"__rl":true,"value":"3CV8vOr3daIHXK6X","mode":"list","cachedResultUrl":"/workflow/3CV8vOr3daIHXK6X","cachedResultName":"Script Generator"},"workflowInputs":{"mappingMode":"defineBelow","value":{"date":"={{ $('Input Parameters').first().json.date }}","test_mode":false,"maxCount":"={{ $('Input Parameters').first().json.batch_size }}"},"matchingColumns":["date"],"schema":[{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"test_mode","displayName":"test_mode","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"boolean","removed":false},{"id":"maxCount","displayName":"maxCount","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[240,-48],"id":"867205e2-7a89-428e-b14c-ecb3297fb5a2","name":"Script Generator","retryOnFail":true,"executeOnce":true},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"value":"job_listing","mode":"list","cachedResultName":"job_listing"},"table":{"__rl":true,"value":"job_links","mode":"list","cachedResultName":"job_links"},"deleteCommand":"delete","where":{"values":[{"column":"video_created","value":"false"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-688,1024],"id":"924b0aa1-7a2b-42f0-a5ab-5c4ad6d42785","name":"Update Video Details1"},{"parameters":{"resource":"video","operation":"upload","title":"={{ $('Code').item.json.date.split('T').at(0) }}  | Job News Show {{ $('Code').item.json.epoch + 1 }}","regionCode":"IN","categoryId":"27","options":{"description":"={{ $('Code').item.json.date.split('T').at(0) }}  | Job News Show {{ $('Code').item.json.epoch + 1 }}"}},"type":"n8n-nodes-base.youTube","typeVersion":1,"position":[896,1056],"id":"58abd264-5a32-479e-a8f0-24837d41dbd6","name":"Upload a video","disabled":true,"onError":"continueRegularOutput"},{"parameters":{"command":"sh /sh_files/cleanup.sh --confirm"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-272,1008],"id":"0e745b83-85a0-4cc1-8bbd-a141413178cb","name":"Folder files cleanup"},{"parameters":{"command":"id -u  # Check your current user ID\necho \"----\"\nls -ln n8n_files\necho \"----\"\nls -ln n8n_files/img_video_files"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-32,1008],"id":"b3174614-463a-43d3-b42a-d441747dd4a1","name":"Execute Command2"},{"parameters":{"command":"sh /sh_files/cleanup.sh --confirm"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1328,1056],"id":"f9fe9c71-360b-4973-88f5-979800249c29","name":"Execute Command4"},{"parameters":{"operation":"deleteTable","schema":{"__rl":true,"value":"job_listing","mode":"list","cachedResultName":"job_listing"},"table":{"__rl":true,"value":"mp4_list","mode":"list","cachedResultName":"mp4_list"},"deleteCommand":"delete","where":{"values":[{"column":"end_time","value":"={{ null }}"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-480,992],"id":"84d83746-b402-4f05-8257-5e0b40ca18c4","name":"Update Video Details3"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"job_listing","mode":"list","cachedResultName":"job_listing"},"table":{"__rl":true,"value":"job_links","mode":"list","cachedResultName":"job_links"},"columns":{"mappingMode":"defineBelow","value":{"video_created":false,"audio_added":false,"audio_file_name":"={{ null }}"},"matchingColumns":["video_created"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":true},{"id":"company_name","displayName":"company_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"position","displayName":"position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"experience_required","displayName":"experience_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"skills_required","displayName":"skills_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"job_type","displayName":"job_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"audio_added","displayName":"audio_added","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false},{"id":"audio_file_name","displayName":"audio_file_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"script_added","displayName":"script_added","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"script","displayName":"script","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"video_created","displayName":"video_created","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-544,1200],"id":"a5877541-1dfd-44af-b66f-32ab19155adf","name":"Update Video Details4"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[448,-48],"id":"7b220803-3433-421a-8984-dd06b5e9862f","name":"Wait 10 sec","webhookId":"941a9d16-993f-4404-917f-68798491412c"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1024,800],"id":"fa25d5d2-3061-4993-8520-7567a80c4e68","name":"When clicking ‘Execute workflow’"},{"parameters":{"command":"sh /sh_files/cleanup.sh --confirm\n"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[-800,624],"id":"757afdeb-cf2f-419c-8b03-67c7df8cda55","name":"Folder files cleanup1"},{"parameters":{"operation":"executeQuery","query":"UPDATE job_listing.job_links\nSET audio_added=false, audio_file_name=''\nWHERE video_created=false;","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-800,800],"id":"e06627fb-cdfc-40c7-af86-20f7d123669e","name":"Update Video Details (if video not created)"},{"parameters":{"workflowId":{"__rl":true,"value":"ZyRPbgnaKH8JFLLP","mode":"list","cachedResultUrl":"/workflow/ZyRPbgnaKH8JFLLP","cachedResultName":"Add New Video to Stream"},"workflowInputs":{"mappingMode":"defineBelow","value":{"video_file_name":"={{ $('Combine Videos2').first().json.filename }}"},"matchingColumns":[],"schema":[{"id":"video_file_name","displayName":"video_file_name","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1120,1056],"id":"e97d3deb-c06d-4211-8e26-55ea342ae4f7","name":"Add New Video to Stream","disabled":true,"onError":"continueRegularOutput"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-1024,624],"id":"00a0779d-47c2-4ee6-92f4-4591a494d4bc","name":"Pass"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 15 3,6,9,12,15 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1248,720],"id":"e9b29e64-d5ab-44b4-b8cc-e5fdb50d167f","name":"Schedule Trigger (15)"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 30 2,5,8,11,14,17 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1248,896],"id":"6f49b07d-2502-4dc1-a258-8892220e6afe","name":"Schedule Trigger (30)"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 0 1,4,7,10,13,16 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1248,368],"id":"b01541b2-0187-4025-b05f-ec68f645fc46","name":"Schedule Trigger (0)"},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 45 1,4,7,10,13,16 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1248,544],"id":"17c39f4e-07e6-40bf-ad86-856aac32655f","name":"Schedule Trigger (45)"},{"parameters":{"assignments":{"assignments":[{"id":"2f92b730-1503-43ee-bde4-81408f1e86af","name":"output","value":"Max epoch reached, update the maxEpoch, or try again the next day","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,624],"id":"e790f9e1-610c-49c4-851e-c9ea4cee9363","name":"Epoch Overflow"},{"parameters":{"operation":"executeQuery","query":"UPDATE job_listing.mp4_list\nSET \n    end_time = '{{ $now.format('HH:mm') }}',\n    mp4_name = '{{ $json.filename }}',\n    mp4_path = '{{ $json.file_path }}'\nWHERE \n    id = {{ $('Code').item.json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[672,832],"id":"cdcac955-0122-4d22-b9c4-888871e007d3","name":"Update Video Details"},{"parameters":{"operation":"executeQuery","query":"UPDATE job_listing.mp4_list\nSET \n    end_time = '{{ $now.format('HH:mm') }}'\nWHERE \n    id = {{ $('Save Video Details').item.json.id }};","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[-192,672],"id":"9151a352-2209-44f3-ad13-8065e10f58c8","name":"Update Video Details2"},{"parameters":{"errorMessage":"={{ $('Job Scrapper').item.json.error }}"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[16,672],"id":"f60c5d62-2c7b-415c-88fa-d2046587a94a","name":"Job Scrape Error"}],"connections":{"If":{"main":[[{"node":"Save Video Details","type":"main","index":0}],[{"node":"Updated Input Parameters","type":"main","index":0}]]},"Get Video file":{"main":[[{"node":"Upload a video","type":"main","index":0}]]},"Job Scrapper":{"main":[[{"node":"Update rows in a table","type":"main","index":0}],[{"node":"Update Video Details2","type":"main","index":0}]]},"Create Video":{"main":[[{"node":"Save Video Output","type":"main","index":0}]]},"Input Parameters":{"main":[[{"node":"Get video list","type":"main","index":0}]]},"If1":{"main":[[{"node":"Script Generator Output","type":"main","index":0}],[{"node":"Script Generator","type":"main","index":0}]]},"Script Generator Output":{"main":[[{"node":"Create Video","type":"main","index":0}]]},"Re-iterate Script Output":{"main":[[{"node":"Create Video","type":"main","index":0}]]},"If3":{"main":[[{"node":"Job Scrapper","type":"main","index":0}],[{"node":"Script Generator","type":"main","index":0}]]},"If2":{"main":[[{"node":"Get Video Output","type":"main","index":0}],[{"node":"Re-iterate Script Output","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Combine Videos","type":"main","index":0}]]},"Combine Videos":{"main":[[{"node":"Execute Command","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If4","type":"main","index":0}]]},"UUID Generator":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"If5","type":"main","index":0}]]},"If4":{"main":[[{"node":"Split Out1","type":"main","index":0}],[{"node":"UUID Generator1","type":"main","index":0}]]},"If5":{"main":[[{"node":"UUID Generator","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Combine Videos1","type":"main","index":0}]]},"Combine Videos1":{"main":[[{"node":"Execute Command1","type":"main","index":0}]]},"Execute Command1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Combine Videos2":{"main":[[{"node":"Update Video Details","type":"main","index":0}]]},"UUID Generator1":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Combine Videos2","type":"main","index":0}]]},"Save Video Output":{"main":[[{"node":"If2","type":"main","index":0}]]},"Get Video Output":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Updated Input Parameters":{"main":[[{"node":"If7","type":"main","index":0}]]},"If7":{"main":[[{"node":"Get video list","type":"main","index":0}],[{"node":"Epoch Overflow","type":"main","index":0}]]},"Get video list":{"main":[[{"node":"If","type":"main","index":0}]]},"Save Video Details":{"main":[[{"node":"Get job list","type":"main","index":0}]]},"Get job list":{"main":[[{"node":"If3","type":"main","index":0}]]},"Extract Job Openings":{"main":[[{"node":"If1","type":"main","index":0}]]},"Set Video Created":{"main":[[{"node":"Get Video file","type":"main","index":0}]]},"Update rows in a table":{"main":[[{"node":"Script Generator","type":"main","index":0}]]},"Script Generator":{"main":[[{"node":"Wait 10 sec","type":"main","index":0}]]},"Update Video Details1":{"main":[[{"node":"Update Video Details3","type":"main","index":0}]]},"Upload a video":{"main":[[{"node":"Add New Video to Stream","type":"main","index":0}]]},"Update Video Details3":{"main":[[{"node":"Folder files cleanup","type":"main","index":0}]]},"Update Video Details4":{"main":[[{"node":"Folder files cleanup","type":"main","index":0}]]},"Wait 10 sec":{"main":[[{"node":"Extract Job Openings","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Update Video Details (if video not created)","type":"main","index":0}]]},"Folder files cleanup1":{"main":[[{"node":"Input Parameters","type":"main","index":0}]]},"Update Video Details (if video not created)":{"main":[[{"node":"Folder files cleanup1","type":"main","index":0}]]},"Add New Video to Stream":{"main":[[{"node":"Execute Command4","type":"main","index":0}]]},"Pass":{"main":[[{"node":"Update Video Details (if video not created)","type":"main","index":0}]]},"Schedule Trigger (15)":{"main":[[{"node":"Pass","type":"main","index":0}]]},"Schedule Trigger (30)":{"main":[[{"node":"Pass","type":"main","index":0}]]},"Schedule Trigger (0)":{"main":[[{"node":"Pass","type":"main","index":0}]]},"Schedule Trigger (45)":{"main":[[{"node":"Pass","type":"main","index":0}]]},"Update Video Details":{"main":[[{"node":"Set Video Created","type":"main","index":0}]]},"Update Video Details2":{"main":[[{"node":"Job Scrape Error","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"f666f9ce-bf5b-46e0-b7aa-cd406b11a273","activeVersionId":null,"versionCounter":4,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-23T00:49:59.476Z","createdAt":"2026-04-23T00:49:59.476Z","role":"workflow:owner","workflowId":"s9S_YmWfN9INPvqdzWAQq","projectId":"r4FxHAXU5mmnE4p2","project":{"updatedAt":"2026-04-23T00:46:33.004Z","createdAt":"2026-04-23T00:44:53.719Z","id":"r4FxHAXU5mmnE4p2","name":"Atharva Devasthali <atharvadevasthali22@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"d151c88d-c353-4d5e-91ee-dd52a5a7fbdc"}}],"versionMetadata":{"name":null,"description":null}}