n8n-workflows/workflows/SdDrnfWPUjBxWSbt.json
{
  "updatedAt": "2026-06-06T22:29:27.145Z",
  "createdAt": "2026-05-16T22:33:36.234Z",
  "id": "SdDrnfWPUjBxWSbt",
  "name": "RAG Vector Store",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "url": "https://blog.atharvadevasthali.com/rss.xml",
        "options": {
          "customFields": "apiUrl"
        }
      },
      "id": "fb226e77-9e43-4fee-b90f-7dff4ed1460a",
      "name": "Fetch RSS Feed",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        -800,
        880
      ],
      "notes": "Replace with your actual RSS feed URL"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1008,
        880
      ],
      "id": "eb72e236-53eb-472f-98a5-c060d727f927",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-2"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        928
      ],
      "id": "fb1bb4c4-c1b7-49c8-a059-73b46f473e2f",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "kra2Ub4btsOqN3b8",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.body }}",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "created_time",
                "value": "={{ $json.pubDate }}"
              },
              {
                "name": "modified_time",
                "value": "={{ $json.updatedDate }}"
              },
              {
                "name": "document_id",
                "value": "={{ $json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        928
      ],
      "id": "1bf5d8df-719f-44a0-ab77-b6129e69b111",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "blog_documents",
          "mode": "list",
          "cachedResultName": "blog_documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        496,
        688
      ],
      "id": "e8ca7da9-86f7-471b-93f7-1909c0c483f7",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "D01YnOCn50b8KLPV",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        560,
        1104
      ],
      "id": "96448f7d-b998-45db-a6a9-14dd598fe47d",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  metadata->>'document_id' AS id,\n  MAX((metadata->>'modified_time')::timestamptz) AS last_modified\nFROM blog_documents\nWHERE metadata->>'document_id' = '{{ $json.id }}'\nGROUP BY metadata->>'document_id';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -192,
        688
      ],
      "id": "02235320-e5b6-43f4-889c-49979fca515a",
      "name": "Get Last Modified Time",
      "credentials": {
        "postgres": {
          "id": "382kEDpclD31hE4z",
          "name": "Postgres account (Supabase)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f98da0cf-b091-4dac-ac6a-5180c21756ab",
              "leftValue": "={{ $json.last_modified.split(\"T\")[0] }}",
              "rightValue": "={{ $today.format('yyyy-MM-dd') }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        256,
        688
      ],
      "id": "5d3d2069-e4d4-4047-bbee-c3d67a561186",
      "name": "Filter"
    },
    {
      "parameters": {
        "url": "={{ $json.apiUrl }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -592,
        880
      ],
      "id": "fc7adfaf-e0c5-4e4d-a16c-6826c333f3a8",
      "name": "Blog Content"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  '{{ $json.id }}' AS id,\n  EXISTS (\n    SELECT 1 FROM blog_documents\n    WHERE metadata->>'document_id' = '{{ $json.id }}'\n  ) AS exists;\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -592,
        704
      ],
      "id": "559c1e11-86c8-47ed-9f64-e46ac9c15b19",
      "name": "Get Document Count",
      "credentials": {
        "postgres": {
          "id": "382kEDpclD31hE4z",
          "name": "Postgres account (Supabase)"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8b588814-093b-4d35-8270-04e976955d77",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -192,
        880
      ],
      "id": "49cd9f60-6680-491d-8b62-2e81587d7658",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM blog_documents\nWHERE metadata->>'document_id' = '{{ $json.id }}';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        496,
        480
      ],
      "id": "5ad61524-e95f-4265-aab1-032207358333",
      "name": "Delete Previous Document Data",
      "credentials": {
        "postgres": {
          "id": "382kEDpclD31hE4z",
          "name": "Postgres account (Supabase)"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -384,
        880
      ],
      "id": "48da1a8c-c64c-4036-af6c-c3bdcf88d9d5",
      "name": "Merge"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        48,
        688
      ],
      "id": "2663c524-aa25-454b-ada2-5f5987a352d0",
      "name": "Merge1"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 0
            }
          ]
        },
        "feedUrl": "https://blog.atharvadevasthali.com/rss.xml"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        -800,
        1072
      ],
      "id": "4fa4bf35-8ade-4e17-a440-bcbb305df663",
      "name": "RSS Feed Trigger"
    }
  ],
  "connections": {
    "Fetch RSS Feed": {
      "main": [
        [
          {
            "node": "Blog Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Fetch RSS Feed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Modified Time": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          },
          {
            "node": "Delete Previous Document Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Content": {
      "main": [
        [
          {
            "node": "Get Document Count",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Document Count": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Previous Document Data": {
      "main": [
        []
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get Last Modified Time",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Blog Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3fcc524a2177e7ddb4a539aaa7c79d9f30b9b0ada55dc8bc7dd873b11ec37e51"
  },
  "nodeGroups": [],
  "pinData": {},
  "versionId": "9267a59b-7b3f-4c9d-98c6-014a3363f1bd",
  "activeVersionId": null,
  "versionCounter": 7,
  "triggerCount": 0,
  "sourceWorkflowId": null,
  "tags": [
    {
      "updatedAt": "2026-05-16T22:02:34.216Z",
      "createdAt": "2026-05-16T22:01:50.086Z",
      "id": "YRqkHjY75hzoArPU",
      "name": "F-BAA"
    }
  ],
  "shared": [
    {
      "updatedAt": "2026-05-16T22:33:36.234Z",
      "createdAt": "2026-05-16T22:33:36.234Z",
      "role": "workflow:owner",
      "workflowId": "SdDrnfWPUjBxWSbt",
      "projectId": "i6SPWKiaev6Io6So",
      "project": {
        "updatedAt": "2026-05-16T22:27:54.117Z",
        "createdAt": "2026-05-16T22:26:58.253Z",
        "id": "i6SPWKiaev6Io6So",
        "name": "Atharva Devasthali <atharvadevasthali22@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "customTelemetryTags": [],
        "creatorId": "bbfd9b91-c218-420f-985d-bbb81f401ca4"
      }
    }
  ],
  "versionMetadata": {
    "name": null,
    "description": null
  },
  "parentFolder": "Blog AI Agent",
  "parentFolderId": "Ne0DH8G118nBL2Y7"
}
