n8n-workflows/workflows/TVoj7tahROvCdte4.json
{"updatedAt":"2026-04-23T02:47:49.277Z","createdAt":"2026-04-23T02:29:48.856Z","id":"TVoj7tahROvCdte4","name":"Script Generator","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[528,-16],"id":"31444626-83cc-408e-8b1b-77cfd1d43210","name":"Loop Over Items1"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n  \"title\": \"Job Posting News Segment\",\n  \"type\": \"object\",\n  \"properties\": {\n    \"segment_title\": {\n      \"type\": \"string\",\n      \"description\": \"Concise title for this job segment, e.g., 'Careers Update' or 'Job Spotlight'.\",\n      \"minLength\": 1,\n      \"maxLength\": 100\n    },\n    \"job_overview\": {\n      \"type\": \"string\",\n      \"description\": \"Precise description of the role, company, location, and responsibilities.\",\n      \"minLength\": 1\n    },\n    \"qualifications_requirements\": {\n      \"type\": \"string\",\n      \"description\": \"Summary of necessary skills, experience, and education for the role.\",\n      \"minLength\": 1\n    },\n    \"skills_required\": {\n      \"type\": \"string\",\n      \"description\": \"List or short paragraph of specific technical or soft skills needed.\",\n      \"minLength\": 1\n    },\n    \"benefits_perks\": {\n      \"type\": \"string\",\n      \"description\": \"Outline any notable advantages or benefits of the position.\",\n      \"minLength\": 1\n    },\n    \"application_details\": {\n      \"type\": \"string\",\n      \"description\": \"Instructions on how to apply, with reference to 'link below' instead of including actual URLs.\",\n      \"minLength\": 1\n    }\n  },\n  \"required\": [\n    \"segment_title\",\n    \"job_overview\",\n    \"qualifications_requirements\",\n    \"skills_required\",\n    \"benefits_perks\",\n    \"application_details\"\n  ],\n  \"additionalProperties\": false\n}","autoFix":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[1088,176],"id":"fcc3d09a-9207-4075-bc9a-d6179d4c6414","name":"Structured Output Parser"},{"parameters":{"workflowInputs":{"values":[{"name":"date"},{"name":"test_mode","type":"boolean"},{"name":"maxCount","type":"number"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-112,-16],"id":"7af5dba9-5117-4eeb-a101-a0f237d3cf3b","name":"When Executed by Another Workflow"},{"parameters":{"jsCode":"const output = $input.first().json.output;\n\nreturn {\n  json: {\n    script: `${output.job_overview} ${output.qualifications_requirements} ${output.skills_required} ${output.benefits_perks} ${output.application_details}`\n  }\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,-16],"id":"072b5d04-9d5b-4055-899a-6601799eb12a","name":"Restructure Script"},{"parameters":{"workflowId":{"__rl":true,"value":"7Nx6lwYZ4Vb8vD8v","mode":"list","cachedResultUrl":"/workflow/7Nx6lwYZ4Vb8vD8v","cachedResultName":"Text to Voice Converter"},"workflowInputs":{"mappingMode":"defineBelow","value":{"text":"={{ $json.script }}"},"matchingColumns":["text"],"schema":[{"id":"text","displayName":"text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1024,352],"id":"0a03c79f-1f9c-4819-9c47-8a22f3261a22","name":"Text to Voice"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7d4d5b85-c4a7-4515-a83a-3f9da33e58e6","leftValue":"={{ $json.script_added }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"97c04698-78b9-4ec1-a9f0-a75105ebd590","leftValue":"={{ $json.index }}","rightValue":-1,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[752,0],"id":"62f981d6-79ed-4a38-b525-be34d2d7e6ae","name":"If"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[528,352],"id":"52162164-ef14-4984-bfa1-f89a4b358828","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"f041a24b-629b-4c07-b8a3-723fc3cb0727","leftValue":"={{ $json.audio_added }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}},{"id":"f6491ac8-e91b-4abf-8dba-e318d1a028c0","leftValue":"={{ $json.index }}","rightValue":-1,"operator":{"type":"number","operation":"notEquals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[752,368],"id":"dd75cec8-a441-4311-9482-10ed606ccc1d","name":"If1"},{"parameters":{"jsCode":"for (const item of $input.all()) {\n  item.json = {\n    \"jobs\": {\n      \"company_name\": item.json.company_name,\n      \"position\": item.json.position,\n      \"location\": item.json.location,\n      \"experience\": item.json.experience_required,\n      \"skills\": item.json.skills_required,\n      \"job_type\": item.json.job_type,\n      \"link\": item.json.link,\n      \"audio_file\": item.json.audio_file_name\n    }\n  }\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[528,656],"id":"b3f27b84-82e7-48b3-99d0-c6e33d753406","name":"Code"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"jobs"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[736,656],"id":"1f87cae4-2207-4498-822d-2f8abe4a371a","name":"Aggregate"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[944,656],"id":"19ae0870-5fb8-4a99-8170-8f3775efcf4f","name":"Merge"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"template_slide\": 0,\n  \"old_text\": {\n    \"company_name\": \"{{COMPANY_NAME}}\",\n    \"position\": \"{{POSITION}}\",\n    \"location\": \"{{LOCATION}}\",\n    \"experience\": \"{{EXPERIENCE}}\",\n    \"skills\": \"{{SKILLS}}\",\n    \"job_type\": \"{{JOB_TYPE}}\",\n    \"link\": \"{{LINK}}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[528,848],"id":"3bb9c350-90fb-4ec8-8743-c4d98687aee4","name":"Edit Fields"},{"parameters":{"workflowId":{"__rl":true,"value":"HmMxxv4eZOZGzrOl","mode":"list","cachedResultUrl":"/workflow/HmMxxv4eZOZGzrOl","cachedResultName":"Video Creation"},"workflowInputs":{"mappingMode":"defineBelow","value":{"old_text":"={{ $json.old_text }}","jobs":"={{ $json.jobs }}","template_slide":"={{ $json.template_slide }}","date":"={{ $('When Executed by Another Workflow').item.json.date }}","batch_size":5,"initial_point":0},"matchingColumns":[],"schema":[{"id":"template_slide","displayName":"template_slide","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"old_text","displayName":"old_text","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false},{"id":"jobs","displayName":"jobs","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"batch_size","displayName":"batch_size","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false},{"id":"initial_point","displayName":"initial_point","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1360,576],"id":"dd448358-716d-401c-8085-8484d15e28e5","name":"Create Video","retryOnFail":false},{"parameters":{"fileSelector":"={{ $json.file_path }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1552,576],"id":"6d8d6563-b2bd-45e8-8ac1-76817f579307","name":"Get Video file"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b6b8e99c-dd86-437e-944b-3f4364566032","leftValue":"={{ $('When Executed by Another Workflow').item.json.test_mode }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1152,656],"id":"ca7c51e5-c3bd-49fe-a48c-faced90a80d0","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1360,768],"id":"bb34d3bd-65db-41fe-b7c6-8de08dcdf52d","name":"Output"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1712,-16],"id":"322fe02c-a159-46be-a279-ef93c564a406","name":"Merge1"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1440,352],"id":"beb991c0-0cb9-487a-97bd-9869c1bcc434","name":"Merge2"},{"parameters":{"jsCode":"let count = 0;\nconst maxCount = $('When Executed by Another Workflow').first().json.maxCount;\n\nfor (const item of $input.all()) {\n  if ((!item.json.script_added || !item.json.audio_added) && count < maxCount) {\n    item.json.index = count;\n    count += 1;\n  } else {\n    item.json.index = -1;\n  }\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[304,-16],"id":"4e409914-77ff-4bd2-a643-eb15173c221f","name":"Code1"},{"parameters":{"operation":"select","schema":{"__rl":true,"value":"job_listing","mode":"list","cachedResultName":"job_listing"},"table":{"__rl":true,"value":"job_links","mode":"list","cachedResultName":"job_links"},"where":{"values":[{"column":"date","value":"={{ $json.date }}"},{"column":"video_created","value":"false"}]},"sort":{"values":[{"column":"id"}]},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[96,-16],"id":"a73e6586-c9dd-4db5-ab42-e8818e753b85","name":"Extract Job Openings"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"job_listing","mode":"list","cachedResultName":"job_listing"},"table":{"__rl":true,"value":"job_links","mode":"list","cachedResultName":"job_links"},"columns":{"mappingMode":"defineBelow","value":{"script_added":true,"id":"={{ $('Extract Job Openings').item.json.id }}","script":"={{ $('Restructure Script').item.json.script }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"company_name","displayName":"company_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"position","displayName":"position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"experience_required","displayName":"experience_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"skills_required","displayName":"skills_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"job_type","displayName":"job_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"audio_added","displayName":"audio_added","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"audio_file_name","displayName":"audio_file_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"script_added","displayName":"script_added","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"script","displayName":"script","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"video_created","displayName":"video_created","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1504,-16],"id":"f610cebc-95d7-4ccf-bdb6-91cd08672eb9","name":"Add Script"},{"parameters":{"operation":"update","schema":{"__rl":true,"value":"job_listing","mode":"list","cachedResultName":"job_listing"},"table":{"__rl":true,"value":"job_links","mode":"list","cachedResultName":"job_links"},"columns":{"mappingMode":"defineBelow","value":{"audio_added":true,"id":"={{ $('Extract Job Openings').item.json.id }}","audio_file_name":"={{ $binary.data.fileName }}"},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"number","canBeUsedToMatch":true,"removed":false},{"id":"company_name","displayName":"company_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"position","displayName":"position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"date","displayName":"date","required":false,"defaultMatch":false,"display":true,"type":"dateTime","canBeUsedToMatch":true,"removed":true},{"id":"experience_required","displayName":"experience_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"skills_required","displayName":"skills_required","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"job_type","displayName":"job_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"link","displayName":"link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"audio_added","displayName":"audio_added","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true},{"id":"audio_file_name","displayName":"audio_file_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"script_added","displayName":"script_added","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true},{"id":"script","displayName":"script","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"video_created","displayName":"video_created","required":false,"defaultMatch":false,"display":true,"type":"boolean","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.6,"position":[1232,352],"id":"33a93567-e899-4429-b022-21cd88f0c027","name":"Add Audio File"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[912,208],"id":"b7b940e9-651b-49f0-8931-1a745520beaf","name":"OpenAI Chat Model"},{"parameters":{"promptType":"define","text":"=Create a professional TV news channel script sub-narrative for a scheduled segment that highlights job postings.\n\n**JOB POSTING DETAILS:**\nCompany Name: {{ $json.company_name }}\nPosition: {{ $json.position }}\nLocation: {{ $json.location }}\nApply Link: {{ $json.link }}\n\n**TASK:**\nExtract the job description from the provided link and relevant sites for the specific job opening, then write a formal and concise broadcast script sub-narrative where:\n- The content focuses on the core job information without introduction or closing segments\n- The tone is professional, clear, and neutral\n- The segment follows a logical flow: job overview → qualifications → skills required → benefits/perks → application details\n- The script should be delivered as a single-voice narration suitable for AI audio generation\n- Avoid any conversational back-and-forth or multiple speakers\n- Keep sentences clear and well-paced for spoken delivery\n\n**OUTPUT REQUIREMENTS:**\nReturn a JSON object with these exact fields:\n- segment_title: A concise, engaging title for this job segment (e.g., \"Tech Careers Update\" or \"Engineering Opportunity Spotlight\")\n- job_overview: Precise description of the role, company, location, and responsibilities\n- qualifications_requirements: Summary of necessary skills, experience, and education\n- skills_required: List or short paragraph of specific technical or soft skills needed\n- benefits_perks: Outline any notable advantages or benefits of the position\n- application_details: Instructions on how to apply, referencing \"link below\" instead of actual URLs\n\n**GUIDELINES:**\n- Maintain a formal and respectful tone throughout\n- Avoid slang or casual language\n- If the job posting is missing details, fill in with realistic and relevant information\n- Ensure the script flows naturally when read aloud by AI text-to-speech\n- Do not include actual URLs or links in the script text as text-to-speech cannot deliver them properly","hasOutputParser":true,"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.9,"position":[960,-16],"id":"608d9477-5ce2-4de1-a7a3-40ab4753276b","name":"Script Generator"}],"connections":{"Loop Over Items1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"Script Generator","type":"ai_outputParser","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Extract Job Openings","type":"main","index":0}]]},"Restructure Script":{"main":[[{"node":"Add Script","type":"main","index":0}]]},"Text to Voice":{"main":[[{"node":"Add Audio File","type":"main","index":0}]]},"If":{"main":[[{"node":"Merge1","type":"main","index":0},{"node":"Script Generator","type":"main","index":0}],[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Text to Voice","type":"main","index":0},{"node":"Merge2","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"If2","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Create Video":{"main":[[{"node":"Get Video file","type":"main","index":0}]]},"If2":{"main":[[{"node":"Create Video","type":"main","index":0}],[{"node":"Output","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Merge2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Extract Job Openings":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Add Script":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Add Audio File":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0},{"node":"Script Generator","type":"ai_languageModel","index":0}]]},"Script Generator":{"main":[[{"node":"Restructure Script","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"pinData":{"When Executed by Another Workflow":[{"json":{"date":"2025-08-22","test_mode":true,"maxCount":99999}}]},"versionId":"b070e0c2-e313-4380-91e3-3c91b16b88ab","activeVersionId":null,"versionCounter":3,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-23T02:29:48.856Z","createdAt":"2026-04-23T02:29:48.856Z","role":"workflow:owner","workflowId":"TVoj7tahROvCdte4","projectId":"r4FxHAXU5mmnE4p2","project":{"updatedAt":"2026-04-23T00:46:33.004Z","createdAt":"2026-04-23T00:44:53.719Z","id":"r4FxHAXU5mmnE4p2","name":"Atharva Devasthali <atharvadevasthali22@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"d151c88d-c353-4d5e-91ee-dd52a5a7fbdc"}}],"versionMetadata":{"name":null,"description":null}}