n8n-workflows/workflows/U70VusNe52M23zpQ.json
{"updatedAt":"2026-05-09T17:07:28.898Z","createdAt":"2026-04-28T05:47:54.950Z","id":"U70VusNe52M23zpQ","name":"My workflow 3","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"voice-chat","responseMode":"responseNode","options":{}},"id":"c42d1d22-a448-4600-9800-4b93a9f5d88d","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[288,-144],"webhookId":"voice-chat"},{"parameters":{"promptType":"define","text":"={{ $json.body?.text ?? $json.text }}","options":{"systemMessage":"You are a friendly medication assistant for a healthcare reminder app. The user is talking to you by voice, and your reply will be spoken aloud — keep every response SHORT (1–3 sentences), conversational, and avoid bullet points or markdown.\n\nUse the tools provided:\n- get_schedule — to look up which medicines the user takes, the dosages, and the time slots.\n- mark_taken — when the user confirms they have just taken a medicine. Look up the medicine_id from get_schedule first.\n- snooze_reminder — when the user asks to be reminded later (e.g. \"remind me in 10 minutes\").\n\nFor general medication questions you may answer briefly from common knowledge, but always remind the user to confirm details with their doctor. Never invent medicine names, doses, or schedules — if you don't know, call get_schedule first.\n\nIf the user just wants to chat about how they're feeling, respond warmly and concisely; do not call tools unnecessarily."}},"id":"841e3d8a-e385-45ee-b27e-0acd06261af0","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[608,-144]},{"parameters":{"respondWith":"json","responseBody":"={{ { response: $json.output } }}","options":{}},"id":"f27af40e-1ec3-4954-9b00-d834f490cc59","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[976,-144]},{"parameters":{"sessionIdType":"customKey","sessionKey":"voice-chat-default","contextWindowLength":8},"id":"96fb316e-547d-4375-af2a-8d19baa20973","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[656,96],"notes":"TODO: parameterize sessionKey by user_id once the FastAPI server passes it in the request body."},{"parameters":{"url":"https://devn8nversion2.cjnnow.com/webhook/get-schedule","sendQuery":true,"parametersQuery":{"values":[{"name":"user_id"}]}},"id":"38288841-14bb-497e-8809-e3c5472dcd8a","name":"Get Schedule Tool","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[816,96],"notes":"Hardcoded user_id=1001 to match get-schedule's default. Parameterize when auth lands."},{"parameters":{"method":"POST","url":"https://devn8nversion2.cjnnow.com/webhook/mark-taken","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"medicines\": [\n    {\n      \"medicine_id\": \"{medicine_id}\",\n      \"medicine_name\": \"{medicine_name}\",\n      \"dosage\": \"{dosage}\"\n    }\n  ],\n  \"taken_at\": \"{{ $now.toISO() }}\",\n  \"timezone\": \"UTC\"\n}","placeholderDefinitions":{"values":[{"name":"medicine_id","description":"The id of the medicine, e.g. 'med-1', from get_schedule","type":"string"},{"name":"medicine_name","description":"Human-readable medicine name from get_schedule","type":"string"},{"name":"dosage","description":"Dosage string from get_schedule, e.g. '5mg'","type":"string"}]}},"id":"a2493cf8-4b93-4db5-8ff5-3c03f23d32bb","name":"Mark Taken Tool","type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[976,96]},{"parameters":{"name":"snooze_reminder","description":"Record a request to be reminded again about the current medication after N minutes. Use when the user asks 'remind me in X minutes' or similar.","jsCode":"// v1 stub: there is no server-side scheduler yet, and device-side reminders\n// are owned by the Flutter app's flutter_local_notifications. This tool just\n// echoes a confirmation so the LLM can phrase a verbal acknowledgement.\n// TODO: when a server-side reminder queue exists, write to it here and have\n// the Flutter app poll / push.\nconst minutes = Number(query.minutes ?? 10);\nreturn { snoozed: true, minutes, note: 'no-op stub; reminder not actually scheduled yet' };"},"id":"fa6a5bc5-4c13-4422-a4fe-70ddff05ca70","name":"Snooze Reminder Tool","type":"@n8n/n8n-nodes-langchain.toolCode","typeVersion":1.1,"position":[1136,96]},{"parameters":{"model":"openai/gpt-4.1-nano","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[480,96],"id":"59f51e36-6561-40c2-acde-cb24d17d3755","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"ZOsMSA2673vhlLZX","name":"OpenRouter account"}}}],"connections":{"Webhook":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Get Schedule Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Mark Taken Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Snooze Reminder Tool":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"933a5f84-df65-4b0d-b744-6364ae10315f","activeVersionId":null,"versionCounter":24,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-04-28T05:47:54.950Z","createdAt":"2026-04-28T05:47:54.950Z","role":"workflow:owner","workflowId":"U70VusNe52M23zpQ","projectId":"r4FxHAXU5mmnE4p2","project":{"updatedAt":"2026-04-23T00:46:33.004Z","createdAt":"2026-04-23T00:44:53.719Z","id":"r4FxHAXU5mmnE4p2","name":"Atharva Devasthali <atharvadevasthali22@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"d151c88d-c353-4d5e-91ee-dd52a5a7fbdc"}}],"versionMetadata":{"name":null,"description":null}}